{% extends "_templates/adminpage.html" %} {% block content %} {% include "simgo/persediaan/modal/modal_tambah_barang_keluar.html"
%} {% include "simgo/persediaan/modal/modal_kelola_jurnal.html" %} {% include "simgo/persediaan/modal/modal_persiapan_cetak.html"
%} {% include "simgo/persediaan/modal/modal_persiapan_cetak_sppb.html" %}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="{{site_url('persediaan')}}">Persediaan</a></li>
                <li class="active">Barang Keluar</li>
            </ol>
        </div>
    </div>
    <form role="form">
        <div class="row">
            <div class="col-md-12" id="alert-placement">
                <div class="alert alert-info">
                    Data akan disimpan setelah tombol simpan di bagian bawah formulir di-klik.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="bktgl">Tanggal</label>
                <div data-date-format="dd-mm-yyyy" data-date="{{ today }}" datepicker class="input-group input-append date">
                    <input id="bktgl" name="bktgl" readonly="" class="form-control" value="{{ today }}"></input>
                    <span class="input-group-addon add-on"><i class="icon-calendar"></i></span>
                </div>
            </div>
            <div class="form-group col-md-6 pull-right">
                <label for="juno">Nomor Bukti Pengambilan Barang *</label>
                <!--<div class="input-group">-->
                <!--<div class="input-group-addon">027/</div>-->
                <div class="input-group">
                    <input type="text" class="form-control" id="juno" placeholder="No. Bukti Pengambilan Barang" value="{{juno}}">
                    <span id='edit-nomor' class="icon input-group-addon add-on"><i class="icon-trash"></i></span>
                </div>
                <!--<div class="input-group-addon">/416-110/PPB/2016</div>-->
                <!--</div>-->
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="bidang">Bidang</label>
                <input type="text" class="form-control" id="bidang" placeholder="Bidang yang Meminta">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                <label for="nota_dinas">Nota Permintaan *</label>
                <input type="text" class="form-control" id="nota_dinas" placeholder="Nota Permintaan">
            </div>
            <div class="form-group col-md-4">
                <label for="bptgl">Tanggal</label>
                <div data-date-format="dd-mm-yyyy" data-date="{{ today }}" datepicker class="input-group input-append date">
                    <input id="bptgl" name="bptgl" readonly="" class="form-control" value="{{ today }}"></input>
                    <span class="input-group-addon add-on"><i class="icon-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                <label for="sppb">Nomor SPPB *</label>
                <input type="text" class="form-control" id="sppb" placeholder="No. SPPB">
            </div>
            <div class="form-group col-md-4">
                <label for="sppbtgl">Tanggal</label>
                <div data-date-format="dd-mm-yyyy" data-date="{{ today }}" datepicker class="input-group input-append date">
                    <input id="sppbtgl" name="sppbtgl" readonly="" class="form-control" value="{{ today }}"></input>
                    <span class="input-group-addon add-on"><i class="icon-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="nomor">Permintaan Tanggal Penyerahan</label>
                <div data-date-format="dd-mm-yyyy" data-date="{{ today }}" datepicker class="input-group input-append date">
                    <input id="mttgl" name="mttgl" readonly="" class="form-control" value="{{ today }}"></input>
                    <span class="input-group-addon add-on"><i class="icon-calendar"></i></span>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="nomor">Tanggal Diserahkan</label>
                <div data-date-format="dd-mm-yyyy" data-date="{{ today }}" datepicker class="input-group input-append date">
                    <input id="srtgl" name="srtgl" readonly="" class="form-control" value="{{ today }}"></input>
                    <span class="input-group-addon add-on"><i class="icon-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="penerima">Yang Menerima</label>
                <input type="text" class="form-control" id="penerima" placeholder="Yang Menerima">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="untuk">Untuk</label>
                <input type="text" class="form-control" id="untuk" placeholder="Untuk dipergunakan pada...">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="data">Daftar Barang</label>
                <table class="table table-striped table-bordered" id="data">
                    <thead>
                        <tr>
                            <th class="text-center">Kode</th>
                            <th class="text-center">Nama Barang</th>
                            <th class="text-center">Qty</th>
                            <th class="text-center">Satuan</th>
                            <!--<th class="text-center">Dari Gudang</th>-->
                            <th class="text-center">Keterangan</th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody id="data-body">
                        <tr></tr>
                        <tr></tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td colspan="10">
                                <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#tambah-barang-keluar"><span class="glyphicon glyphicon-plus"></span> Tambah Barang</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="ket">Keterangan</label>
                <textarea class="form-control" style="width:calc(100% - 27px); height:auto !important; resize:none;" rows="5" id="ket" placeholder="Keterangan Jurnal"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-primary" id="cetak-sppb" disabled>
                        <span class="glyphicon glyphicon-print"></span> Cetak SPPB
                    </button>
                    <button type="button" class="btn btn-primary" id="cetak-bukti-pengambilan" disabled>
                        <span class="glyphicon glyphicon-print"></span> Cetak Bukti Pengambilan Barang
                    </button>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default" id="form-batal">
                        Batal
                    </button>
                    <button type="button" class="btn btn-primary" id="simpan-barang-keluar">
                        <span class="glyphicon glyphicon-floppy-disk"></span> Simpan
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %} {% block stylesheets %} {{ parent() }}
<link rel="stylesheet" type="text/css" href="{{base_url('assets/css/datepicker3.css')}}" />
<link rel="stylesheet" type="text/css" href="{{base_url('assets/css/select2.css')}}" />
<style type="text/css">
    .select2-selection__rendered {
        height: 28px;
    }
    
    .form-control {
        height: 37px !important;
    }
    
    .searchable {
        width: 100% !important;
    }
    
    .modal {
        text-align: center;
        padding: 0 !important;
    }
    
    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
        /* Adjusts for spacing */
    }
    
    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        margin-top: 60px;
    }
    
    .add-on {
        cursor: pointer;
    }
</style>
{% endblock %} {% block scripts %} {{ parent() }}
<script type="text/javaScript" src="{{base_url('assets/js/bootstrap-datepicker.js')}}"></script>
<script type="text/javaScript" src="{{base_url('assets/js/select2.js')}}"></script>
<script type="text/javaScript" src="{{ base_url('assets/js/base64.js') }}"></script>
<script type="text/javascript">
    jQuery(function($){

        var data = [];

        $("*[datepicker]").datepicker({
            autoclose: true,
            format: "yyyy-mm-dd",
            orientation:"bottom"
        });
        
        if($("#juno").val() != ""){ $("#juno").prop("disabled", true); }

        // var gudang = [];
        // gudangSelect();

        barangSelect();
        
        populateForm();
        
        function suntingDataBarang(index){
            // var gudang 			= $("#gudang-select").find("option:selected").attr("value");
            var judid           = data[index].judid;
            var idBarang		= data[index].idBarang;
            var kodeBarang		= data[index].kodeBarang;
            var jumlahBarang 	= -parseFloat($("#jumlah-barang").val(),10);
            var keterangan 		= $("#keterangan-detail").val();
            
            var namaBarang 		= data[index].namaBarang;
            var satuan 			= data[index].satuan;

            // console.log();

            data[index] = {
                "judid"			:judid,
                // "gudang"		:gudang,
                "idBarang"      :idBarang,
                "kodeBarang"	:kodeBarang,
                "jumlahBarang"	:jumlahBarang,
                "keterangan"	:keterangan,
                "namaBarang"	:namaBarang,
                "satuan"		:satuan,
            };
            repopulateDataTable();
        }

        function tambahBarang(){
            // var gudang 			= $("#gudang-select").find("option:selected").attr("value");
            var idBarang		= $("#barang-select").find("option:selected").attr("value");
            var kodeBarang      = $("#barang-select").find("option:selected").data().data.kode;
            var jumlahBarang 	= -parseFloat($("#jumlah-barang").val(),10);
            var keterangan 		= $("#keterangan-detail").val();
            
            var namaBarang 		= $("#barang-select").find("option:selected").text();
            var satuan 			= $("#barang-select").find("option:selected").data().data.satuan;

            // console.log();

            data.push({
                "judid"			:-1,
                // "gudang"		:gudang,
                "idBarang"      :idBarang,
                "kodeBarang"	:kodeBarang,
                "jumlahBarang"	:jumlahBarang,
                "keterangan"	:keterangan,
                "namaBarang"	:namaBarang,
                "satuan"		:satuan,
            });
            repopulateDataTable();
        }

        function kurangiBarang(index){
            data.splice(index,1);
            repopulateDataTable();
        }

        function repopulateDataTable(){
            $("#data-body").empty();
            $("#data-body").append("<tr></tr><tr></tr>");
            data.forEach(function(value, index){
                $("#data-body").append(
                    "<tr>"+
                        "<td class='text-left'>"+value['kodeBarang'] +"</td>"+
                        "<td class='text-left'>"+value['namaBarang']+"</td>"+
                        "<td class='text-right'>"+(-value['jumlahBarang'])+"</td>"+
                        "<td class='text-left'>"+value['satuan']+"</td>"+
                        // "<td class='text-left'>"+value['gudang']+"</td>"+
                        "<td class='text-left'>"+value['keterangan']+"</td>"+
                        "<td class='text-center'>"+
                            "<a href='' id='edit_" + index + "' value='" + index + "'><span class='glyphicon glyphicon-pencil'></span></a>"+
                            " / "+
                            "<a href='' id='delete_" + index + "' value='" + index + "'><span class='glyphicon glyphicon-trash'></span></a>"+
                        "</td>"+
                    "</tr>"
                );

                $('#edit_'+index).on("click", function(e){
                    e.preventDefault();
                    suntingBarang(index);
                });

                $('#delete_'+index).on("click", function(e){
                    e.preventDefault();
                    kurangiBarang(index);
                });
            });
        }

        // function gudangSelect(){
        //     $("#gudang-select").empty();
        //     $("#gudang-select").append("<option></option>");
        //     $.post("{{ site_url('persediaan/get_daftar_gudang') }}", {nomor_unit:"{{skpd}}"}, function(json){
        //         $("#gudang-select").select2({
        //             placeholder : "Pilih gudang...",
        //             data : json.results,
        //         });
        //     }, "json");
        // }

        function barangSelect(){
            pagingLimit = 10;
            $("#barang-select").empty();$("#barang-select").append("<option></option>");
            $("#barang-select").select2({
                placeholder : "Pilih barang...",
                ajax: {
                    url:"{{site_url('persediaan/get_daftar_barang_ada_stok')}}",
                    type:"post",
                    dataType:"json",
                    delay:500,
                    data:function(params){
                        return{
                            tanggal_jurnal  : $("#bktgl").val(),
                            skpd            : "{{skpd}}",
                            //gudang: $("#gudang-select").find("option:selected").attr("value"),
                            limit           : pagingLimit,
                            barang          : params.term || "",
                            page            : params.page || 1
                        }
                    },
                    processResults: function (data, params) {
                        // parse the results into the format expected by Select2
                        // since we are using custom formatting functions we do not need to
                        // alter the remote JSON data, except to indicate that infinite
                        // scrolling can be used
                        params.page = params.page || 1;

                        return {
                            results     : data.results,
                            pagination  : {
                            more        : (params.page * pagingLimit) < data.total_count
                            }
                        };
                    },
                },
                
                escapeMarkup:function(markup){
                    return markup;
                },
                
                templateResult:function(repo){
                    if (repo.loading) return repo.text;
                    var markup = "<table style='width:100%;'><tr>" +
                        "<td><div style='font-weight:bold;'>"+ repo.text +"</div>";
                    if (repo.description) {
                        markup += "<div><small>" + repo.description + "</small></div>";
                    }
                    
                    markup+="</td><td style='text-align:right;'>"+
                        "<div style='text-align:right;'>"+
                        repo.stok + " " + repo.satuan +
                        "</div></td>";
                    
                    markup+="</tr></table></div>";
                    
                    return markup;
                },
                templateSelection:function(repo){
                    return repo.text || repo.description || repo.id;
                },
            });
        }
        
        function suntingBarang(index){
            $("#barang-select").select2("destroy");
            $("#barang-select").hide();
                
            $("button[name=simpan]").text("Simpan");
            
            $("#barang-input").val(data[index].namaBarang);
            $("#barang-input").show();
            $("#barang-input").prop("disabled", true);
            $("#barang-input").attr("data-index", index);
            
            $.post("{{site_url('persediaan/get_stok_barang')}}", {skpd:"{{skpd}}", kbid:data[index].idBarang, tanggal_jurnal:$("#bktgl").val()}, function(json){
                var avail = parseFloat(json) + (-parseFloat(data[index].jumlahBarang));
                $('#jumlah-barang').attr({
                    "max" : avail,
                    "min" : 0,
                });
            } ,"json");
            
            $("#jumlah-barang").val(-data[index].jumlahBarang);
            $("#keteranga-detail").val(data[index].keterangan);
            
            $("#tambah-barang-keluar").modal("show");
        }

        function resetAddDataModal(){
            $("#tambah-barang-keluar-form").trigger("reset");
            $(".alert").remove();
            barangSelect();
                
            $("button[name=simpan]").text("Tambah");
            
            $("#barang-input").val("");
            $("#barang-input").hide();
            $("#barang-input").attr("data-index", "");
            // gudangSelect();
        }

        function activatePrintButton(){
            //$("#cetak-sppb").prop("disabled", false);
            $("#cetak-sppb").removeAttr("disabled");
            $("#cetak-bukti-pengambilan").removeAttr("disabled");
            //$("#cetak-bukti-pengambilan").prop("disabled", false);

            $("#cetak-sppb").on('click', function(){
                $("#persiapan-cetak-sppb").modal('show');
            });
            
            $("#lakukan-cetak-sppb").on('click', function(){
                var namaunit = Base64.encode("{{oname}}");
                var alamatunit = Base64.encode($("#alamat-unit").val());
                var skpd = Base64.encode("{{skpd}}");
                var juno = Base64.encode($("#juno").val());
                var tanggal_jurnal = Base64.encode($("#sppbtgl").val());
                var jenis = Base64.encode("1");
                var nomor_spbb = Base64.encode($("#sppb").val());
                var dari = Base64.encode($("#dari").val());
                var kepada = Base64.encode($("#kepada").val());
                var alamat_kepada = Base64.encode($("#alamat-kepada").val());
                var dasar_no = Base64.encode($("#nota_dinas").val());
                var dasar_tgl = Base64.encode($("#bptgl").val());
                var tanggal = Base64.encode($("#sppbtgl").val());
                var pengurusbarang = Base64.encode($("#nama-pengurus").val());
                var nippengurusbarang = Base64.encode($("#nip-pengurus").val());
                
                console.log(tanggal_jurnal);
                
                if( namaunit === "" ) { namaunit = "-"; }
                if( alamatunit === "" ) { alamatunit = "-"; }
                if( skpd === "" ) { skpd = "-"; }
                if( juno === "" ) { juno = "-"; }
                if( tanggal_jurnal === "" ) { tanggal_jurnal = "-"; }
                if( jenis === "" ) { jenis = "-"; }
                if( nomor_spbb === "" ) { nomor_spbb = "-"; }
                if( dari === "" ) { dari = "-"; }
                if( kepada === "" ) { kepada = "-"; }
                if( alamat_kepada === "" ) { alamat_kepada = "-"; }
                if( dasar_no === "" ) { dasar_no = "-"; }
                if( dasar_tgl === "" ) { dasar_tgl = "-"; }
                if( tanggal === "" ) { tanggal = "-"; }
                if( pengurusbarang === "" ) { pengurusbarang = "-"; }
                if( nippengurusbarang === "" ) { nippengurusbarang = "-"; }
                
                window.open("{{ site_url('persediaan/print_sppb') }}/"+ namaunit + "/" + alamatunit + "/"+ skpd + "/" + juno + "/" + tanggal_jurnal + "/" + jenis + "/" + nomor_spbb + "/" + dari + "/" + kepada + "/" + alamat_kepada + "/" + dasar_no + "/" + dasar_tgl + "/" + tanggal + "/" + pengurusbarang + "/" + nippengurusbarang, "_blank");
                //tambah organisasi, nama, jabatan, dan NIP dari pengurus gudang dan atasan langsung
            });
            
            $("#cetak-bukti-pengambilan").on("click", function(){
                $("#persiapan-cetak").modal('show');
            });
            
            $("#lakukan-cetak").on('click', function(){
                var juno = Base64.encode($("#juno").val());
                var skpd = Base64.encode("{{skpd}}");
                var tanggal = Base64.encode($("#juno").val());
                var namaunit = Base64.encode("{{oname}}");
                var pengurusbarang = Base64.encode($("#nama-petugas").val());
                var nippengurusbarang = Base64.encode($("#nip-petugas").val());
                var atasanlangsung = Base64.encode($("#nama-atasan").val());
                var nipatasanlangsung = Base64.encode($("#nip-atasan").val());
                var penerima = Base64.encode($("#nama-pengambil").val());
                var nippenerima = Base64.encode($("#nip-pengambil").val());
                
                if(juno === "") {juno = "-"}
                if(skpd === "") {skpd = "-"}
                if(tanggal === "") {tanggal = "-"}
                if(namaunit === "") {namaunit = "-"}
                if(pengurusbarang === "") {pengurusbarang = "-"}
                if(nippengurusbarang === "") {nippengurusbarang = "-"}
                if(atasanlangsung === "") {atasanlangsung = "-"}
                if(nipatasanlangsung === "") {nipatasanlangsung = "-"}
                if(penerima === "") {penerima = "-"}
                if(nippenerima === "") {nippenerima = "-"}
                
                window.open("{{ site_url('persediaan/print_bukti_pengambilan_barang') }}/"+ namaunit + "/" + skpd + "/" + juno + "/" + tanggal + "/" + pengurusbarang + "/" + nippengurusbarang + "/" + penerima + "/" + nippenerima + "/" + atasanlangsung + "/" + nipatasanlangsung, "_blank");
            });
        }
        
        function populateForm(){
            $.post("{{ site_url('persediaan/juno_check') }}", {juno:$("#juno").val(), nomor_unit:"{{skpd}}", jenis:"1"}, function(json){
                // console.log(json);
                if(json.data != null){
                    $("#bktgl").val(json.data[0].jutgl);
                    $("#mttgl").val(json.data[0].juestimasitgl);
                    $("#srtgl").val(json.data[0].jutgl);
                    $("#bidang").val(json.data[0].spnama);
                    $("#penerima").val(json.data[0].sppenanggungjawab);
                    $("#nota_dinas").val(json.data[0].judokumenno);
                    $("#bptgl").val(json.data[0].judokumentgl);
                    $("#sppb").val(json.data[0].judasarno);
                    $("#sppbtgl").val(json.data[0].judasartgl);
                    $("#untuk").val(json.data[0].untuk);
                    $("#ket").val(json.data[0].keterangan);

                    data.splice(0, data.length);

                    json.data_table.forEach(function(item, index){

                        data.push({
                            "judid"			:item.judid,
                            // "gudang"		:item.guno,
                            "idBarang"      :item.kbid,
                            "kodeBarang"	:item.kbkode,
                            "jumlahBarang"	:parseFloat(item.judqty),
                            "keterangan"	:item.keterangan,
                            "namaBarang"	:item.namabarang,
                            "satuan"		:item.judunit,
                        });
                    });

                    repopulateDataTable();
                    activatePrintButton();
                }
                else{
                    // temporary
                    data.splice(0,data.length);
                    repopulateDataTable();
                }
            },"json");
        }

        $("button[name=simpan]").on("click", function(){
            if(($("#barang-select").prop("disabled") == true && $("#barang-select").val() === "") || $("#jumlah-barang").val() === "" || $("#harga-satuan").val() === "" || $("#tahun-buat").val() === "")
            {
                $("#tambah-barang-keluar-form").prepend("<div class='alert alert-danger'>Isian dengan tanda (*) harus diisi.</div>");
                $("#tambah-barang-keluar").scrollTop(0);
            }
            else
            {
                console.log($("#barang-input").is(":hidden"));
                if($("#barang-input").is(":hidden")){
                    tambahBarang();
                }
                else{
                    suntingDataBarang($("#barang-input").attr("data-index"));
                }
                $("#tambah-barang-keluar").modal("hide");
                resetAddDataModal();
            }
        });

        $("button[name=batal]").on("click", function(){
            resetAddDataModal();
        });

        $('#tambah-barang-keluar').on('hide.bs.modal', function () {
            $("#tambah-barang-keluar").scrollTop(0);
            resetAddDataModal();
        });
        
        $("#form-batal").on("click", function(){
            window.close();
        });

        $("#simpan-barang-keluar").on("click", function(){
            if($("#juno").val() === "" || $("#nota_dinas").val() === "")
            {
                $("#alert-placement").empty();
                $("#alert-placement").prepend("<div class='alert alert-danger'>Isian dengan tanda (*) harus diisi.</div>");
                $(window).scrollTop(0);
            }
            else
            {
                // prepare data
                var jurnal;

                var nomorJurnal				= $("#juno").val();
                var tanggalJurnal 			= $("#bktgl").val();
                var tanggalEstimasi 		= $("#mttgl").val();
                var tanggalRealisasi 		= $("#srtgl").val();
                var bidang 					= $("#bidang").val();
                var penanggungJawab 		= $("#penerima").val();
                var dokumenPenyerta 		= $("#nota_dinas").val();
                var tanggalDokumenPenyerta 	= $("#bptgl").val();
                var dasarHukum 				= $("#sppb").val();
                var tanggalDasarHukum 		= $("#sppbtgl").val();
                var skpd					= "{{skpd}}";
                var untuk 					= $("#untuk").val();
                var keterangan 				= $("#ket").val();

                jurnal = {
                    "nomorJurnal"				: nomorJurnal,
                    "tanggalJurnal" 			: tanggalJurnal,
                    "tanggalEstimasi" 			: tanggalEstimasi,
                    "tanggalRealisasi" 			: tanggalRealisasi,
                    "bidang" 					: bidang,
                    "penanggungJawab" 			: penanggungJawab,
                    "dokumenPenyerta"			: dokumenPenyerta,
                    "tanggalDokumenPenyerta" 	: tanggalDokumenPenyerta,
                    "dasarHukum" 				: dasarHukum,
                    "tanggalDasarHukum" 		: tanggalDasarHukum,
                    "skpd" 						: skpd,
                    "untuk"						: untuk,
                    "keterangan" 				: keterangan,
                };

                $.post("{{ site_url('persediaan/simpan_barang_keluar') }}",{ju:jurnal, jud:data},function(json){
                    // console.log(json);
                    json.forEach(function(item, index){
                        data[index]["judid"] = item;
                    });
                    // window.location.href = "{{site_url('persediaan/index')}}";
                    //window.close();
                    activatePrintButton();
                },"json");
            }
        });

        $("#juno").on("blur", function(){
            populateForm();
        });
        
        $('#barang-select').on('change', function(){
            $('#jumlah-barang').attr({
                "max" : $(this).find("option:selected").data().data.stok,
                "min" : 0,
            });
            $('#jumlah-barang').val("0");
        });
        
        $("#jumlah-barang").on('blur', function(){
            if(parseFloat($(this).val()) > parseFloat($(this).attr("max")))
            {
                $(this).val($(this).attr("max"));
            }
            else if(parseFloat($(this).val()) < parseFloat($(this).attr("min")))
            {
                $(this).val($(this).attr("min"));
            }
        });

        $('#tambah-barang-keluar').on('hide.bs.modal', function () {
            $("#tambah-barang-keluar").scrollTop(0);
        });
        
        $("#edit-nomor").on("click", function(){
            $("#nomor-baru").val($("#juno").val());
            $("#kelola-jurnal").modal("show");
        });
        
        $("#hapus-jurnal").on("click", function(){
            $.post("{{site_url('persediaan/delete_jurnal')}}", {juno:$("#juno").val()}, function(json){
                console.log(json);
                $("#kelola-jurnal").modal("hide");
                window.location.href = "{{site_url('persediaan/buku_barang_pakai_habis')}}";
            }, "json");
        });
    });

</script>
{% endblock %}