{% extends "_templates/adminpage.html" %} {% block content %}
{% include "simgo/persediaan/modal/modal_persiapan_cetak.html" %}
{% include "simgo/persediaan/modal/modal_kelola_jurnal.html" %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="{{site_url('persediaan')}}">Persediaan</a></li>
                <li><a href="{{site_url('persediaan/katalog_stok_opname')}}">Daftar Stok Opname</a></li>
                <li class="active">Stok Opname</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table width="100%">
                <tbody class="visual">
                    <tr>
                        <td style="vertical-align:middle; width:1%; white-space:nowrap">Provinsi</td>
                        <td style="vertical-align:middle; width:1%; white-space:nowrap">&nbsp;:&nbsp;</td>
                        <td>
                            <input class="form-control" value="Jawa Timur" disabled></input>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle; width:1%; white-space:nowrap">Kabupaten&nbsp;</td>
                        <td style="vertical-align:middle; width:1%; white-space:nowrap">&nbsp;:&nbsp;</td>
                        <td>
                            <input class="form-control" value="Mojokerto" disabled></input>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle; width:1%; white-space:nowrap">SKPD&nbsp;</td>
                        <td style="vertical-align:middle; width:1%; white-space:nowrap">&nbsp;:&nbsp;</td>
                        <td>
                            <input class="form-control" value="{{oname}}" disabled></input>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-5 pull-right">
            <table width="100%">
                <tbody class="visual">
                    <tr>
                        <td><strong>*</strong></td>
                        <td style="vertical-align:middle">Nomor&nbsp;</td>
                        <td>:&nbsp;</td>
                        <td>
                            <div class="input-group pull-right">
                                <input id='nomor' class="form-control" value="{{juno}}"></input>
                                <span id='edit-nomor' class="input-group-addon add-on"><i class="icon-trash"></i></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="vertical-align:middle">Tanggal&nbsp;</td>
                        <td>:</td>
                        <td>
                            <div data-date-format="mm-yyyy" data-date="{{ today }}" datepicker class="input-group input-append date pull-right">
                                <input id="tanggal" name="tanggal" readonly="" class="form-control" value="{{ today }}"></input>
                                <span class="input-group-addon add-on"><i class="icon-calendar"></i></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered" id="tabel-stok-opname">
                <thead>
                    <tr>
                        <th class="text-center" rowspan="2">No.</th>
                        <th class="text-center" colspan="3">Uraian</th>
                        <th class="col-md-1 text-center" rowspan="2">Jumlah Barang Menurut Administrasi</th>
                        <th class="col-md-1 text-center" rowspan="2">Jumlah Barang Menurut Pemeriksaan</th>
                        <th class="col-md-1 text-center" rowspan="2">Selisih</th>
                        <th class="text-center" rowspan="2">Keterangan</th>
                    </tr>
                    <tr>
                        <th class="text-center">Nama Barang</th>
                        <th class="text-center">Spesifikasi</th>
                        <th class="text-center">Satuan</th>
                    </tr>
                </thead>
                <tbody>
                    <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default" id="form-batal">Batal</span>
                </button>
                <button id="cetak" type="button" class="btn btn-secondary"><span class="glyphicon glyphicon-print"></span> Cetak</button>
                <button type="button" class="btn btn-primary" id="simpan-stok-opname">
                    <span class="glyphicon glyphicon-floppy-disk"></span> Simpan</span>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block stylesheets %} {{ parent() }}
<link rel="stylesheet" type="text/css" href="{{base_url('assets/css/datepicker3.css')}}" />
<style>
    input.selisih {
        padding: 6px 6px !important;
        width: calc(100% - 14px) !important;
    }
    
    .icon {
        width: 18px !important;
    }
    
    .visual > tr > td {
        padding-bottom:4px !important;
    }
    
    .add-on{
        cursor:pointer;
    }
</style>
{% endblock %} {% block scripts %} {{ parent() }}
<script type="text/javaScript" src="{{base_url('assets/js/bootstrap-datepicker.js')}}"></script>
<script type="text/javaScript" src="{{ base_url('assets/js/base64.js') }}"></script>
<script type="text/javascript">
    jQuery(function($){
        
        var data = [];
        
        // $("#nomor").val("");
        
        if($("#nomor").val() != ""){
            $("#nomor").prop("disabled", true);
        }
        
        showData();
        
        $("*[datepicker]").datepicker({
            autoclose:true,
            orientation:"bottom",
            format: "yyyy-mm-dd",
            startView: "years", 
            minViewMode: "days"
        });
        
        function showData(updateDate = true){
            var avail = {};
            $.post("{{site_url('persediaan/juno_check')}}",{juno:$("#nomor").val(), nomor_unit:"{{skpd}}", jenis:"5"}, function(json){
                // console.log(json);
                if(json.exist > 0){
                    if(updateDate) {
                        $("#tanggal").val(json.data[0]['jutgl']);
                    }
                    json.data_table.forEach(function(value, index){
                        avail[value['kbid']] = {
                            'judid'         :value['judid'],
                            'kbid'          :value['kbid'],
                            'kbunit'        :value['judunit'],
                            'selisih'       :value['judqty'],
                            'keterangan'    :value['keterangan']
                        };
                    });
                    // console.log(avail);
                }
                
                $.post("{{site_url('persediaan/get_populasi_kartu_barang_pada_tanggal')}}", {nomor_unit:"{{skpd}}", tanggal:$("#tanggal").val()},function(json){
                    $("#tabel-stok-opname > tbody").empty();
                    // console.log(json);
                    data.splice(0, data.length);
                    
                    json.data.forEach(function(value, index){
                        if(typeof avail[value['kbid']] === 'undefined'){
                            data.push({
                                'judid'         : "-1",
                                'kbid'          :parseInt(value['kbid']),
                                'kbnama'        :value['kbnama'],
                                'kbspesifikasi' :value['kbspesifikasi'],
                                'kbunit'        :value['kbunit'],
                                'kbjuml'        :parseFloat(value['kbjuml']),
                                'stok'          :'',
                                'selisih'       :0,
                                'keterangan'    :""
                            });
                        }
                        else{
                            data.push({
                                'judid'         : avail[value['kbid']]['judid'],
                                'kbid'          : parseInt(value['kbid']),
                                'kbnama'        : value['kbnama'],
                                'kbspesifikasi' : value['kbspesifikasi'],
                                'kbunit'        : value['kbunit'],
                                'kbjuml'        : parseFloat(value['kbjuml']),
                                'stok'          : parseFloat(parseFloat(value['kbjuml']) + parseFloat(avail[value['kbid']]['selisih'])),
                                'selisih'       : parseFloat(avail[value['kbid']]['selisih']),
                                'keterangan'    : avail[value['kbid']]['keterangan']
                            });
                        
                            // console.log(value['kbjuml'] + avail[value['kbid']]['selisih']);
                        }
                        
                        $("#tabel-stok-opname > tbody").append(""+
                            "<tr>"+
                                "<td class='text-center'>"+(index+1)+"</td>"+
                                "<td class='text-center'>"+data[index].kbnama+"</td>"+
                                "<td class='text-left'>"+data[index].kbspesifikasi+"</td>"+
                                "<td class='text-center'>"+data[index].kbunit+"</td>"+
                                "<td class='text-right'>"+data[index].kbjuml+"</td>"+
                                "<td style='padding:0px'><input value='"+data[index].stok+"' type='number' pattern='[0-9]*' id='periksa_"+index+"' class='form-control text-right selisih'></td>"+
                                "<td style='padding:0px'><input value='"+data[index].selisih+"' id='selisih_"+index+"' class='form-control text-right selisih' disabled></td>"+
                                "<td style='padding:0px'><input value='"+data[index].keterangan+"' id='keterangan_"+index+"' class='form-control' tabindex='-1'></td>"+
                            "</tr>"+
                        "");
                        
                        $("#periksa_"+index).focus(function(){
                            $(this).val(parseFloat(data[index].kbjuml));
                            $("#selisih_"+index).val($(this).val() - value['kbjuml']);
                            data[index].selisih = $("#selisih_"+index).val();
                            $(this).select();
                        });
                        
                        $("#periksa_"+index).on("blur", function(){
                            $(this).val(parseFloat($(this).val()));
                            $("#selisih_"+index).val($(this).val() - value['kbjuml']);
                            data[index].selisih = $("#selisih_"+index).val();
                        });
                        
                        $("#keterangan_"+index).on("blur", function(){
                            data[index].keterangan = $("#keterangan_"+index).val();
                        });
                    });
                    // console.log(data);
                },"json");
            },"json");
        }
        
        $("#nomor").on("blur", function(){
            showData();
        });
        
        $("#edit-nomor").on("click", function(){
            $("#nomor-baru").val($("#nomor").val());
            $("#kelola-jurnal").modal("show");
        });
        
        $("#tanggal").on("change", function(){
            showData(false);
        });
        
        $("#form-batal").on("click", function(){
            window.close();
        });
        
        $("#simpan-stok-opname").on("click", function(){
            if($("#nomor").val() === "")
            {
                alert("Nomor harus diisi.");
                return;
            }
            
            var jurnal = [];
            jurnal = {
                "skpd"          : "{{skpd}}",
                "nomorJurnal"   : $("#nomor").val(),
                "tanggalJurnal" : $("#tanggal").val(),
                "keterangan"    : "",//$("#keterangan").val(),
            };
            
            $.post("{{site_url('persediaan/simpan_stok_opname')}}",{ju:jurnal,jud:data},function(json){
                showData();
            },"json");
        });
        
        $("#lakukan-cetak").on('click', function(){
            var skpd = Base64.encode("{{skpd}}");
            var tanggal = Base64.encode($("#tanggal").val());
            var juno = Base64.encode($("#nomor").val());
            var namaunit = Base64.encode("{{oname}}");
            var pengurusbarang = Base64.encode($("#nama-petugas").val());
            var nippengurusbarang = Base64.encode($("#nip-petugas").val());
            var atasanlangsung = Base64.encode($("#nama-atasan").val());
            var nipatasanlangsung = Base64.encode($("#nip-atasan").val());
            
            if( skpd === "") {skpd = "-"}
            if( tanggal === "") {tanggal = "-"}
            if( namaunit === "") {namaunit = "-"}
            if( pengurusbarang === "") {pengurusbarang = "-"}
            if( nippengurusbarang === "") {nippengurusbarang = "-"}
            if( atasanlangsung === "") {atasanlangsung = "-"}
            if( nipatasanlangsung === "") {nipatasanlangsung = "-"}
            
            window.open("{{ site_url('persediaan/print_stok_opname') }}/"+ namaunit + "/" + skpd + "/" + tanggal + "/" + juno + "/" + pengurusbarang + "/" + nippengurusbarang + "/" + atasanlangsung + "/" + nipatasanlangsung, "_blank");
        });

        $("#cetak").on("click", function(){
            $("#pengambil").hide();
            $("#persiapan-cetak").modal("show");
        });
        
        $("#hapus-jurnal").on("click", function(){
            console.log("bwa");
            $.post("{{site_url('persediaan/delete_jurnal')}}", {juno:$("#nomor").val()}, function(json){
                console.log(json);
                $("#kelola-jurnal").modal("hide");
                window.location.href = "{{site_url('persediaan/katalog_stok_opname')}}";
            }, "json");
        });
        
        // $("#ubah-juno").on("click", function(){
        //     if($("#nomor-baru").val() === "")
        //     {
        //         alert("Nomor baru tidak boleh kosong.");
        //         return;
        //     }
            
        //     $.post("{{site_url('persediaan/update_juno')}}", {juno:$("#nomor").val(), nomorbaru:$("#nomor-baru").val()}, function(json){
        //         console.log(json);
        //         $("#kelola-jurnal").modal("hide");
        //     },"json");
        // });
    });

</script>
{% endblock %}