{% extends "_templates/adminpage.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="{{site_url('persediaan')}}">Persediaan</a></li>
                <li class="active">Daftar Stock Opname</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 pull-right">
            <div data-date-format="mm-yyyy" data-date="{{ today }}" datepicker class="input-group input-append date">
                <input id="tanggal" name="tanggal" readonly="" class="form-control" value="{{ today }}"></input>
                <span class="input-group-addon add-on"><i class="icon-calendar"></i></span>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered" id="tabel-daftar-stok-opname">
                <thead>
                    <tr>
                        <td class="col-md-2">Tanggal</td>
                        <td>Nomor</td>
                        <td class="col-md-1"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %} {% block stylesheets %} {{ parent() }}
<link rel="stylesheet" type="text/css" href="{{base_url('assets/css/datepicker3.css')}}" />

{% endblock %} {% block scripts %} {{ parent() }}
<script type="text/javaScript" src="{{base_url('assets/js/bootstrap-datepicker.js')}}"></script>
<script type="text/javaScript" src="{{ base_url('assets/js/base64.js') }}"></script>
<script type="text/javascript">
    jQuery(function($){
        
        var data = [];
        
        showData();
        
        $("*[datepicker]").datepicker({
            autoclose:true,
            orientation:"bottom",
            format: "mm-yyyy",
            startView: "months", 
            minViewMode: "months"
        });
        
        function showData(){
            $.post("{{site_url('persediaan/get_populasi_stok_opname')}}", {skpd:"{{skpd}}", tanggal:$("#tanggal").val()}, function(json){
                $("#tabel-daftar-stok-opname > tbody").empty();
                $("#tabel-daftar-stok-opname > tbody").append("<tr></tr><tr></tr>");
                for(x in json){
                    $("#tabel-daftar-stok-opname").append("<tr>"+
                        "<td>"+json[x].jutgl+"</td>"+
                        "<td>"+json[x].juno+"</td>"+
                        "<td class='text-center'>"+"<a href='{{site_url('persediaan/stok_opname')}}/"+Base64.encode(json[x].juno)+"'>"+"<span class='glyphicon glyphicon-search'></span>"+"</a>"+"</td>"+
                    "</tr>");
                }
            } ,"json");
        }
        
        $("#tanggal").on("change", function(){
            showData();
        });
    });
</script>

{% endblock %}