{% extends "_templates/adminpage.html" %}

{% block content %}

{% include "simgo/tambah_kegiatan.html" %}

<div class="container">
	
	<div class="row">
		<div class ="col-md-12">
			<select type="text" id="skpdid" class="form-control">
				<option value="">Semua SKPD</option>
			</select>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class ="col-md-12">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#">Kegiatan</a></li>
				<li><a href="{{site_url("media/list_spk")}}">SPK</a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-3 pull-left" style="padding-left:2px;">
				<button id="tambah" type="button" class="btn btn-link" data-toggle="modal" data-target="#tambah-kegiatan" style="display:none"><span><i class="icon-plus"></i></span> Tambah</button>
			</div>
			<div class="col-md-4 pull-right" style="padding-right:2px;">
				<!-- <input type="text" class="form-control"> -->
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped table-bordered" id="data-kegiatan">
				<thead>
					<tr>
						<th class="col-md-1 text-center">File Baru</th>
						<th class="col-md-7 text-center">Kode Rekening Kegiatan</th>
						<th class="col-md-2 text-center">RKA</th>
						<th class="col-md-2 text-center">DPA</th>
					</tr>
				</thead>
				<tbody>
					<!-- diisi jQuery-->
				</tbody>
			</table>
		</div>
	</div>
	<div id="pagination">
		{{ pagination | raw }}
	</div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}

<style type="text/css">
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  margin-top:60px;
}
</style>
{% endblock %}

{% block scripts %}
	{{ parent() }}

	<script type="text/javascript">
		jQuery(function($) {

			isiUlangTabel($("#skpdid").val(), "0");

			function addKegiatan() {
				var url     = "{{ site_url('media/add_spk/2/') }}";
				var no_spk  = $("input[name=no-kegiatan]").val();
				var no_skpd = $("#skpdid").val();

				$.post(url, {no_spk: no_spk, no_skpd: no_skpd}, function(r) {

					isiUlangTabel($("#skpdid").val());

					$("#tambah-kegiatan").modal("hide");
				}, "json");
			}

			function isiUlangTabel(skpd) {
				isiUlangTabel(skpd, '0');
			}

			function isiUlangTabel(skpd, offset) {

				if(skpd == '')
				{
					$.post("{{ site_url('media/list_skpd') }}", {}, function(json){
						var list_skpd = [];
						$.each(json.data, function(key,value){
							list_skpd.push(value.nomor_unit);
						});

						isiUlangTabelDetail(list_skpd, offset);
					}, "json" );
					$("#tambah").hide();
				}
				else
				{
					$("#tambah").show();
					var list_skpd = [$("#skpdid").val()];

					isiUlangTabelDetail(list_skpd, offset);
				}
			}

			function isiUlangTabelDetail(list_skpd, offset) { 
				$.post("{{ site_url('media/list_mediapool/2') }}/" + offset, {skpd:list_skpd}, function(json){
					$("#data-kegiatan > tbody").empty();
					$.each(json.result, function(key, value){
						var color = (value.mpnewfile == '0') ? "style='color:#eeeeee'" : "";

						var rka = "<a href='upload_spk/" + value.mpid + "/3'>Unggah</a>" + ((value.rka != "") ? " / <a href='{{ site_url('media/do_download/') }}/" + value.mpid + "/" + value.rka + "'>Unduh</a>" : "");
						var dpa = (value.rka!= "") ? "<a href='upload_spk/" + value.mpid + "/4'>Unggah</a>" +((value.dpa != "") ? " / <a href='{{ site_url('media/do_download/') }}/" + value.mpid + "/" + value.dpa + "'>Unduh</a>" : "") : "";

						$("#data-kegiatan > tbody").append( "<tr>" +
							"<td class='text-center'>" + "<span class='glyphicon glyphicon-file' " + color + "></span>" +
							"<td>" + "<a href='{{ site_url('media/view_spk/') }}/" + value.mpid + "'>" + value.mpno + "</a></td>" +
							"<td>" + rka + "</td>" +
							"<td>" + dpa + "</td>" +
							"</tr>");
					});
					
					$("#pagination").empty();
					$("#pagination").html(json.pagination);

					$(".ajax_pagination").unbind();
					$(".ajax_pagination").on("click", function(){
						isiUlangTabel($("#skpdid").val(), $(this).attr("value"));
					});
				}, "json");
			}

			//tambah mediapool
			$("button[name=simpan]").on("click", function(){
				addKegiatan();
			});

			$.post("{{ site_url('media/list_skpd') }}", {}, function(json){
				//console.log(json.data[0].nomor_unit);
				if (json.data.length == 1) {
					
					$("#skpdid").empty();
					$("#skpdid").append($("<option></option>").val(json.data[0].nomor_unit).html(json.data[0].nama_unit));
					$("#tambah").show();
				} else {
					$.each(json.data, function(key,value){
						$("#skpdid").append($("<option></option>").val(value.nomor_unit).html(value.nama_unit));
					});
				}
			}, "json" );

			//mengganti pilihan selectbox skpd
			$("#skpdid").on('change', function(){
				if(this.value != "")
				{
					$("#tambah").show();
				}
				else
				{
					$("#tambah").hide();
				}

				isiUlangTabel(this.value);
			});
	
		});
	</script>

{% endblock %}