{% extends "_templates/adminpage.html" %}

{% block content %}

{% include "simgo/tambah_kebutuhan.html" %}

<div class="container">

	<div class="row">
		<div class ="col-md-12">
			<select type="text" id="skpdid" class="form-control">
				<option value="">Semua SKPD</option>
			</select>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-3 pull-left" style="padding-left:2px;">
				<button id="tambah" type="button" class="btn btn-link" data-toggle="modal" data-target="#tambah-spk" style="display:none"><span><i class="icon-plus"></i></span> Tambah</button>
			</div>
			<div class="col-md-4 pull-right" style="padding-right:2px;">
				<!-- <input type="text" class="form-control"> -->
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="col-xs-8">
			</div>
			<div class="col-xs-4">
				<div class="btn-group pull-right"> 
					<button id="tambah" type="button" class="btn btn-default btn-action" data-toggle="modal" data-target="#tambah-rkb">
						<span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
					</button> 
					<button type="button" class="btn btn-default btn-action">
						<span class="glyphicon glyphicon-download" aria-hidden="true"></span>
					</button> 
					<button type="button" class="btn btn-default btn-action">
						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped table-bordered" id="data-spk">
				<thead>
					<tr>
						<th class="col-md-2 text-center">RKB (Rencana Kebutuhan Barang)</th>
						<th class="col-md-2 text-center">RKP (Rencana Kebutuhan Pemeliharaan)</th>
					</tr>
				</thead>
				<tbody>
					<!-- diisi jQuery-->
				</tbody>
			</table>
		</div>
	</div>
	<div id="pagination">
		{{ pagination | raw }}
	</div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}

<style type="text/css">
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  margin-top:60px;
}

.btn-action {
	-webkit-appearance: none !important;
	outline: none !important;
	border: 0 !important;
	background: transparent !important;
}
</style>
{% endblock %}

{% block scripts %}
	{{ parent() }}

	<script type="text/javascript">
		jQuery(function($) {

			$.post("{{ site_url('media/list_skpd') }}", {}, function(json){
				//console.log(json.data[0].nomor_unit);
				if (json.data.length == 1) {
					
					$("#skpdid").empty();
					$("#skpdid").append($("<option></option>").val(json.data[0].nomor_unit).html(json.data[0].nama_unit));
					$("#tambah").show();
				} else {
					$.each(json.data, function(key,value){
						$("#skpdid").append($("<option></option>").val(value.nomor_unit).html(value.nama_unit));
					});
				}
			}, "json" );
		});
	</script>

{% endblock %}