{% extends "_templates/adminpage.html" %}

{% block content %}
<div class="container">
	<div class="col-xs-12">
		<div class="col-md-3 pull-left">
			<select type="text" id="skpdid" class="form-control">
				<option value="">Semua SKPD</option>
			</select>
		</div>
		<div class="col-md-3 pull-right">
			<input name="cari" type="text" class="form-control" placeholder="Pencarian" />
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="spacer"></div>
	<div class="row">
		<div class="col-xs-12">
			<div class="table-responsive" style="overflow:auto;">
				<div>
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th class="center">Nomor Lokasi</th>
								<th class="center">No SPK/SP/Kontrak</th>
							</tr>
						</thead>
						<tbody>
						{% for dt in daftar %}
							<tr>
								<td></td>
								<td width="15px;" style="text-align:center;">
									<a posted jpid="{{ dt.spkid }}" href="#" title="Posting">
										<span class="glyphicon glyphicon-open"></span>
									</a>
								</td>
								<td width="15px;" style="text-align:center;">
									<a target="_blank" href="{{ site_url("pengadaan/form/" ~ dt.spkid) }}" title="Edit">
										<span class="glyphicon glyphicon-pencil"></span>
									</a>
								</td>
								<td width="15px;" style="text-align:center;">
									<a onclick='return  confirm("Anda yakin ingin menghapus data ini ?")' href="{{ site_url("pengadaan/hapus/" ~ dt.spkid) }}" title="Hapus">
										<span class="glyphicon glyphicon-trash"></span>
									</a>
								</td>
								<td>{{ dt.skpdid }}</td>
								<td>{{ dt.mpno }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>

			<div id="pagination">
				{{ pagination | raw }}
			</div>
</div>
{% endblock %}


{% block scripts %}
{{ parent() }}
<script type="text/javaScript" src="{{ base_url("assets/js/accounting.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/base64.js") }}"></script>
<script type="text/javaScript">
jQuery(document).ready(function($) {
	if (!String.prototype.format) {
		String.prototype.format = function() {
			var args = arguments;
			return this.replace(/{(\d+)}/g, function(match, number) { 
				return typeof args[number] != 'undefined' ? args[number] : match;
			});
		};
	}

	var delay = (function(){
		var timer = 0;
			return function(callback, ms){
			clearTimeout (timer);
			timer = setTimeout(callback, ms);
		};
	})();


	// populasi selectbox skpd
	$.post("{{ site_url('aset/list_skpd') }}", {}, function(json){				
		$.each(json.result, function (key, value) {
			$("#skpdid").append($('<option></option>').val(value.NOMOR_UNIT).html(value.NAMA_UNIT));
		});
	}, "json");

	function cari_data() {
		var filter = $("input[name=cari]").val();
		//console.log(filter);
		var skpdid = $("select[id=skpdid]").val();

		var x = $.ajax({
			url: "{{ site_url('media/pencarian') }}?filter={0}&skpdid={1}".format(filter, skpdid),
			type: "POST",
			dataType: "json"
		});

		x.done(function(json) {
			var tbody = $("table > tbody");
			tbody.empty();
			
			var data = json.data;
			for(var i=0; i<data.length; i++) {
				var t = data[i];
				
				var c = [
					'<tr>',
						'<td></td>',
						'<td width="15px;" style="text-align:center;">',
							'<a posted jpid="'+ t.spkid +'" href="#" title="Posting">',
								'<span class="glyphicon glyphicon-open"></span>',
							'</a>',
						'</td>',
						'<td width="15px;" style="text-align:center;">',
							'<a target="_blank" href="{{ site_url("pengadaan/form") }}/' + t.spkid + '" title="Edit">',
								'<span class="glyphicon glyphicon-pencil"></span>',
							'</a>',
						'</td>',
						'<td width="15px;" style="text-align:center;">',
							'<a onclick="return confirm(\'Anda yakin ingin menghapus data ini ?\')" href="{{ site_url("pengadaan/hapus/") }}/' + t.spkid + '" title="Hapus">',
								'<span class="glyphicon glyphicon-trash"></span>',
							'</a>',
						'</td>',
						'<td>' + t.skpdid + '</td>',
						'<td>' + t.mpno + '</td>',
					'</tr>'
				].join("\r\n");

				tbody.append(c);
			}
			
			$("div#pagination").html(json.pagination);

		});

		x.fail(function() {
			return;
			//window.location.replace("{{ site_url('pengadaan/index') }}/?filter={0}".format(filter));
		});
	}


	$("input[name=cari]").keyup(function(e) {
		 delay(function(){
		 	cari_data();
	    }, 500);
	});


	$("select[id=skpdid]").change(function() {
		cari_data();
	});

	//posting ke simbada
	$("a[posted]").on("click", function() {
		var jpid = $(this).attr("jpid");

		$.post("{{ site_url("pengadaan/post") }}/" + jpid, {}, function() {
			alert ("Data berhasil diposting ke Simbada")
		}, "json");
	});
});
</script>
{% endblock %}


{% block stylesheets %}
{{ parent() }}

<style type="text/css">
	.control-label{
		padding-top: 8px !important;
	}

	*[class^='col-'] {
		padding-left: 0px;
		padding-right: 0px;
	}

	select.form-control {
		height: 48px !important;
	}

	input.form-control {
		height: 34px !important;
	}

	textarea.form-control {
		height:auto !important;
	}

	.spacer {
	    margin-top: 20px;
	}
</style>
{% endblock %}