<div class="modal fade" id="edit-mediapool" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Ubah Nomor {{kategori}}</h4>
			</div>
			<div class="modal-body">
				<form role="form">
					<label class="control-label">{% if kategori == 'SPK' %}No. SPK{% elseif kategori == 'Kegiatan' %}Kode Rekening Kegiatan{% endif %}</label>
					<input type="text" class="form-control input-lg" name="no-mediapool" value="{{mpno}}">
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
				<button type="button" name="simpan" class="btn btn-primary">Ubah</button>
			</div>
		</div>
	</div>
</div>