<div class="modal fade" id="edit-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Ubah Hak Akses Pengguna</h4>
			</div>
			<div class="modal-body">
				<form role="form" id="form-user-skpd">
					<h2 id="nama">Nama Petugas</h2><br/>
					<input id="uid" value="" class="invisible">
					{% for skpd in allskpd %}
						<div class="checkbox">
						  <label><input type="checkbox" class="unit-checkbox" value="" name="{{skpd.nomor_unit}}" id="{{ skpd.nomor_unit | replace({'.':''}) }}">{{skpd.nama_unit}}</label>
						</div>
					{% endfor %}
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
				<button type="button" name="simpan" class="btn btn-primary">Perbarui</button>
			</div>
		</div>
	</div>
</div>