{% extends "_templates/adminpage.html" %}

{% block content %}

{% include "simgo/manage_user_modal.html" %}

<div class="container">
	<div class="row">

		<table class="table table-striped table-bordered" id="nameContainer">
			<thead>
				<tr>
					<th class="text-center"></th>
					<th class="text-center">User ID</th>
					<th class="text-center">Nama Pengguna</th>
					<th class="text-center">Organisasi</th>
				</tr>
			</thead>
			<tbody>
				{% for user in userlist %}
				<tr>
					<td>
						<div class="text-center">
							<a href="#" data-toggle="modal" data-target="#edit-user" class="user" value="{{user.uid}}" name="{{user.uname}}"><span class="glyphicon glyphicon-edit"></span></a>
						</div>
					</td>
					<td>
						<div class="">
							{{ user.uid }}
						</div>
					</td>
					<td>
						<div class="">
							{{ user.uname }}
						</div>
					</td>
					<td>
						<div class="">
							{{ user.oname }}
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div id="pagination">
		{{ pagination | raw }}
	</div>
</div>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	<style type="text/css">
		.checkBackground{
		    background-color: gray;
		    color: white;
		}
	</style>

{% endblock %}

{% block scripts %}
	{{ parent() }}

	<script type="text/javascript">

		jQuery(function($) {
			$("input[type='checkbox']").change(function(){
			    if($(this).is(":checked")){
			        $(this).parent().parent().addClass("checkBackground"); 
			    }else{
			        $(this).parent().parent().removeClass("checkBackground");  
			    }
			});

			$(".user").on('click', function(){

				$('.unit-checkbox').prop('checked', false);
				$('.unit-checkbox').parent().parent().removeClass("checkBackground");

				uid = $(this).attr("value");
				name = $(this).attr("name");
				$("#uid").val(uid);
				$("#nama").html(name);

				$.post("{{ site_url('media/list_skpd_by_uid') }}", {uid:uid}, function(json){
					$.each(json.data, function(key, value){
						var skpdid = "#" + value.nomor_unit.split('.').join('');
						$(skpdid).prop('checked', true);
						$(skpdid).parent().parent().addClass("checkBackground");
					});
				}, "json" );
			});

			$("button[name=simpan]").on("click", function(){
				var terpilih = [];
				var uid = $("#uid").val();
				$.each($('.unit-checkbox'), function(key,value){
					if($(this).prop('checked') == true){
						terpilih.push($(this).attr('name'));
					}
				});
				
				$.post("{{ site_url('media/update_user_skpd') }}", {uid:uid, skpd:terpilih}, function(json){
				}, "json");
				
				$("#edit-user").modal("hide");
			});

			$('#edit-user').on('hide.bs.modal', function () {
				$("#edit-user").scrollTop(0);
			});
		});

	</script>

{% endblock %}