{% extends "_templates/adminpage.html" %}

{% block content %}

{% include "simgo/edit_mediapool.html" %}

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			{% if kategori=='SPK' %}
				<a href="{{ site_url("media/list_spk") }}">&lt;&lt; kembali</a>
			{% elseif kategori=='Kegiatan' %}
				<a href="{{ site_url("media/list_kegiatan") }}">&lt;&lt; kembali</a>
			{% endif %}
			<h2><span class="glyphicon glyphicon-list"></span> <span name="nomor">{% if kategori == 'SPK' %}No. SPK{% elseif kategori == 'Kegiatan' %}Kode Rekening Kegiatan{% endif %} : {{ mpno }}</span>
				<button id="ubah" type="button" class="btn btn-link" data-toggle="modal" data-target="#edit-mediapool"><span><i class="icon-edit" style="font-size:24px;"></i></span></button>
			</h2>
		</div>
	</div>

	<div class="row" style="margin-bottom:12px">
		<div class="col-xs-12">
			<h3><span class="glyphicon glyphicon-folder-open"></span> Dokumen</h3>
			<ul class="list-group" style="margin-bottom:6px">
				{% for spk in mpdokumen %}
					<li class="list-group-item" style="padding-top:2px; padding-bottom:2px;">
						<small>
						{% if(spk.uploaded != null) %}
							<span class="glyphicon glyphicon-file"></span> <strong>{{ spk.mdktnama }}</strong> ({{ spk.uploaded }}) : <a href="{{ site_url("media/do_download/" ~ mpid ~ "/" ~ spk.mdid) }}" target="_blank">{{ spk.mdnama }}</a>
						{%else%}
							-
						{% endif %}
						</small>
					</li>
				{% endfor %}
			</ul>
			<a href="{{ site_url("media/upload_spk/" ~ mpid) }}" class="btn btn-default"><span class="glyphicon glyphicon-upload"></span> Unggah</a>
			{% if latest_media != '' %}
				<a href="{{ site_url("media/do_download/" ~ mpid ~ "/" ~ latest_media) }}" class="btn btn-default"><span class="glyphicon glyphicon-download"></span> Unduh Berkas Terbaru</a>
			{% endif %}
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h3><span class="glyphicon glyphicon-comment"></span> Komentar</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<ul class="list-group" style="margin-bottom:10px">
				{% for k in komentar %}
				<li class="list-group-item"><span class="glyphicon glyphicon-user" style="font-size:16px"></span> <strong>{{k.uid}}</strong> <small>({{k.created}})</small><br/>
					{% if not k.raw %}
					{{k.message}}
					{% else %}
					{{k.message | raw }}
					{% endif %}
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<form class="form-inline" method="post" action="{{site_url("media/send_comment/" ~ mpid)}}#comment" role="form">
				<div class="input-group">
					<input type="text" class="form-control" name="comment" id="comment">
					<span class="input-group-btn">
						<button type="submit" class="btn btn-default">Kirim</button>
					</span>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}

<style type="text/css">
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
</style>
{% endblock %}

{% block scripts %}
{{ parent() }}
<script type="text/javascript">
	jQuery(function($){
		if(window.location.hash == "comment"){
			$("#comment").focus();
		}

		function editMediapoolNomor() {
			var url = "{{ site_url('media/edit_mediapool/')~'/'~mpid }}";
			console.log(url);
			var no_mediapool = $("input[name=no-mediapool]").val();

			$.post(url, {no_mediapool: no_mediapool}, function(r) {
				$("#edit-mediapool").modal("hide");
				$("span[name=nomor]").html("{% if kategori == 'SPK' %}No.{% elseif kategori == 'Kegiatan' %}Kode Rekening Kegiatan{% endif %} {{ kategori }} : " + $("input[name=no-mediapool]").val());
			}, "json");
		}
		//tambah mediapool
		$("button[name=simpan]").click(function(){
			editMediapoolNomor();
		}); 
	});
</script>
{% endblock %}