<div class="modal fade" id="tambah-rkb" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Tambahkan RKB/RKP Baru</h4>
			</div>
			<div class="modal-body">
				<form role="form">
					<fieldset class="form-group">
						<label class="control-label">Jenis File</label>
						<label class="radio-inline"><input type="radio" name="jenis-file">RKB (Rencana Kebutuhan Barang)</label>
						<label class="radio-inline"><input type="radio" name="jenis-file">RKP (Rencana Kebutuhan Pemeliharaan)</label>
					</fieldset>
					<fieldset class="form-group">
						<label for="userfile">Pilih berkas:</label>
						<input type="file" class="form-control-file" id="userfile" name="userfile">
					</fieldset>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
				<button type="submit" name="unggah" class="btn btn-primary">Unggah</button>
			</div>
		</div>
	</div>
</div>