{% extends "_templates/adminpage.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			{{ error | raw }}
			<h2>{% if kategori == 'SPK' %}No. SPK{% elseif kategori == 'Kegiatan' %}Kode Rekening Kegiatan{% endif %} : <a href="{{ site_url("media/view_spk/" ~ mpid, mpno) }}">{{mpno}}</a></h2>

			<form action="{{ site_url("media/do_upload/" ~ mpid) }}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
				<input class="form-control" name="spkid" type="hidden" value= {{ mpid }} />
				<div class="form-group">
					<label for="doctype">Tipe dokumen:</label>
					<select class="form-control" id="doctype" name="kategori">
						{% if kategori=='SPK' %}
							<option {% if dokumen=='1' %} selected {% endif %} >SPM</option>
							<option {% if dokumen=='2' %} selected {% endif %} >SP2D</option>
						{% elseif kategori=='Kegiatan' %}
							<option {% if dokumen=='3' %} selected {% endif %} >RKA</option>
							<option {% if dokumen=='4' %} selected {% endif %} >DPA</option>
						{% endif %}
					</select>
				</div>
				<div class="form-group">
					<label>Pilih berkas:</label>
							<input class="form-control" type="file" name="userfile">
				</div>
				<button type="submit" class="btn btn-default">Unggah</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}