{% extends "_templates/adminpage.html" %}
{% set notitle = true %}

{% block content %}
	<div class="row" style="border-collapse:collapse">
		<div class="col-xs-12" style="padding-left:0px; padding-right:0px;">
			<div style="border: 1px solid rgba(1, 1, 1, 0.25);">
				<div class="row" style="padding:10px 10px 0px 10px;">
					<div class="col-xs-3" toolbar>
						<select type="text" name="skpd-filter" id="skpd-filter" class="form-control ui-widget">
							<option value="">All SKPD</option>
						</select>
					</div>
					<div class="col-xs-2" toolbar>
						<select type="text" id="tahun-filter" class="form-control ui-widget">
							  <option value="">Tahun</option>
						</select>
					</div>
					<div class="col-xs-1" toolbar>

					</div>
					<div class="col-xs-2" toolbar>
						<input type="checkbox" name="my-checkbox" data-on-text="Titik" data-off-text="Lintasan" data-handle-width="60" />
					</div>
					<div class="col-xs-3 pull-right" toolbar>
						<input type="text" id="pencarian" class="form-control ui-widget" placeholder="Pencarian" />
					</div>
				</div>
				<div class="row" style="padding:5px 10px;">
					<div class="col-xs-3" toolbar>
						<input kib="01" name="filter" type="checkbox" checked /> Tanah
					</div>
<!-- 				<div class="col-xs-3" toolbar>
						<input kib="02"name="filter" type="checkbox" checked /> Peralatan dan Mesin
					</div> -->
					<div class="col-xs-3" toolbar>
						<input kib="03"name="filter" type="checkbox" checked /> Gedung dan Bangunan
					</div>
					<div class="col-xs-3" toolbar>
						<input kib="04"name="filter" type="checkbox" checked /> Jalan, Irigasi, dan Jaringan
					</div>
<!-- 				<div class="col-xs-3" toolbar>
						<input kib="05"name="filter" type="checkbox" checked /> Aset Tetap Lainnya
					</div>
					<div class="col-xs-3" toolbar>
						<input kib="06"name="filter" type="checkbox" checked /> Konstruksi Dalam Pengerjaan
					</div>
					<div class="col-xs-3" toolbar>
						<input kib="07"name="filter" type="checkbox" checked /> Aset Tidak Berwujud
					</div> -->
					<!-- <div class="col-xs-3" toolbar>
						<input kib="08" name="filter" type="checkbox" checked /> Kantor
					</div> -->
				</div>
			</div>
		</div>
		<div class="col-xs-12" style="padding-left:0px; padding-right:0px;">
			<div id="map-canvas"></div>
		</div>
		<div id="dialog" title="Silakan Masukkan Posisi Aset" style="display:none;">
			<form action="" method="post">
			<table>
			<tr style="border-bottom: solid transparent 5px">
				<td><label>Latitude</label></td><td><label>:</label></td>
				<td><input id="lat" name="latitude" type="text"></td>
			</tr>
			<tr style="border-bottom: solid transparent 5px">
				<td><label>Longitude</label></td><td><label>:</label></td>
				<td><input id="long" name="longitude" type="text"></td>
			</tr>
			<tr style="border-bottom: solid transparent 5px">
				<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
<!-- 				<td style="text-align:center;" colspan="3"><input id="submit" type="submit" value="Submit"></td> -->
			</tr>
			</table>
			</form>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	{{ parent() }}

	<script type="text/javascript">
		function getBaseUrl() { return "{{ base_url() }}" }
		function getAsetHapusUrl() { return "{{ site_url('aset/hapus') }}" }
		function getAsetUbahUrl() { return "{{ site_url('aset/ubah') }}" }
		function getAsetGetUrl() { return "{{ site_url('aset/get') }}" }
		function getAsetCariUrl() { return "{{ site_url('aset/cari') }}" }
		function getAsetSimpanUrl() { return "{{ site_url('aset/simpan') }}" }
		function getAsetTampilkanUrl() { return "{{ site_url('aset/tampilkan') }}" }
		function getAsetTampilkanSKPDUrl() { return "{{ site_url('aset/tampilkan_skpd') }}" }
		function getListSKPDUrl() { return "{{ site_url('aset/list_skpd') }}" }
		function getUploadFotoUrl() { return "{{ site_url('aset/upload_foto') }}" }
		function getSKPDUrl() { return "{{ site_url('aset/get_skpd') }}" }
		function getSimpanPolylinesUrl() { return "{{ site_url('aset/simpan_polylines') }}" }
	</script>

	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqNNR6XcUE9Z-KSdekIhar3e2Rs6k0fNo"></script>
	<script type="text/javaScript" src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	<script type="text/javaScript" src="{{ base_url("assets/js/jquery.loadmask.min.js") }}"></script>
	<script type="text/javaScript" src="{{ base_url("assets/js/accounting.min.js") }}"></script>
	<script type="text/javaScript" src="{{ base_url("assets/js/bootstrap-switch.min.js") }}"></script>
	<script type="text/javaScript" src="{{ base_url("assets/js/pretty-print-json.js") }}"></script>
	<script type="text/javaScript" src="{{ base_url("assets/js/guid.js") }}"></script>
	<script type="text/javaScript" src="{{ base_url("assets/js/app.js") }}"></script>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}

	<link href="{{ base_url("assets/css/bootstrap-switch.min.css") }}" rel="stylesheet" />
	<link href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" rel="stylesheet">
	<link href="{{ base_url("assets/css/jquery.loadmask.css") }}" rel="stylesheet">
	<link href="{{ base_url("assets/css/style.css") }}" rel="stylesheet">
{% endblock %}