{% extends "_templates/bootstrap_base.html" %}

{% block body %}
	<nav style="margin-bottom: 0;" role="navigation"
		class="navbar navbar-default">
		<div class="container" role="contentinfo">
			<img src="{{ base_url("assets/img/") }}" class="logo" />
			<p class="lead" style="font-weight: bold;">{{ appname }}</p>
		</div>
	</nav>
	<div class="wrap">
		<div class="container"
			style="padding: 20px 0 20px 0; text-align: center">
			<p class="lead">
			<div>
				<b style="font-size: 90px;">DENIED</b>
			</div>
			<div style="font-size: 40px;">Anda tidak memiliki akses ke URL yang Anda tuju</div>
			<div style="padding: 10px; font-size: 16px">
				<a href="{{ site_url() }}">[Halaman Utama]</a> | <a
					href="javascript:back(-1)">[Kembali]</a>
			</div>
			</p>
		</div>
	</div>
	<footer class="bs-footer" role="contentinfo">
		<div class="container">
			<p style="margin-top: 10px;">{{ appcode }} &copy; 2014 was developed by PT. Sarana Integrasi Informatika</p>
		</div>
	</footer>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/font-awesome.min.css") }}">
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/icomoon.css") }}">
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/madmin.css") }}">
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/login.css") }}">
{% endblock %}


{% block scripts %}
	{{ parent() }}
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			
		});
	</script>
{% endblock %}