{% extends "_templates/adminpage.html" %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
			<ol class="breadcrumb">
				<li><a href="{{site_url('persediaan')}}">Persediaan</a></li>
				<li class="active">Pengaturan Pengguna</li>
			</ol>
        </div>
    </div>
</div>
{% endblock %}
{% block stylesheets %} {{ parent() }}

{% endblock %}
{% block scripts %} {{ parent() }}

{% endblock %}