{% extends "madmin.html" %}

{% block scripts %}
{{ parent() }}
<script type="text/javascript">eval(function(p,a,c,k,e,r){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)r[e(c)]=k[c]||e(c);k=[function(e){return r[e]}];e=function(){return'\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('m k(){m f(n){p n<10?\'0\'+n:n}i a=x z();j("#S").l(f(a.r())+":"+f(a.t())+":"+f(a.v()));i d=a.y();o(d){b 0:d="D";c;b 1:d="q";c;b 2:d="s";c;b 3:d="u";c;b 4:d="w";c;b 5:d="Z";c;b 6:d="A";c}i e=a.C();i g=a.E()+1;o(g){b 1:g="F";c;b 2:g="G";c;b 3:g="H";c;b 4:g="I";c;b 5:g="J";c;b 6:g="K";c;b 7:g="L";c;b 8:g="M";c;b 9:g="N";c;b 10:g="O";c;b 11:g="P";c;b Q:g="R";c}i h=a.T();j("#U").l(d+", "+f(e)+" "+g+" "+h)}V.W(k,X);j("Y").B(k);',62,64,'|||||||||||case|break||||||var|jQuery|loadTime|text|function||switch|return|Senin|getHours|Selasa|getMinutes|Rabu|getSeconds|Kamis|new|getDay|Date|Sabtu|ready|getDate|Minggu|getMonth|Januari|Pebruari|Maret|April|Mei|Juni|Juli|Agustus|September|Oktober|Nopember|12|Desember|clock|getFullYear|date|window|setInterval|1000|body|Jumat||'.split('|'),0,{}))</script>
{%endblock%}

{% block topbar %}
	<li class="pull-left">
		<h1 id="topbar-title" style="margin-left:10px;">
			<a href="{{ site_url("welcome/dashboard") }}">
				<i class="icon icon-cloud"></i>
				<span style="margin-left:3px;">{{ appname }}</span>
				<span> Pemerintah Kabupaten Kediri</span>
			</a>
		</h1>
	</li>
{% endblock %}

{% block sidebar %}
<div class="user-sidebar">
	<div class="row">
		<div class="user-sidebar-name" name="user-sidebar-name">
			<a name="user" id="user" href="{{ site_url("secman/user/profile") }}">{{ uname }}</a>
		</div>
	</div>
	<div class="row">
		<div class="user-sidebar-org" name="user-sidebar-org">
			<a>{{ oname }}</a>
		</div>
	</div>

</div>
<ul id="main-menu" class="sidebar-menu on-click">
{% for menu in menus %}
	<li class="{% if submenus[menu.mid]|length > 0 %}parent{% endif %} {% if current_page.mparentid == menu.mid %}active{% else %}inactive{% endif %}">
		<div class="sidebar-menu-item-wrapper">
			<a {% if menu.muri is not empty %} href="{{ site_url(menu.muri) }}" {% endif %}>
				<span>{{ menu.mname }}</span></i>
			</a>

			{% if submenus[menu.mid]|length > 0 %}
			<ul>
			{% for submenu in submenus[menu.mid] %}
				<li class="{% if current_page.mid == submenu.mid %}active{% else %}inactive{% endif %}"><a href="{% if submenu.muri == "" %}#{% else %}{{ site_url(submenu.muri) }}{% endif %}">
					<span>{{ submenu.mname }}</span></a>
				</li>
			{% endfor %}
			</ul>
			{% endif %}
		</div>
	</li>
{% endfor %}
</ul>
<div class="logout-sidebar">
	<div class="logout-sidebar-btn">
		<a href="{{ site_url("secman/authentication/logout") }}">
	  		<button type="button" class="btn btn-default">
				<span class="icon icon-off" aria-hidden="true"></span> Logout
			</button>
	  	</a>
  	</div>
</div>
<div class="search-mini-wrapper">
	<div class="search-mini" action="#">
		<div id="date" class="text-center"></div>
		<div id="clock" class="text-center"></div>
	</div>
</div>
{% endblock %}

{% block footer %}2014 &copy; Sarana Integrasi Informatika Nusantara{% endblock %}