<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<link rel="stylesheet" type="text/css" media="screen" href="{{ base_url("assets/css/bootstrap.min.css") }}">
		<link rel="icon" href="{{site_url('favicon.ico')}}" type="image/gif">
		{% block stylesheets  %}
			{% for i in css %}
				<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/" ~ i) }}">
			{% endfor %}
		{% endblock %}
		<title>{{ title }}</title>
		<script type="text/javascript" src="{{ base_url("assets/js/jquery-1.9.0.min.js") }}"></script>
	</head>
	<body class="{% block bodyclass %}{% endblock %}">
		{% block body %}{% endblock %}
		
		<script type="text/javascript" src="{{ base_url("assets/js/underscore-min.js") }}"></script>
		<script type="text/javascript">$.noConflict();</script>
		<script type="text/javascript" src="{{ base_url("assets/js/jquery-ui-1.10.3.min.js") }}"></script>
		<script type="text/javascript" src="{{ base_url("assets/js/bootstrap.min.js") }}"></script>
		{% block scripts  %}
			{% for i in js %}
				<script type="text/javascript" src="{{ base_url("assets/js/" ~ i) }}"></script>
			{% endfor %}
		{% endblock %}
		<script type="text/javascript" src="{{ base_url("assets/js/date.js") }}"></script>
	</body>
</html>