{% extends "bootstrap_base.html" %}


{% block body %}
<div class="container-fluid" style="width: 1366px;">
	<div class="row">
		<div class="col-xs-12" topbar>
			<div class="row">
				<div class="col-xs-6" logo>
					<i class="icon-cogs icon-2x"></i>
					<h3 style="display:inline; padding-left:5px;">
						<b>SIMBADA GO!</b>
					</h3>
				</div>
				<div class="pull-right col-xs-1" profil>
					<ul>
						<li>
							<a data-toggle="dropdown" href="#">
								<i class="icon-gear icon-2x" ></i>
								<span></span>
							</a>
							<ul class="dropdown-menu" style="margin-left:-100px; top:94%">
								<li><a href="http://localhost/pantau/secman/user/profile">Profil</a></li>
								<li class="divider"></li>
								<li><a href="http://localhost/pantau/secman/authentication/logout">Logout</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div sidebar class="col-xs-2">
			<div class="row" menu style="background:black;">
				<i class="icon-user icon-2x"></i>
				<span style="padding-left:10px; position: absolute; top:16px; font-weight: bold">{{ uname }}<br/>{{ oname }}</span>
			</div>
			<div class="row menu" menu>
				<a href="{{ site_url("aset/index") }}"
					<i class="icon-map-marker"></i>
					<span style="">Peta Aset</span>
				</a>
			</div>
			<div class="row menu" menu>
				<a href="{{ site_url("aset/kantor") }}"
					<i class="icon-home"></i>
					<span style="">Master Kantor</span>
				</a>
			</div>
			<div class="row menu" menu>
				<a href="{{ site_url("aset/daftar_pengadaan") }}"
					<i class="icon-home"></i>
					<span style="">Daftar Pengadaan</span>
				</a>
			</div>
			<!-- <div class="row menu" menu>
				<a href="{{ site_url("aset/penerimaan") }}"
					<i class="icon-home"></i>
					<span style="">Penerimaan</span>
				</a>
			</div> -->
			<div class="row menu" menu>
				<a href="{{ site_url("aset/kamus_spk") }}"
					<i class="icon-home"></i>
					<span style="">Kamus SPK</span>
				</a>
			</div>
		</div>
		<div class="col-xs-10">
			{% block content %}{% endblock %}
		</div>
	</div>
</div>
{% endblock %}


{% block scripts %}
	{{ parent() }}

	<script type="text/javascript" src="{{ base_url("assets/js/smart.js") }}"></script>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}

	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/smart.css") }}">
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/font-awesome.min.css") }}">
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/" ~ "icomoon.css") }}">
{% endblock %}