{% extends "_templates/adminpage.html" %} {% block content %}
{% include "simgo/persediaan/modal/modal_persiapan_cetak.html" %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="{{site_url('persediaan')}}">Persediaan</a></li>
                <li><a href="{{site_url('persediaan/katalog_bukti_pengambilan')}}">Daftar Buku Pengambilan Barang</a></li>
                <li class="active">Buku Pengambilan Barang</li>
            </ol>
        </div>
    </div>
	<div class="row">
		<!--<div class="col-md-3 pull-right">
			<div data-date-format="mm-yyyy" data-date="{{ today }}" datepicker class="input-group input-append date">
				<input id="tanggal" name="tanggal" readonly="" class="form-control" value="{{ today }}"></input>
				<span class="input-group-addon add-on"><i class="icon-calendar"></i></span>
			</div>
		</div>-->
	</div>
    <div class="row">
        <div class="col-md-12">
            <table class="table" style="border-style:hidden;">
                <tr>
                    <td class='col-md-6 text-left'><strong>Daerah/SKPD : {{oname}}</strong></td>
                    <td class='col-md-6 text-right'><strong>No. : {{juno}}</strong></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Bukti Pengambilan Barang Dari Gudang</h2></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="col-md-1 text-center" rowspan="2">Nomor SPPB</th>
                        <th class="col-md-1 text-center" rowspan="2">Tanggal SPPB</th>
                        <th class="text-center" rowspan="2">Nama dan Spesifikasi Barang</th>
                        <th class="text-center" rowspan="2">Satuan</th>
                        <th class="text-center" colspan="2">Jumlah Barang</th>
                        <th class="col-md-2 text-center" rowspan="2">Jumlah Harga</th>
                    </tr>
                    <tr>
                        <th class="col-md-1 text-center">(angka)</th>
                        <th class="col-md-1 text-center">(huruf)</th>
                    </tr>
                    <tr>
                        {%for i in 1..7%}
                        <th class="small-header text-center"><small>{{i}}</small></th>
                        {%endfor%}
                    </tr>
                </thead>
                <tbody id="data-body">
                    <!--<tr></tr>-->
                    {% for x in table_data %}
                        {% for y in x.detail %}
                            <tr>
                                <td>{{x.judasarno}}</td>
                                <td>{{x.judasartgl}}</td>
                                <td>{{y.namabarang}} {{y.spesifikasi}}</td>
                                <td>{{y.judunit}}</td>
                                <td>{{y.judqty}}</td>
                                <td>{{y.qty_huruf}}</td>
                                <td>{{(y.judhargasat * y.judqty)}}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group pull-right">
                <button id="kembali" type="button" class="btn btn-default">Kembali</button>
                <button id="cetak" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-print"></span> Cetak</button>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block stylesheets %} {{ parent() }}
<link rel="stylesheet" type="text/css" href="{{base_url('assets/css/datepicker3.css')}}" />
<link rel="stylesheet" type="text/css" media="print" href="{{ base_url('assets/css/bootstrap.min.css') }}">
<style type="text/css">
    .small-header {
        font-weight: normal !important;
        padding: 2px !important;
    }
    
    .text-middle{
        vertical-align: middle !important;
    }
    
    @media print {
        body * {
            visibility: hidden;
        }
        #topbar,
        #sidebar,
        .breadcrumb,
        h1 {
            display: none;
        }
        .container,
        .container * {
            visibility: visible;
        }
        .sidebar-max {
            padding: 0px !important;
        }
        #content {
            position: absolute !important;
            left: 0px !important;
            top: 0px !important;
        }
    }
</style>
{% endblock %} {% block scripts %} {{ parent() }}
<script type="text/javaScript" src="{{base_url('assets/js/bootstrap-datepicker.js')}}"></script>
<script src="{{site_url('assets/js/numeral/numeral.min.js')}}"></script>
<script src="{{site_url('assets/js/numeral/languages.id.js')}}"></script>
<script type="text/javaScript" src="{{ base_url('assets/js/base64.js') }}"></script>
<script type="text/javascript">

    numeral.language('id-ID');
    
    jQuery(function($){
        populateTable();

		// $("*[datepicker]").datepicker({
		// 	autoclose:true,
		// 	orientation:"bottom",
		// 	format: "mm-yyyy",
		// 	startView: "months", 
		// 	minViewMode: "months"
		// });
        
        // $("#tanggal").on("change", function(){
        //     populateTable();
        // });
        
        function populateTable(){
            $("#data-body").empty();
            $("#data-body").append("<tr></tr><tr></tr>");
            
            data = [];
            
            {% for x in table_data %}
                data.push( {
                    judasarno : "{{x.judasarno}}",
                    judasartgl : "{{x.judasartgl}}",
                    detail : [],
                } );
                {% for y in x.detail %}
                    data[data.length-1].detail.push( {
                        namabarang : "{{y.namabarang}}",
                        spesifikasi : "{{y.spesifikasi}}",
                        judunit : "{{y.judunit}}",
                        judqty : -parseFloat("{{y.judqty}}"),
                        qty_huruf : "{{y.qty_huruf}}",
                        judhargasat : "{{y.judhargasat}}"
                    } );
                {% endfor %}
            {% endfor %}
            
            for (x in data) {
                if(data[x].detail != null){
                    for (y in data[x].detail) {
                        var hargaTotal = data[x].detail[y].judhargasat * data[x].detail[y].judqty;
                        $("#data-body").append(
                            "<tr>"+
                                "<td class='text-center'>"+((y == 0)? data[x].judasarno : "")+"</td>"+
                                "<td class='text-center'>"+((y == 0)? data[x].judasartgl : "")+"</td>"+
                                "<td>"+data[x].detail[y].namabarang+"<br/><small>"+data[x].detail[y].spesifikasi+"</small></td>"+
                                "<td>"+data[x].detail[y].judunit+"</td>"+
                                "<td class='text-right'>"+numeral(data[x].detail[y].judqty).format("0,0.0")+"</td>"+
                                "<td><small>"+data[x].detail[y].qty_huruf+"</small></td>"+
                                "<td class='text-right'>"+numeral(hargaTotal).format("$0,0.00")+"</td>"+
                            "</tr>"
                        );
                    }
                }
                else
                {
                    $("#data-body").append(
                        "<tr>"+
                            "<td class='text-center'>"+data[x].judasarno+"</td>"+
                            "<td class='text-center'>"+data[x].judasartgl+"</td>"+
                            "<td class='text-center text-middle'>-</td>"+
                            "<td class='text-center text-middle'>-</td>"+
                            "<td class='text-center text-middle'>-</td>"+
                            "<td class='text-center text-middle'>-</td>"+
                            "<td class='text-center text-middle'>-</td>"+
                        "</tr>"
                    );
                }
            }
            
            // data.forEach(function(value, index){
            //     var nomor = value["judasarno"];
            //     var tglrec = value["judasartgl"];
            //     if(value.detail!=null){
            //         value.detail.forEach(function(value, index){
            //             $("#data-body").append(
            //                 "<tr>"+
            //                     "<td class='text-center'>"+((index == 0)? nomor : "")+"</td>"+
            //                     "<td class='text-center'>"+((index == 0)? tglrec : "")+"</td>"+
            //                     "<td>"+value['namabarang']+"<br/><small>"+value['spesifikasi']+"</small></td>"+
            //                     "<td>"+value['judunit']+"</td>"+
            //                     "<td class='text-right'>"+numeral(-value['judqty']).format("0,0.0")+"</td>"+
            //                     "<td><small>"+value['qty_huruf']+"</small></td>"+
            //                     "<td class='text-right'>"+numeral(-value['judhargasat'] * value['judqty']).format("$0,0.00")+"</td>"+
            //                 "</tr>"
            //             );
            //         }, nomor, tglrec);
            //     }
            //     else
            //     {
            //         $("#data-body").append(
            //             "<tr>"+
            //                 "<td class='text-center'>"+nomor+"</td>"+
            //                 "<td class='text-center'>"+tglrec+"</td>"+
            //                 "<td class='text-center text-middle'>-</td>"+
            //                 "<td class='text-center text-middle'>-</td>"+
            //                 "<td class='text-center text-middle'>-</td>"+
            //                 "<td class='text-center text-middle'>-</td>"+
            //                 "<td class='text-center text-middle'>-</td>"+
            //             "</tr>"
            //         );
            //     }
            // });
        }
        
        
        $("#lakukan-cetak").on('click', function(){
            var juno = Base64.encode("{{juno}}");
            var skpd = Base64.encode("{{skpd}}");
            var tanggal = Base64.encode("04-2016");
            var namaunit = Base64.encode("{{oname}}");
            var pengurusbarang = Base64.encode($("#nama-petugas").val());
            var nippengurusbarang = Base64.encode($("#nip-petugas").val());
            var atasanlangsung = Base64.encode($("#nama-atasan").val());
            var nipatasanlangsung = Base64.encode($("#nip-atasan").val());
            var penerima = Base64.encode($("#nama-pengambil").val());
            var nippenerima = Base64.encode($("#nip-pengambil").val());
            
            if(juno === "") {juno = "-"}
            if(skpd === "") {skpd = "-"}
            if(tanggal === "") {tanggal = "-"}
            if(namaunit === "") {namaunit = "-"}
            if(pengurusbarang === "") {pengurusbarang = "-"}
            if(nippengurusbarang === "") {nippengurusbarang = "-"}
            if(atasanlangsung === "") {atasanlangsung = "-"}
            if(nipatasanlangsung === "") {nipatasanlangsung = "-"}
            if(penerima === "") {penerima = "-"}
            if(nippenerima === "") {nippenerima = "-"}
            
            window.open("{{ site_url('persediaan/print_bukti_pengambilan_barang') }}/"+ namaunit + "/" + skpd + "/" + juno + "/" + tanggal + "/" + pengurusbarang + "/" + nippengurusbarang + "/" + penerima + "/" + nippenerima + "/" + atasanlangsung + "/" + nipatasanlangsung, "_blank");
        });

        $("#cetak").on("click", function(){
            $("#persiapan-cetak").modal('show');
        });
        $("#kembali").on("click", function(){
            window.location.href = "{{site_url('persediaan/katalog_bukti_pengambilan')}}";
        });
	});

</script>
{% endblock %}