{% extends "_templates/adminpage.html" %} {% block content %} {% include "simgo/persediaan/modal/modal_persiapan_cetak.html"
%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="{{site_url('persediaan')}}">Persediaan</a></li>
                <li class="active">Buku Pengeluaran Barang</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 pull-right">
            <div data-date-format="mm-yyyy" data-date="{{ today }}" datepicker class="input-group input-append date">
                <input id="tanggal" name="tanggal" readonly="" class="form-control" value="{{ today }}"></input>
                <span class="input-group-addon add-on"><i class="icon-calendar"></i></span>
            </div>
        </div>
    </div>
    <br/>
    <div class="row" style="display:none">
        <div class="col-md-12">
            <h2 class="text-center">Buku Pengeluaran Barang</h2></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Nomor</th>
                        <th class="text-center">Tanggal</th>
                        <!--<th class="text-center">Nomor Jurnal</th>-->
                        <th class="text-center">Nama Barang</th>
                        <th class="text-center">Banyaknya</th>
                        <th class="text-center">Harga Satuan</th>
                        <th class="text-center">Jumlah Harga</th>
                        <th class="text-center">Untuk</th>
                        <th class="text-center">Tanggal Penyerahan</th>
                        <th class="text-center">Ket.</th>
                    </tr>
                    <tr>
                        {%for i in 1..9%}
                        <th class="small-header text-center"><small>{{i}}</small></th>
                        {%endfor%}
                    </tr>
                </thead>
                <tbody id="data-body">
                    <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group pull-right">
                <button id="kembali" type="button" class="btn btn-default">Kembali</button>
                <button id="cetak" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-print"></span> Cetak</button>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block stylesheets %} {{ parent() }}
<link rel="stylesheet" type="text/css" href="{{base_url('assets/css/datepicker3.css')}}" />
<link rel="stylesheet" type="text/css" media="print" href="{{ base_url('assets/css/bootstrap.min.css') }}">
<style type="text/css">
    .small-header {
        font-weight: normal !important;
        padding: 2px !important;
    }
    
    .text-middle {
        vertical-align: middle !important;
    }
    
    @media print {
        body * {
            visibility: hidden;
        }
        #topbar,
        #sidebar,
        .breadcrumb,
        h1 {
            display: none;
        }
        .container,
        .container * {
            visibility: visible;
        }
        .sidebar-max {
            padding: 0px !important;
        }
        #content {
            position: absolute !important;
            left: 0px !important;
            top: 0px !important;
        }
    }
</style>
{% endblock %} {% block scripts %} {{ parent() }}
<script type="text/javaScript" src="{{base_url('assets/js/bootstrap-datepicker.js')}}"></script>
<script src="{{site_url('assets/js/numeral/numeral.min.js')}}"></script>
<script src="{{site_url('assets/js/numeral/languages.id.js')}}"></script>
<script type="text/javaScript" src="{{ base_url('assets/js/base64.js') }}"></script>
<script type="text/javascript">
    numeral.language('id-ID');
    
    jQuery(function($){
        
        populateTable();

            $("*[datepicker]").datepicker({
                autoclose:true,
                orientation:"bottom",
                format: "mm-yyyy",
                startView: "months", 
                minViewMode: "months"
            });
            
            $("#tanggal").on("change", function(){
                populateTable();
            });
        
        function populateTable(){
            $("#data-body").empty();
            $("#data-body").append("<tr></tr><tr></tr>");
            
            $.post("{{site_url('persediaan/get_populasi_buku_pengeluaran_barang')}}", {skpd:"{{skpd}}", tanggal:$("#tanggal").val()}, function(json){
                // console.log(json);
                json.forEach(function(ju, juin){
                    var jurnal = ju;
                    if(ju.detail!=null)
                    {
                        ju.detail.forEach(function(jud, judin){
                            var table_row = "<tr>";
                            // console.log(jud);
                            if(judin == 0)
                            {
                                // nomor
                                table_row += "<td>"+jurnal["juno"]+"</td>";
                                // tanggal
                                table_row += "<td>"+jurnal["jutgl"]+"</td>";
                            }
                            else
                            {
                                table_row += "<td></td><td></td>";
                            }
                            // nama barang
                            table_row += "<td>"+jud["namabarang"]+"<br/><small>"+jud["spesifikasi"]+"</small></td>";
                            // banyaknya (satuan)
                            table_row += "<td>"+(-jud["judqty"])+" "+jud["judunit"]+"</td>";
                            // harga satuan
                            table_row += "<td class='text-right'>"+numeral(jud["judhargasat"]).format("$0.0,[00]")+"</td>";
                            // jumlah harga
                            table_row += "<td class='text-right'>"+numeral(jud["judhargasat"] * -jud["judqty"]).format("$0.0,[00]")+"</td>";
                            if(judin == 0)
                            {
                                // untuk
                                table_row += "<td>"+jurnal["untuk"]+"</td>";
                                // tanggal penyerahan
                                table_row += "<td>"+jurnal["jutgl"]+"</td>";
                            }
                            else
                            {
                                table_row += "<td></td><td></td>";
                            }
                            // keterangan
                            table_row += "<td>"+jud["keterangan"]+"</td>";
                            
                            table_row += "</tr>";
                            
                            $("#data-body").append(table_row);
                        }, jurnal);
                    }
                    else
                    {
                        $("#data-body").append(
                            "<tr>"+
                                "<td class='text-center'>"+jurnal['juno']+"</td>"+
                                "<td class='text-center'>"+jurnal['jutgl']+"</td>"+
                                "<td class='text-center text-middle'>-</td>"+
                                "<td class='text-center text-middle'>-</td>"+
                                "<td class='text-center text-middle'>-</td>"+
                                "<td class='text-center text-middle'>-</td>"+
                                "<td class='text-center text-middle'>-</td>"+
                                "<td class='text-center'>"+jurnal['jutgl']+"</td>"+
                                "<td class='text-center text-middle'>-</td>"+
                            "</tr>"
                        );
                    }
                });
            }, "json");
        }
        
        $("#lakukan-cetak").on("click", function(){
            var skpd = Base64.encode("{{skpd}}");
            var tanggal = Base64.encode($("#tanggal").val());
            var namaunit = Base64.encode("{{oname}}");
            var pengurusbarang = Base64.encode($("#nama-petugas").val());
            var nippengurusbarang = Base64.encode($("#nip-petugas").val());
            var atasanlangsung = Base64.encode($("#nama-atasan").val());
            var nipatasanlangsung = Base64.encode($("#nip-atasan").val());
            
            if( skpd === "") {skpd = "-"}
            if( tanggal === "") {tanggal = "-"}
            if( namaunit === "") {namaunit = "-"}
            if( pengurusbarang === "") {pengurusbarang = "-"}
            if( nippengurusbarang === "") {nippengurusbarang = "-"}
            if( atasanlangsung === "") {atasanlangsung = "-"}
            if( nipatasanlangsung === "") {nipatasanlangsung = "-"}
            
            window.open("{{ site_url('persediaan/print_buku_pengeluaran_barang') }}/"+ namaunit + "/" + skpd + "/" + tanggal + "/" + pengurusbarang + "/" + nippengurusbarang + "/" + atasanlangsung + "/" + nipatasanlangsung, '_blank');
        });
            
        $("#cetak").on("click", function(){
            $("#pengambil").hide();
            $("#persiapan-cetak").modal("show");
        });
        $("#kembali").on("click", function(){
            window.location.href = "{{site_url('persediaan')}}";
        });
    });

</script>
{% endblock %}