{% extends "_templates/adminpage.html" %} {% block content %}
{% include "simgo/persediaan/modal/modal_persiapan_cetak.html" %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
				<li><a href="{{site_url('persediaan')}}">Persediaan</a></li>
				<li class="active">Buku Barang Pakai Habis</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 pull-right">
			<div data-date-format="mm-yyyy" data-date="{{ today }}" datepicker class="input-group input-append date">
				<input id="tanggal" name="tanggal" readonly="" class="form-control" value="{{ today }}"></input>
				<span class="input-group-addon add-on"><i class="icon-calendar"></i></span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table>
				<tr>
					<td>SKPD&nbsp;</td>
					<td>: {{oname}}</td>
				</tr>
				<tr>
					<td>KABUPATEN&nbsp;</td>
					<td>: Mojokerto</td>
				</tr>
				<tr>
					<td>PROVINSI&nbsp;</td>
					<td>: Jawa Timur</td>
				</tr>
			</table>
		</div>
	</div>
	<br/>
	<div class="row" style="display:none">
		<div class="col-md-12 text-center">
			<h2>Buku Barang Pakai Habis</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th class="text-center" rowspan="3">No.</th>
						<th class="text-center" rowspan="3">Jenis / Nama Barang</th>
						<th class="text-center" rowspan="3">Merk / Ukuran</th>
						<th class="text-center" rowspan="3">Tahun Pembuatan</th>
						<th class="text-center" colspan="5">PENERIMAAN</th>
						<th class="text-center" colspan="4">PENGELUARAN</th>
						<th class="text-center" rowspan="3">Ket.</th>
						<th class="text-center" rowspan="3"></th>
					</tr>
					<tr>
						<th class="text-center" rowspan="2">Tanggal Diterima</th>
						<th class="text-center" rowspan="2">Jumlah Satuan / Barang</th>
						<th class="text-center" rowspan="2">Tgl / No. Kontrak / SP / SPK / Harga Satuan</th>
						<th class="text-center" colspan="2">Berita Acara Pemeriksaan</th>
						<th class="text-center" rowspan="2">Tanggal Dikeluarkan</th>
						<th class="text-center" rowspan="2">Diserahkan Kepada</th>
						<th class="text-center" rowspan="2">Jumlah Satuan / Barang</th>
						<th class="text-center" rowspan="2">Tgl / No. Surat Penyerahan</th>
					</tr>
					<tr>
						<th>Tanggal</th>
						<th>Nomor</th>
					</tr>
					<tr>
						{%for i in 1..14%}
						<th class="small-header text-center"><small>{{i}}</small></th>
						{%endfor%}
						<th class="small-header text-center"></th>
					</tr>
				</thead>
				<tbody id="data-body">
					<tr></tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
        <div class="col-md-12">
            <div class="btn-group pull-right">
                <button id="kembali" type="button" class="btn btn-default">Kembali</button>
                <button id="cetak" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-print"></span> Cetak</button>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block stylesheets %} {{ parent() }}
<link rel="stylesheet" type="text/css" href="{{base_url('assets/css/datepicker3.css')}}" />
<link rel="stylesheet" type="text/css" media="print" href="{{ base_url('assets/css/bootstrap.min.css') }}">
<style type="text/css">
	.small-header {
		font-weight: normal !important;
		padding: 2px !important;
	}
	
	@media print {
		body * {
			visibility: hidden;
		}
		#topbar,
		#sidebar,
		.breadcrumb,
		h1 {
			display: none;
		}
		.container,
		.container * {
			visibility: visible;
		}
		.sidebar-max {
			padding: 0px !important;
		}
		#content {
			position: absolute !important;
			left: 0px !important;
			top: 0px !important;
		}
	}
</style>
{% endblock %} {% block scripts %} {{ parent() }}
<script type="text/javaScript" src="{{base_url('assets/js/bootstrap-datepicker.js')}}"></script>
<script type="text/javaScript" src="{{ base_url('assets/js/base64.js') }}"></script>
<script type="text/javascript">
	jQuery(function($){
		
        populateTable();
        var masuk = [];
        var keluar = [];

		$("*[datepicker]").datepicker({
			autoclose:true,
			orientation:"bottom",
			format: "mm-yyyy",
			startView: "months", 
			minViewMode: "months"
		});
        
        $("#tanggal").on("change", function(){
            populateTable();
        });
        
        function populateTable(){
            $("#data-body").empty();
            $("#data-body").append("<tr></tr><tr></tr>");
            
            $.post("{{ site_url('persediaan/get_populasi_buku_pakai_habis') }}", {skpd:"{{skpd}}", tanggal:$("#tanggal").val()}, function(json){
                json.forEach(function(value, index){
                	if(value['tipe'] == "1") {
                		keluar.push(value);
                	} else if (value['tipe'] == "0") {
                		masuk.push(value);
                	}

                    jurnal = value;
                    nomor = index+1;
                    value.detail.forEach(function(value, index){
                    	if (jurnal['tipe'] == "1") {
                    		$("#data-body").append(
	                            "<tr>"+
	                                "<td class='text-center'>"+((index == 0)? nomor+"." : "")+"</td>"+
	                                "<td>"+value['namabarang']+"</td>"+
	                                "<td>"+value['spesifikasi']+"</td>"+
	                                "<td class='text-center'></td>"+
	                                "<td class='text-center'></td>"+
	                                "<td class='text-right'></td>"+
	                                "<td></td>"+
	                                "<td></td>"+
	                                "<td></td>"+
	                                "<td>"+jurnal['jutgl']+"</td>"+
	                                "<td>"+jurnal['spnama']+"</td>"+
	                                "<td>"+(-value['judqty'])+"</td>"+
	                                "<td>"+((index == 0)? jurnal['judasarno'] : "")+"</td>"+
	                                "<td>"+jurnal['keterangan']+"</td>"+
									"<td>"+((index == 0)? "<a href='{{ site_url('persediaan/barang_keluar') }}/"+Base64.encode(jurnal['juno'])+"' target='_blank'>"+"<span class='glyphicon glyphicon-pencil'></span>"+"</a>" : "")+"</td>"+
								"</tr>"
	                        );
                    	} else if (jurnal['tipe'] == "0") {
                    		$("#data-body").append(
	                            "<tr>"+
	                                "<td class='text-center'>"+((index == 0)? nomor+"." : "")+"</td>"+
	                                "<td>"+value['namabarang']+"</td>"+
	                                "<td>"+value['spesifikasi']+"</td>"+
	                                "<td class='text-center'>"+value['judtahunbuat']+"</td>"+
	                                "<td class='text-center'>"+((index == 0)? jurnal['judasartgl'] : "")+"</td>"+
	                                "<td class='text-right'>"+(value['judqty'])+"</td>"+
	                                "<td>"+((index == 0)? jurnal['judasarno'] : "")+"</td>"+
	                                "<td>"+((index == 0)? jurnal['jubuktino'] : "")+"</td>"+
	                                "<td>"+((index == 0)? jurnal['jubuktitgl'] : "")+"</td>"+
	                                "<td></td>"+
	                                "<td></td>"+
	                                "<td></td>"+
	                                "<td></td>"+
	                                "<td>"+jurnal['keterangan']+"</td>"+
									"<td>"+((index == 0)? "<a href='{{ site_url('persediaan/barang_masuk') }}/"+Base64.encode(jurnal['juno'])+"' target='_blank'>"+"<span class='glyphicon glyphicon-pencil'></span>"+"</a>" : "")+"</td>"+
	                            "</tr>"
	                        );
                    	}
                    }, jurnal, nomor);
                });
					
				$(".masuk").on("click", function(){
					$.post("{{site_url('persediaan/barang_masuk')}}",{},function(result){
						$(document).html(result);
					},"html");
				});
            },"json");
        }
		
        $("#lakukan-cetak").on('click', function(){
            // window.open("{{site_url('persediaan/print_buku_pakai_habis')}}");
            var skpd = Base64.encode("{{skpd}}");
            var tanggal = Base64.encode($("#tanggal").val());
      		var namaunit = Base64.encode("{{oname}}");
            var pengurusbarang = Base64.encode($("#nama-petugas").val());
            var nippengurusbarang = Base64.encode($("#nip-petugas").val());
            var atasanlangsung = Base64.encode($("#nama-atasan").val());
            var nipatasanlangsung = Base64.encode($("#nip-atasan").val());
            
            if( skpd === "") {skpd = "-"}
            if( tanggal === "") {tanggal = "-"}
            if( namaunit === "") {namaunit = "-"}
            if( pengurusbarang === "") {pengurusbarang = "-"}
            if( nippengurusbarang === "") {nippengurusbarang = "-"}
            if( atasanlangsung === "") {atasanlangsung = "-"}
            if( nipatasanlangsung === "") {nipatasanlangsung = "-"}
            
			window.open("{{ site_url('persediaan/print_buku_pakai_habis') }}/"+ namaunit + "/" + skpd + "/" + tanggal + "/" + pengurusbarang + "/" + nippengurusbarang + "/" + atasanlangsung + "/" + nipatasanlangsung, "_blank");
			//tambah organisasi, nama, jabatan, dan NIP dari pengurus gudang dan atasan langsung
        });

        $("#cetak").on("click", function(){
            $("#pengambil").hide();
            $("#persiapan-cetak").modal("show");
        });
		
        $("#kembali").on("click", function(){
            window.location.href = "{{site_url('persediaan')}}";
        });
    });

</script>
{% endblock %}