{% extends "_templates/adminpage.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="{{site_url('persediaan')}}">Persediaan</a></li>
                <li class="active">Buku Pengambilan Barang</li>
            </ol>
        </div>
    </div>
	<div class="row">
		<div class="col-md-3 pull-right">
			<div data-date-format="mm-yyyy" data-date="{{ today }}" datepicker class="input-group input-append date">
				<input id="tanggal" name="tanggal" readonly="" class="form-control" value="{{ today }}"></input>
				<span class="input-group-addon add-on"><i class="icon-calendar"></i></span>
			</div>
		</div>
	</div>
    <div class="row">
        <div class="col-md-12">
            <table class="table" style="border-style:hidden;">
                <tr>
                    <td class='col-md-6 text-left'><strong>Daerah/SKPD : {{oname}}</strong></td>
                    <!--<td class='col-md-6 text-right'><strong>No. :</strong> <input type="text"></td>-->
                </tr>
            </table>
        </div>
    </div>
    <!--<div class="row">
        <div class="col-md-12 text-center">
            <h2>Katalog Bukti Pengambilan Barang</h2></div>
    </div>-->
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="col-md-1 text-center" rowspan="2">Nomor Bukti Pengambilan</th>
                        <th class="col-md-1 text-center" rowspan="2">Nomor SPPB</th>
                        <th class="col-md-1 text-center" rowspan="2">Tanggal SPPB</th>
                        <th class="text-center" rowspan="2">Nama dan Spesifikasi Barang</th>
                        <th class="text-center" rowspan="2">Satuan</th>
                        <th class="text-center" colspan="2">Jumlah Barang</th>
                        <th class="col-md-2 text-center" rowspan="2">Jumlah Harga</th>
                        <th class="text-center" rowspan="2"></th>
                    </tr>
                    <tr>
                        <th class="col-md-1 text-center">(angka)</th>
                        <th class="col-md-1 text-center">(huruf)</th>
                    </tr>
                    <tr>
                        {%for i in 1..9%}
                        <th class="small-header text-center"><small>{{i}}</small></th>
                        {%endfor%}
                    </tr>
                </thead>
                <tbody id="data-body">
                    <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--<div class="row">
        <div class="col-md-12">
            <div class="btn-group pull-right">
                <button id="kembali" type="button" class="btn btn-default">Kembali</button>
                <button id="cetak" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-print"></span> Cetak</button>
            </div>
        </div>
    </div>-->
</div>
{% endblock %} {% block stylesheets %} {{ parent() }}
<link rel="stylesheet" type="text/css" href="{{base_url('assets/css/datepicker3.css')}}" />
<link rel="stylesheet" type="text/css" media="print" href="{{ base_url('assets/css/bootstrap.min.css') }}">
<style type="text/css">
    .small-header {
        font-weight: normal !important;
        padding: 2px !important;
    }
    
    .text-middle{
        vertical-align: middle !important;
    }
    
    @media print {
        body * {
            visibility: hidden;
        }
        #topbar,
        #sidebar,
        .breadcrumb,
        h1 {
            display: none;
        }
        .container,
        .container * {
            visibility: visible;
        }
        .sidebar-max {
            padding: 0px !important;
        }
        #content {
            position: absolute !important;
            left: 0px !important;
            top: 0px !important;
        }
    }
</style>
{% endblock %} {% block scripts %} {{ parent() }}
<script type="text/javaScript" src="{{base_url('assets/js/bootstrap-datepicker.js')}}"></script>
<script src="{{site_url('assets/js/numeral/numeral.min.js')}}"></script>
<script src="{{site_url('assets/js/numeral/languages.id.js')}}"></script>
<script type="text/javaScript" src="{{ base_url('assets/js/base64.js') }}"></script>
<script type="text/javascript">

    numeral.language('id-ID');
    
    jQuery(function($){
        populateTable();

		$("*[datepicker]").datepicker({
			autoclose:true,
			orientation:"bottom",
			format: "mm-yyyy",
			startView: "months", 
			minViewMode: "months"
		});
        
        $("#tanggal").on("change", function(){
            populateTable();
        });
        
        function populateTable(){
            $("#data-body").empty();
            $("#data-body").append("<tr></tr><tr></tr>");
            
            $.post("{{ site_url('persediaan/get_populasi_bukti_pengambilan_barang') }}", {skpd:"{{skpd}}", tanggal:$("#tanggal").val()}, function(json){
                json.forEach(function(value, index){
                    var nomor = value["juno"];
                    var dasar = value["judasarno"];
                    var tglrec = value["judasartgl"];
                    if(value.detail!=null){
                        value.detail.forEach(function(value, index){
                            $("#data-body").append(
                                "<tr>"+
                                    "<td class='text-center'>"+((index == 0)? nomor : "")+"</td>"+
                                    "<td class='text-center'>"+((index == 0)? dasar : "")+"</td>"+
                                    "<td class='text-center'>"+((index == 0)? tglrec : "")+"</td>"+
                                    "<td>"+value['namabarang']+"<br/><small>"+value['spesifikasi']+"</small></td>"+
                                    "<td>"+value['judunit']+"</td>"+
                                    "<td class='text-right'>"+numeral(-value['judqty']).format("0,0.0")+"</td>"+
                                    "<td><small>"+value['qty_huruf']+"</small></td>"+
                                    "<td class='text-right'>"+numeral(-value['judhargasat'] * value['judqty']).format("$0,0.00")+"</td>"+
                                    "<td class='text-center'>"+((index == 0)? "<a href='{{site_url('persediaan/bukti_pengambilan')}}/"+Base64.encode(nomor)+"'><span class='glyphicon glyphicon-search'></span></a>" : "")+"</td>"+
                                "</tr>"
                            );
                        }, nomor, tglrec);
                    }
                    else
                    {
                        $("#data-body").append(
                            "<tr>"+
                                "<td class='text-center'>"+nomor+"</td>"+
                                "<td class='text-center'>"+tglrec+"</td>"+
                                "<td class='text-center text-middle'>-</td>"+
                                "<td class='text-center text-middle'>-</td>"+
                                "<td class='text-center text-middle'>-</td>"+
                                "<td class='text-center text-middle'>-</td>"+
                                "<td class='text-center text-middle'>-</td>"+
                            "</tr>"
                        );
                    }
                });
            }, "json");
        }
        
        $("#cetak").on("click", function(){
            window.open("{{site_url('persediaan/print_bukti_pengambilan_barang')}}");
        });
        $("#kembali").on("click", function(){
            window.location.href = "{{site_url('persediaan')}}";
        });
	});

</script>
{% endblock %}