{% extends "_templates/adminpage.html" %} {% block content %}
{% include "simgo/persediaan/modal/modal_persiapan_cetak.html" %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="{{site_url('persediaan')}}">Persediaan</a></li>
                <li class="active">Laporan Semester</li>
            </ol>
        </div>
    </div>
    <div class="row" style="display:none">
        <div class="col-md-12 text-center">
            <h2>Laporan Semester tentang Penerimaan dan Pengeluaran Barang Pakai Habis</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <h4>
                    Semester 
                    <select class="select-box" name="semester" id="semester">
                        <option value="1">Pertama</option>
                        <option value="2">Kedua</option>
                    </select>
                     Tahun 
                    <select class="select-box" name="tahun" id="tahun">
                        {% for val in tahun %}
                        <option value="{{val.tahun}}">{{val.tahun}}</option>
                        {% endfor %}
                    </select>
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table>
                <tr>
                    <td>SKPD&nbsp;</td>
                    <td>: {{oname}}</td>
                </tr>
                <tr>
                    <td>Kabupaten&nbsp;</td>
                    <td>: Mojokerto</td>
                </tr>
                <tr>
                    <td>Provinsi&nbsp;</td>
                    <td>: Jawa Timur</td>
                </tr>
            </table>
        </div>
    </div>
    <br/>
    <div class="row">
        <div id="table-container" class="col-md-12" style="overflow-x:auto">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="text-center" rowspan='2'>No.</th>
                        <th class="text-center" rowspan='2'>Terima Tanggal</th>
                        <th class="text-center" rowspan='2'>Dari</th>
                        <th class="text-center" colspan='2'>Dokumen / Faktur</th>
                        <th class="text-center" colspan='2'>Dasar Penerimaan</th>
                        <th class="text-center" rowspan='2'>Banyaknya</th>
                        <th class="text-center" rowspan='2'>Nama Barang</th>
                        <th class="text-center" rowspan='2'>Harga Satuan</th>
                        <th class="text-center" colspan='2'>Buku Penerimaan</th>
                        <th class="text-center" rowspan='2'>Ket.</th>
                        <th class="text-center" rowspan='2'>No. Urut</th>
                        <th class="text-center" rowspan='2'>Terima Tanggal</th>
                        <th class="text-center" colspan='2'>Nota Dinas Permintaan</th>
                        <th class="text-center" rowspan='2'>Untuk</th>
                        <th class="text-center" rowspan='2'>Banyaknya</th>
                        <th class="text-center" rowspan='2'>Nama Barang</th>
                        <th class="text-center" rowspan='2'>Harga Satuan</th>
                        <th class="text-center" rowspan='2'>Jumlah Harga</th>
                        <th class="text-center" rowspan='2'>Tgl. Penyerahan</th>
                        <th class="text-center" rowspan='2'>Ket.</th>
                    </tr>
                    <tr>
                        <th class="text-center">Nomor</th>
                        <th class="text-center">Tanggal</th>
                        <th class="text-center">Jenis / Surat</th>
                        <th class="text-center">Nomor</th>
                        <th class="text-center">Nomor</th>
                        <th class="text-center">Tanggal</th>
                        <th class="text-center">Nomor</th>
                        <th class="text-center">Tanggal</th>
                    </tr>
                    <tr>
                        {%for i in 1..24%}
                        <th class="small-header text-center"><small>{{i}}</small></th>
                        {%endfor%}
                    </tr>
                </thead>
                <tbody id="data-body">
                    <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group pull-right">
                <button id="kembali" type="button" class="btn btn-default">Kembali</button>
                <button id="cetak" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-print"></span> Cetak</button>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block stylesheets %} {{ parent() }}
<link rel="stylesheet" type="text/css" media="print" href="{{ base_url('assets/css/bootstrap.min.css') }}">
<style type="text/css">
    .small-header {
        font-weight: normal !important;
        padding: 2px !important;
    }
    
    @media print {
        body * {
            visibility: hidden;
        }
        #topbar,
        #sidebar,
        .breadcrumb,
        h1 {
            display: none;
        }
        .container,
        .container * {
            visibility: visible;
        }
        .sidebar-max {
            padding: 0px !important;
        }
        #content {
            position: absolute !important;
            left: 0px !important;
            top: 0px !important;
        }
        #table-container {
            overflow: visible !important;
        }
    }
</style>
{% endblock %} {% block scripts %} {{ parent() }}
<script src="{{site_url('assets/js/numeral/numeral.min.js')}}"></script>
<script src="{{site_url('assets/js/numeral/languages.id.js')}}"></script>
<script type="text/javaScript" src="{{ base_url('assets/js/base64.js') }}"></script>
<script type="text/javascript">

    numeral.language('id-ID');
    
    jQuery(function($){
        
        $(".select-box").on("change", function(){
            populateTable();
        });
        
        var today = "{{today}}";
        var bulan = today.split("-")[0];
        var tahun = today.split("-")[1];
        
        if (parseInt(bulan) <= 6)
        {
            $("#semester").val("1");
        }
        else
        {
            $("#semester").val("2");
        }
        
        populateTable();
        
        if($('#tahun').has('option').length === 0) {
            $("#tahun").append("<option value='"+tahun+"' selected='selected'>"+tahun+"</option>");
        }
        
        $("#tahun").val($("#tahun option:last").val());
        
        function populateTable(){
            $("#data-body").empty();
            $("#data-body").append("<tr></tr><tr></tr>");
            
            $.post("{{site_url('persediaan/get_populasi_laporan_semester')}}", {skpd:"{{skpd}}", semester:$("#semester").val(), tahun:$("#tahun").val()}, function(json){
                var penerimaan = [];
                var jurnal_penerimaan_count = 0;
                var pengeluaran = [];
                var jurnal_pengeluaran_count = 0;
                
                json.forEach(function(ju,juin){
                    var jurnal = ju;
                    var nomor = juin+1;
                    ju.detail.forEach(function(jud, judin){
                        var row;
                        if(jurnal['tipe'] == 0)
                        {
                            row = "";
                            if(judin == 0)
                            {
                                // no.
                                row += "<td>"+(++jurnal_penerimaan_count)+"</td>";
                                // terima tanggal
                                row += "<td>"+jurnal["jutgl"]+"</td>";
                                // dari
                                row += "<td>"+jurnal["spnama"]+"</td>";
                                // nomor dokumen / faktur
                                row += "<td>"+jurnal["judokumenno"]+"</td>";
                                // tanggal dokumen / faktur
                                row += "<td>"+jurnal["judokumentgl"]+"</td>";
                                // jenis / surat (dasar penerimaan)
                                row += "<td>"+""+"</td>";
                                // nomor
                                row += "<td>"+jurnal["judasarno"]+"</td>";
                            }
                            else
                            {
                                row += "<td></td><td></td><td></td><td></td><td></td><td></td><td></td>";
                            }
                            // banyaknya
                            row += "<td>"+numeral(jud["judqty"]).format("0,0.0")+" "+jud["judunit"].toLowerCase()+"</td>";
                            // nama barang
                            row += "<td>"+jud["namabarang"]+"</td>";
                            // row += "<td>"+jud["namabarang"]+"<br/><small>"+jud["spesifikasi"]+"</small></td>";
                            // harga satuan
                            row += "<td class='text-right'>"+numeral(jud["judhargasat"]).format("$0.0,[00]")+"</td>";
                            if(judin == 0)
                            {
                                // nomor buku penerimaan
                                row += "<td>"+jurnal["juno"]+"</td>";
                                // tanggal buku penerimaan
                                row += "<td>"+jurnal["jutgl"]+"</td>";
                                // keterangan
                                row += "<td>"+jurnal["keterangan"]+"</td>";
                            }
                            else
                            {
                                row += "<td></td><td></td><td></td>";
                            }
                            penerimaan.push(row);
                        }
                        else if(jurnal['tipe'] == 1)
                        {
                            row = "";
                            if(judin == 0)
                            {
                                // no urut
                                row += "<td>"+(++jurnal_pengeluaran_count)+"</td>";
                                // diserahkan tanggal
                                row += "<td>"+jurnal["jutgl"]+"</td>";
                                // nomor surat bon
                                row += "<td>"+jurnal["judasarno"]+"</td>";
                                // tanggal surat bon
                                row += "<td>"+jurnal["judasartgl"]+"</td>";
                                // untuk
                                row += "<td>"+jurnal["spnama"]+"</td>";
                            }
                            else
                            {
                                row += "<td></td><td></td><td></td><td></td><td></td>";
                            }
                            // banyaknya
                            row += "<td>"+numeral(-jud["judqty"]).format("0,0.0")+" "+jud["judunit"].toLowerCase()+"</td>";
                            // nama barang
                            row += "<td>"+jud["namabarang"]+"</td>";
                            // row += "<td>"+jud["namabarang"]+"<br/><small>"+jud["spesifikasi"]+"</small></td>";
                            // harga satuan
                            row += "<td class='text-right'>"+numeral(jud["judhargasat"]).format("$0.0,[00]")+"</td>";
                            // jumlah harga 
                            row += "<td class='text-right'>"+numeral(jud["judhargasat"] * -jud["judqty"]).format("$0.0,[00]")+"</td>";
                            if(judin == 0)
                            {
                                // tanggal penyerahan
                                row += "<td>"+jurnal["jutgl"]+"</td>";
                                // ket
                                row += "<td>"+jurnal["keterangan"]+"</td>";
                            }
                            else
                            {
                                row += "<td></td><td></td>";
                            }
                            pengeluaran.push(row);
                        }
                    }, nomor, jurnal);
                });
                
                // console.log(penerimaan);console.log(pengeluaran);
                
                var loopCount = 0;
                if(penerimaan.length > pengeluaran.length){loopCount = penerimaan.length;}
                else{loopCount = pengeluaran.length;}

                for (i=0; i<loopCount; i++) {
                    var table_row = "<tr>";
                    if(penerimaan.length > i) {
                        table_row += penerimaan[i];
                    }
                    else {
                        for (j = 0; j < 13; j++)
                        {
                            table_row+="<td></td>";
                        }
                    }

                    if(pengeluaran.length > i) {
                        table_row += pengeluaran[i];
                    }
                    else {
                        for (j = 0; j < 11; j++)
                        {
                            table_row+="<td></td>";
                        }
                    }
                    table_row += "</tr>";
                    $("#data-body").append(table_row);
                }
                
                if(false){
                    // json.forEach(function(ju,juin){
                    //     var jurnal = ju;
                    //     var nomor = juin+1;
                    //     ju.detail.forEach(function(jud, judin){
                    //         var table_row = "<tr>";
                    //         if(jurnal['tipe'] == 0)
                    //         {
                    //             if(judin == 0)
                    //             {
                    //                 // no.
                    //                 table_row += "<td>"+nomor+"</td>";
                    //                 // terima tanggal
                    //                 table_row += "<td>"+jurnal["jutgl"]+"</td>";
                    //                 // dari
                    //                 table_row += "<td>"+jurnal["spnama"]+"</td>";
                    //                 // nomor dokumen / faktur
                    //                 table_row += "<td>"+jurnal["judokumenno"]+"</td>";
                    //                 // tanggal dokumen / faktur
                    //                 table_row += "<td>"+jurnal["judokumentgl"]+"</td>";
                    //                 // jenis / surat (dasar penerimaan)
                    //                 table_row += "<td>"+""+"</td>";
                    //                 // nomor
                    //                 table_row += "<td>"+jurnal["judasarno"]+"</td>";
                    //             }
                    //             else
                    //             {
                    //                 table_row += "<td></td><td></td><td></td><td></td><td></td><td></td><td></td>";
                    //             }
                    //             // banyaknya
                    //             table_row += "<td>"+jud["judqty"]+" "+jud["judunit"]+"</td>";
                    //             // nama barang
                    //             table_row += "<td>"+jud["namabarang"]+"<br/><small>"+jud["spesifikasi"]+"</small></td>";
                    //             // harga satuan
                    //             table_row += "<td>"+"Rp. xx.xxx,-"+"</td>";
                    //             if(judin == 0)
                    //             {
                    //                 // nomor buku penerimaan
                    //                 table_row += "<td>"+jurnal["juno"]+"</td>";
                    //                 // tanggal buku penerimaan
                    //                 table_row += "<td>"+jurnal["jutgl"]+"</td>";
                    //                 // keterangan
                    //                 table_row += "<td>"+jurnal["keterangan"]+"</td>";
                    //             }
                    //             else
                    //             {
                    //                 table_row += "<td></td><td></td><td></td>";
                    //             }
                    //             for (var i = 0; i < 11; i++)
                    //             {
                    //                 table_row+="<td></td>";
                    //             }
                    //         }
                    //         else if(jurnal['tipe'] == 1)
                    //         {
                    //             for (var i = 0; i < 13; i++)
                    //             {
                    //                 table_row+="<td></td>";
                    //             }
                    //             if(judin == 0)
                    //             {
                    //                 // no urut
                    //                 table_row += "<td>"+nomor+"</td>";
                    //                 // diserahkan tanggal
                    //                 table_row += "<td>"+jurnal["jutgl"]+"</td>";
                    //                 // nomor surat bon
                    //                 table_row += "<td>"+jurnal["judasarno"]+"</td>";
                    //                 // tanggal surat bon
                    //                 table_row += "<td>"+jurnal["judasartgl"]+"</td>";
                    //                 // untuk
                    //                 table_row += "<td>"+jurnal["spnama"]+"</td>";
                    //             }
                    //             else
                    //             {
                    //                 table_row += "<td></td><td></td><td></td><td></td><td></td>";
                    //             }
                    //             // banyaknya
                    //             table_row += "<td>"+(-jud["judqty"])+" "+jud["judunit"]+"</td>";
                    //             // nama barang
                    //             table_row += "<td>"+jud["namabarang"]+"<br/><small>"+jud["spesifikasi"]+"</small></td>";
                    //             // harga satuan
                    //             table_row += "<td>"+"Rp. xxx.xxx,xx"+"</td>";
                    //             // jumlah harga 
                    //             table_row += "<td>"+"Rp. xxx.xxx,xx"+"</td>";
                    //             if(judin == 0)
                    //             {
                    //                 // tanggal penyerahan
                    //                 table_row += "<td>"+jurnal["jutgl"]+"</td>";
                    //                 // ket
                    //                 table_row += "<td>"+jurnal["keterangan"]+"</td>";
                    //             }
                    //             else
                    //             {
                    //                 table_row += "<td></td><td></td>";
                    //             }
                    //         }
                    //         table_row += "</tr>";
                    //         $("#data-body").append(table_row);
                    //     }, nomor, jurnal);
                    // });
                }
            },"json");
        }
        
        $("#lakukan-cetak").on('click', function(){
            var namaunit = Base64.encode("{{oname}}");
            var skpd = Base64.encode("{{skpd}}");
            var semester = Base64.encode($("#semester").val());
            var tahun = Base64.encode($("#tahun").val());
            var pengurusbarang = Base64.encode($("#nama-petugas").val());
            var nippengurusbarang = Base64.encode($("#nip-petugas").val());
            var atasanlangsung = Base64.encode($("#nama-atasan").val());
            var nipatasanlangsung = Base64.encode($("#nip-atasan").val());
            
            if( skpd === "") {skpd = "-"}
            if( semester === "") {semester = "-"}
            if( namaunit === "") {namaunit = "-"}
            if( pengurusbarang === "") {pengurusbarang = "-"}
            if( nippengurusbarang === "") {nippengurusbarang = "-"}
            if( atasanlangsung === "") {atasanlangsung = "-"}
            if( nipatasanlangsung === "") {nipatasanlangsung = "-"}
            
            window.open("{{ site_url('persediaan/print_laporan_semester') }}/"+ namaunit + "/" + skpd + "/" + semester + "/" + tahun + "/" + pengurusbarang + "/" + nippengurusbarang + "/" + atasanlangsung + "/" + nipatasanlangsung, "_blank");
        });

        $("#cetak").on("click", function(){
            $("#pengambil").hide();
            $("#persiapan-cetak").modal("show");
        });
        
        $("#kembali").on("click", function(){
            window.location.href = "{{site_url('persediaan')}}";
        });
    });

</script>
{% endblock %}