{% extends "_templates/adminpage.html" %}

{% block content %}

<ul class="nav nav-tabs" data-tabs="tabs">
	<li class="active"><a data-toggle="tab" href="#umum">Umum</a></li>
	<li><a data-toggle="tab" href="#grup">Akses</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="umum">
		<div class="container" style="padding: 15px;">
			<div class="row" style="padding-bottom: 15px;">
				<div class="col-md-6">
					<label>User ID</label>
					<p class="form-control-static">{{ user.uid }}</p>
				</div>
			</div>
			<div class="row" style="padding-bottom: 15px;">
				<div class="col-md-6">
					<label>Nama</label>
					<p class="form-control-static">{{ user.uname }}</p>
				</div>
			</div>
			<div class="row" style="padding-bottom: 15px;">
				<div class="col-md-6">
					<label>Email</label>
					<p class="form-control-static">{{ user.uemail }}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="tab-pane" id="grup">
		<div class="container" style="padding: 15px 0px 0px 15px;">
			<div class="row">
				<div class="col-md-6">
					<label>Grup</label>
				</div>
			</div>
			{% for group in groups %}
				<div class="row" style="padding-left:10px;">
					<div class="col-md-6">
						<p class="form-control-static">{{ group.gname }}</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}