{% extends "_templates/adminpage.html" %}

{% block scripts %}
{{ parent() }}
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$("form").validate({
			rules: {
				old_pass: "required",
				new_pass: "required",
				konfirmasi_new_pass: {required: "required", equalTo: "#new_pass"}
			},
			messages: {
				old_pass: "{{ sprintf(lang("req_message",""), "Password Lama") | raw }}",
				new_pass: "{{ sprintf(lang("req_message",""), "Password Baru") | raw }}",
				konfirmasi_new_pass: {
					required : "{{ sprintf(lang("req_message",""), "Konfirmasi Password Baru") | raw }}",
					equalTo: "Password Baru dan Konfirmasi Password Baru tidak sama."
				}
			},
			errorLabelContainer: $(this).find("div.form-error"),
			invalidHandler: function(event, validator) { 
				event.preventDefault();
				var errors = validator.numberOfInvalids();
				if (errors) {
					$(".form-message").hide();
				} else {
					$(".form-message").show();
				}

				$(".form-error").show("fast", function() {
					$("html, body").animate({ scrollTop: $(".form-error").offset().top-20 }, "fast");
				});
			},
			focusInvalid: false
		});
	});
</script>
{% endblock %}

{% block content %}
{{ form_open("secman/user/change_password_action") | raw }}
<div class="row">
	<div class="col-md-4">
		<div class="form-error alert alert-danger"></div>
		{% if success != FALSE %}
		<div class="form-message alert alert-success">{{ success | raw }}</div>
		{% endif %}
		{% if message != FALSE %}
		<div class="form-message alert alert-danger">{{ message | raw }}</div>
		{% endif %}
		<div class="form-group">
			<label for="old_pass">Password Lama</label>
			<input type="password" class="form-control" name="old_pass" placeholder="Inputkan password lama Anda">
		</div>
		<div class="form-group">
			<label for="new_pass">Password Baru</label>
			<input type="password" class="form-control" name="new_pass" id="new_pass" placeholder="Inputkan password baru Anda">
		</div>
		<div class="form-group">
			<label for="konfirmasi_new_pass">Konfirmasi Password Baru</label>
			<input type="password" class="form-control" name="konfirmasi_new_pass" placeholder="Inputkan kembali password baru Anda">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</div>
</div>
{{ form_close() | raw }}
{% endblock %}