<div class="modal fade" id="1e" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">				
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Input Mutasi Tambah - Jalan, Jembatan, Jaringan, dan Instalasi</h4>
			</div>
			<div class="modal-body">
				<div id="error1e" class="error" style="display:none;"></div>
				{{ form_open("#") | raw }}
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#1e_p1" aria-controls="P.1" role="tab" data-toggle="tab">P.1</a></li>
					<li role="presentation"><a href="#1e_p2" aria-controls="P.2" role="tab" data-toggle="tab">P.2</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade in active" id="1e_p1">
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">No. Status Penggunaan</label>
							</div>
							<div class="col-xs-5">
								<input class="form-control" name="kbstatusguna"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Kode Sub-Sub Kel</label>
							</div>
							<div class="col-xs-3">
								<select class="form-control" name="kbkodesubsubkel" type="text" dropdown-width="800"></select>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Kode Rek.Neraca</label>
							</div>
							<div class="col-xs-3">
								<input class="form-control" name="kbkoderekneraca"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Nama Barang</label>
							</div>
							<div class="col-xs-6">
								<input class="form-control" name="kbnamabarang"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Alamat</label>
							</div>
							<div class="col-xs-6">
								<input class="form-control" name="kbalamat"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Tipe</label>
							</div>
							<div class="col-xs-6">
								<input class="form-control" name="kbtipe"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Jumlah</label>
							</div>
							<div class="col-xs-2">
								<input class="form-control" name="kbjumlah"></input>
							</div>
							<div class="col-xs-1">
								<label class="control-label pull-right">Satuan</label>
							</div>
							<div class="col-xs-2">
								<input class="form-control" name="kbsatuan"></input>
							</div>
						</div>

						<hr />

						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Harga Satuan</label>
							</div>
							<div class="col-xs-4">
								<div class="input-group">
									<span class="input-group-addon">Rp.</span>
									<input class="form-control" name="kbhargasatuan" style="text-align:right;" />
									<span class="input-group-addon">,00</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Harga Total</label>
							</div>
							<div class="col-xs-4">
								<div class="input-group">
									<span class="input-group-addon">Rp.</span>
									<input class="form-control" name="kbhargatotal" style="text-align:right;" readonly />
									<span class="input-group-addon">.00</span>
								</div>
							</div>
							<div class="col-xs-2">
								<label class="control-label">
									<input type="checkbox" name="kbpajak" value=""> Pajak
								</label>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Harga Total + Pajak</label>
							</div>
							<div class="col-xs-4">
								<div class="input-group">
									<span class="input-group-addon">Rp.</span>
									<input class="form-control" name="kbhargatotalpajak" style="text-align:right;" />
									<span class="input-group-addon">,00</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Rencana Alokasi</label>
							</div>
							<div class="col-xs-6">
								<input class="form-control" name="kbrencanaalokasi"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Keterangan</label>
							</div>
							<div class="col-xs-6">
								<input class="form-control" name="kbketerangan"></input>
							</div>
						</div>
					</div>
					<div class="tab-pane fade in" id="1e_p2">
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Jenis Bahan</label>
							</div>
							<div class="col-xs-4">
								<select class="form-control" name="kbbahan">
									<option></option>
									<option value="Aspal">Aspal</option>
									<option value="Bailey">Bailey</option>
									<option value="Beton">Beton</option>
									<option value="Kayu">Kayu</option>
									<option value="Pasangan Batu">Pasangan Batu</option>
									<option value="Besi">Besi</option>
									<option value="Baja">Baja</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Jenis Konstruksi</label>
							</div>
							<div class="col-xs-4">
								<select class="form-control" name="kbjeniskonstruksi">
									<option></option>
									<option value="Permanen">Permanen</option>
									<option value="Semi Permanen">Semi Permanen</option>
									<option value="Darurat">Darurat</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Nama Ruas</label>
							</div>
							<div class="col-xs-4">
								<input class="form-control" name="kbnamaruas"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Pangkal Ruas</label>
							</div>
							<div class="col-xs-4">
								<input class="form-control" name="kbpangkalruas"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Ujung Ruas</label>
							</div>
							<div class="col-xs-4">
								<input class="form-control" name="kbujungruas"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Panjang</label>
							</div>
							<div class="col-xs-1">
								<input class="form-control" name="kbpanjang"></input>
							</div>
							<div class="col-xs-1" style="padding-top:10px;">
								M
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Lebar</label>
							</div>
							<div class="col-xs-1">
								<input class="form-control" name="kblebar"></input>
							</div>
							<div class="col-xs-1" style="padding-top:10px;">
								M
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Luas</label>
							</div>
							<div class="col-xs-1">
								<input class="form-control" name="kbluasbangunan"></input>
							</div>
							<div class="col-xs-1" style="padding-top:10px;">
								M2
							</div>
						</div>
					</div>
				</div>
				{{ form_close() | raw }}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
				<button type="button" id="btn1e" class="btn btn-primary">Simpan</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	jQuery(function($) {
		var root = $("#1e");

		root.find("button[id=btn1e]").click(function() {
			if (!form.valid()) {
				root.find(".modal-body").animate({scrollTop:0});
				return;
			}

			var kbid = root.data("kbid");

			$.post("{{ site_url("pengadaan/submit_rincian_1e") }}", {
				kbstatusguna: root.find("input[name=kbstatusguna]").val(),
				kbkodesubsubkel: root.find("select[name=kbkodesubsubkel]").val(),
				kbkoderekneraca: root.find("input[name=kbkoderekneraca]").val(),
				kbnamabarang: root.find("input[name=kbnamabarang]").val(),
				kbalamat: root.find("input[name=kbalamat]").val(),
				kbtipe: root.find("input[name=kbtipe]").val(),
				kbjumlah: root.find("input[name=kbjumlah]").val(),
				kbsatuan: root.find("input[name=kbsatuan]").val(),
				kbhargasatuan: root.find("input[name=kbhargasatuan]").val(),
				kbhargatotal: root.find("input[name=kbhargatotal]").val(),
				kbpajak: root.find("input[name=kbpajak]").is(":checked") ? 1 : 0,
				kbhargatotalpajak: root.find("input[name=kbhargatotalpajak]").val(),
				kbrencanaalokasi: root.find("input[name=kbrencanaalokasi]").val(),
				kbketerangan: root.find("input[name=kbketerangan]").val(),
				kbbahan: root.find("select[name=kbbahan]").val(),
				kbjeniskonstruksi: root.find("select[name=kbjeniskonstruksi]").val(),
				kbnamaruas: root.find("input[name=kbnamaruas]").val(),
				kbpangkalruas: root.find("input[name=kbpangkalruas]").val(),
				kbujungruas: root.find("input[name=kbujungruas]").val(),
				kbpanjang: root.find("select[name=kbpanjang]").val(),
				kblebar: root.find("select[name=kblebarbangunan]").val(),
				kbluasbangunan: root.find("select[name=kbluasbangunan]").val(),
				jpid: {{ id }},
				kbid: kbid
			}, function(response) {
				root.modal('hide');

				var get_rincian1 = $.common.CallbackManager.getByName("get_rincian1");
				if (get_rincian1) {
					get_rincian1.fire();
				}
			}, "json");
		});


		/* ==================== validation ==================== */
		var form = root.find("form");
		form.validate({
			rules: {
				kbkodesubsubkel: {
					required: true
				},
				kbbahan: {
					required: true
				},
				kbjeniskonstruksi: {
					required: true
				}
			},
			messages: {
				kbkodesubsubkel: {
					required: "Kode Sub-Sub Kel harus diisi!"
				},
				kbbahan: {
					required: "Jenis bahan harus diisi!"
				},
				kbjeniskonstruksi: {
					required: "Jenis konstruksi harus diisi!"
				}
			},
			errorLabelContainer: "#error1e",
			ignore: []
		});
	});
</script>