<div class="modal fade" id="1j" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">				
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Input Penambahan Nilai</h4>
			</div>
			<div class="modal-body">
				<div id="error1j" class="error" style="display:none;"></div>
				{{ form_open("#") | raw }}
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#1j_p1" aria-controls="P.1" role="tab" data-toggle="tab">P.1</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade in active" id="1j_p1">
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Jenis Aset</label>
							</div>
							<div class="col-xs-3">
								<select class="form-control" name="jenis_aset" type="text" dropdown-width="800">
									<option value="">Pilih KIB</option>
									<option value="C">KIB C (Gedung dan Bangunan)</option>
									<option value="D">KIB D (Jalan dan Jembatan)</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Pilih Aset Induk</label>
							</div>
							<div class="col-xs-5">
								<select class="form-control" name="nama_aset" type="text" dropdown-width="800"></select>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Kode Sub-Sub Kel</label>
							</div>
							<div class="col-xs-3">
								<select class="form-control" name="kbkodesubsubkel" type="text" dropdown-width="800"></select>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Kode Rek.Neraca</label>
							</div>
							<div class="col-xs-3">
								<input class="form-control" name="kbkoderekneraca"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Nama Objek Penambahan Nilai</label>
							</div>
							<div class="col-xs-6">
								<input class="form-control" name="kbnamabarang"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Merk / Alamat</label>
							</div>
							<div class="col-xs-6">
								<input class="form-control" name="kbalamat"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Tipe</label>
							</div>
							<div class="col-xs-6">
								<input class="form-control" name="kbtipe"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Jumlah</label>
							</div>
							<div class="col-xs-2">
								<input class="form-control" name="kbjumlah"></input>
							</div>
							<div class="col-xs-1">
								<label class="control-label pull-right">Satuan</label>
							</div>
							<div class="col-xs-2">
								<input class="form-control" name="kbsatuan"></input>
							</div>
						</div>

						<hr />

						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Harga Satuan</label>
							</div>
							<div class="col-xs-4">
								<div class="input-group">
									<span class="input-group-addon">Rp.</span>
									<input class="form-control" name="kbhargasatuan" style="text-align:right;" />
									<span class="input-group-addon">,00</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Harga Total</label>
							</div>
							<div class="col-xs-4">
								<div class="input-group">
									<span class="input-group-addon">Rp.</span>
									<input class="form-control" name="kbhargatotal" style="text-align:right;" readonly />
									<span class="input-group-addon">.00</span>
								</div>
							</div>
							<div class="col-xs-2">
								<label class="control-label">
									<input type="checkbox" name="kbpajak" value=""> Pajak
								</label>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Harga Total + Pajak</label>
							</div>
							<div class="col-xs-4">
								<div class="input-group">
									<span class="input-group-addon">Rp.</span>
									<input class="form-control" name="kbhargatotalpajak" style="text-align:right;" />
									<span class="input-group-addon">,00</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Rencana Alokasi</label>
							</div>
							<div class="col-xs-6">
								<input class="form-control" name="kbrencanaalokasi"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Keterangan</label>
							</div>
							<div class="col-xs-6">
								<input class="form-control" name="kbketerangan"></input>
							</div>
						</div>
					</div>
				</div>
				{{ form_close() | raw }}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
				<button type="button" id="btn1j" class="btn btn-primary">Simpan</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	jQuery(function($) {
		var root = $("#1j");

		var nomor_lokasi = $("select[name=jpnomorlokasi]").val();
		var nomor_sub_unit = nomor_lokasi.substr(0, 14);
		var jenis_kib = $('select[name="jenis_kib"]').val();
		if(nomor_sub_unit && jenis_kib != '') {
			$('select[name="nama_aset"]').empty();
			$.post("{{ site_url('aset/get_aset') }}", {nomor_sub_unit:nomor_sub_unit, jenis_kib:jenis_kib}, function(json){ 
				var listAset = json.data;

				$.each(listAset, function (key, value) {
					$('select[name="nama_aset"]').append($('<option></option>').val(value.ID).html(value.KETERANGAN));
				});

				$('select[name="nama_aset"]').val("{{ data.id }}");
				$('select[name="nama_aset"]').select2();

			}, "json");
		}

		root.find("button[id=btn1j]").click(function() {
			if (!form.valid()) {
				root.find(".modal-body").animate({scrollTop:0});
				return;
			}

			var tnnomorlokasi = $("select[name=jpnomorlokasi]").val();
			var tntgl = $("input[name=jptgl]").val();
			var kbid = root.data("kbid");

			$.post("{{ site_url("pengadaan/submit_penambahan_nilai") }}", {
				tnasetindukid: root.find("select[name=nama_aset]").val(),
				tnjeniskib: root.find("select[name=jenis_aset]").val(),
				tnnomorlokasi: tnnomorlokasi,
				tntgl: tntgl,
				kbkodesubsubkel: root.find("select[name=kbkodesubsubkel]").val(),
				kbkoderekneraca: root.find("input[name=kbkoderekneraca]").val(),
				kbnamabarang: root.find("input[name=kbnamabarang]").val(),
				kbalamat: root.find("input[name=kbalamat]").val(),
				kbtipe: root.find("input[name=kbtipe]").val(),
				kbjumlah: root.find("input[name=kbjumlah]").val(),
				kbsatuan: root.find("input[name=kbsatuan]").val(),
				kbhargasatuan: parseFloat(root.find("input[name=kbhargasatuan]").val().replace(/,/g, '')),
				kbhargatotal: parseFloat(root.find("input[name=kbhargatotal]").val().replace(/,/g, '')),
				kbpajak: root.find("input[name=kbpajak]").is(":checked") ? 1 : 0,
				kbhargatotalpajak: parseFloat(root.find("input[name=kbhargatotalpajak]").val().replace(/,/g, '')),
				kbrencanaalokasi: root.find("input[name=kbrencanaalokasi]").val(),
				kbketerangan: root.find("input[name=kbketerangan]").val(),
				jpid: {{ id }},
				kbid: kbid
			}, function(response) {}, "json");

			$.post("{{ site_url("pengadaan/submit_rincian_1j") }}", {
				kbstatusguna: root.find("input[name=kbstatusguna]").val(),
				kbkodesubsubkel: root.find("select[name=kbkodesubsubkel]").val(),
				kbkoderekneraca: root.find("input[name=kbkoderekneraca]").val(),
				kbnamabarang: root.find("input[name=kbnamabarang]").val(),
				kbalamat: root.find("input[name=kbalamat]").val(),
				kbtipe: root.find("input[name=kbtipe]").val(),
				kbjumlah: root.find("input[name=kbjumlah]").val(),
				kbsatuan: root.find("input[name=kbsatuan]").val(),
				kbhargasatuan: parseFloat(root.find("input[name=kbhargasatuan]").val().replace(/,/g, '')),
				kbhargatotal: parseFloat(root.find("input[name=kbhargatotal]").val().replace(/,/g, '')),
				kbpajak: root.find("input[name=kbpajak]").is(":checked") ? 1 : 0,
				kbhargatotalpajak: parseFloat(root.find("input[name=kbhargatotalpajak]").val().replace(/,/g, '')),
				kbrencanaalokasi: root.find("input[name=kbrencanaalokasi]").val(),
				kbketerangan: root.find("input[name=kbketerangan]").val(),
				jpid: {{ id }},
				kbid: kbid
			}, function(response) {
				root.modal('hide');

				var get_rincian2 = $.common.CallbackManager.getByName("get_rincian2");
				if (get_rincian2) {
					get_rincian2.fire();
				}
			}, "json");
		});


		/* ==================== validation ==================== */
		var form = root.find("form");
		form.validate({
			rules: {
				kbkodesubsubkel: {
					required: true
				},
				kbnamabarang: {
					required: true
				}
			},
			messages: {
				kbkodesubsubkel: {
					required: "Kode Sub-Sub Kel harus diisi!"
				},
				kbnamabarang: {
					required: "Nama Objek Penambahan Nilai harus diisi"
				}
			},
			errorLabelContainer: "#error1j",
			ignore: []
		});
	});
</script>