<div class="modal fade" id="3c" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">				
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Input Penambahan Nilai (KDP)</h4>
			</div>
			<div class="modal-body">
				<div id="error3c" class="error" style="display:none;"></div>
				{{ form_open("#") | raw }}
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#3c_p1" aria-controls="P.1" role="tab" data-toggle="tab">P.1</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade in active" id="3c_p1">
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Kode Sub-Sub Kel</label>
							</div>
							<div class="col-xs-3">
								<input class="form-control" name="kbkodesubsubkel" readonly value="0600000000"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Kode Rek.Neraca</label>
							</div>
							<div class="col-xs-3">
								<input class="form-control" name="kbkoderekneraca" readonly value="1.3.6.01.01"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Nama Objek Penambahan Nilai</label>
							</div>
							<div class="col-xs-6">
								<input class="form-control" name="kbnamabarang"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Merk / Alamat</label>
							</div>
							<div class="col-xs-6">
								<input class="form-control" name="kbalamat"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Tipe</label>
							</div>
							<div class="col-xs-6">
								<input class="form-control" name="kbtipe"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Jumlah</label>
							</div>
							<div class="col-xs-2">
								<input class="form-control" name="kbjumlah"></input>
							</div>
							<div class="col-xs-1">
								<label class="control-label pull-right">Satuan</label>
							</div>
							<div class="col-xs-2">
								<input class="form-control" name="kbsatuan"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Nilai Total Menurut Kontrak</label>
							</div>
							<div class="col-xs-4">
								<div class="input-group">
									<span class="input-group-addon">Rp.</span>
									<input class="form-control" name="kbnilaitotalkontrak" style="text-align:right;" />
									<span class="input-group-addon">,00</span>
								</div>
							</div>
						</div>

						<hr />

						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Harga Satuan</label>
							</div>
							<div class="col-xs-4">
								<div class="input-group">
									<span class="input-group-addon">Rp.</span>
									<input class="form-control" name="kbhargasatuan" style="text-align:right;" />
									<span class="input-group-addon">,00</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Harga Total</label>
							</div>
							<div class="col-xs-4">
								<div class="input-group">
									<span class="input-group-addon">Rp.</span>
									<input class="form-control" name="kbhargatotal" style="text-align:right;" />
									<span class="input-group-addon">,00</span>
								</div>
							</div>
							<div class="col-xs-2">
								<label class="control-label">
									<input type="checkbox" name="kbpajak" value=""> Pajak
								</label>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Harga Total + Pajak</label>
							</div>
							<div class="col-xs-4">
								<div class="input-group">
									<span class="input-group-addon">Rp.</span>
									<input class="form-control" name="kbhargatotalpajak" style="text-align:right;" />
									<span class="input-group-addon">,00</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Rencana Alokasi</label>
							</div>
							<div class="col-xs-6">
								<input class="form-control" name="kbrencanaalokasi"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Keterangan</label>
							</div>
							<div class="col-xs-6">
								<input class="form-control" name="kbketerangan"></input>
							</div>
						</div>
					</div>
				</div>
				{{ form_close() | raw }}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
				<button type="button" id="btn3c" class="btn btn-primary">Simpan</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	jQuery(function($) {
		var root = $("#3c");

		root.find("button[id=btn3c]").click(function() {
			if (!form.valid()) {
				root.find(".modal-body").animate({scrollTop:0});
				return;
			}

			var kbid = root.data("kbid");

			$.post("{{ site_url("pengadaan/submit_rincian_3c") }}", {
				kbstatusguna: root.find("input[name=kbstatusguna]").val(),
				kbkodesubsubkel: root.find("input[name=kbkodesubsubkel]").val(),
				kbkoderekneraca: root.find("input[name=kbkoderekneraca]").val(),
				kbnamabarang: root.find("input[name=kbnamabarang]").val(),
				kbalamat: root.find("input[name=kbalamat]").val(),
				kbtipe: root.find("input[name=kbtipe]").val(),
				kbjumlah: root.find("input[name=kbjumlah]").val(),
				kbsatuan: root.find("input[name=kbsatuan]").val(),
				kbnilaitotalkontrak: root.find("input[name=kbnilaitotalkontrak]").val(),
				kbhargasatuan: root.find("input[name=kbhargasatuan]").val(),
				kbhargatotal: root.find("input[name=kbhargatotal]").val(),
				kbpajak: root.find("input[name=kbpajak]").is(":checked") ? 1 : 0,
				kbhargatotalpajak: root.find("input[name=kbhargatotalpajak]").val(),
				kbrencanaalokasi: root.find("input[name=kbrencanaalokasi]").val(),
				kbketerangan: root.find("input[name=kbketerangan]").val(),
				jpid: {{ id }},
				kbid: kbid
			}, function(response) {
				root.modal('hide');

				var get_rincian3 = $.common.CallbackManager.getByName("get_rincian3");
				if (get_rincian3) {
					get_rincian3.fire();
				}
			}, "json");
		});


		/* ==================== validation ==================== */
		var form = root.find("form");
		form.validate({
			rules: {
				kbkodesubsubkel: {
					required: true
				},
				kbnamabarang: {
					required: true
				}
			},
			messages: {
				kbkodesubsubkel: {
					required: "Kode Sub-Sub Kel harus diisi!"
				},
				kbnamabarang: {
					required: "Nama Objek Penambahan Nilai harus diisi"
				}
			},
			errorLabelContainer: "#error3c",
			ignore: []
		});
	});
</script>