<div class="modal fade" id="pilihan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Pilih Penerimaan Pengadaan</h4>
			</div>
			<div class="modal-body">
				<form role="form">
					<label class="control-label">Aset Tetap</label>
					<div class="radio">
						<label><input type="radio" name="optradio" value="1">1. A. Tanah</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="optradio" value="2">2. B. 1. Peralatan</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="optradio" value="3">3. B. 2. Alat Angkutan</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="optradio" value="4">4. C. Gedung</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="optradio" value="5">5. D. Jalan, Jembatan, Jaringan, dan Instalasi</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="optradio" value="6">6. E. 1. Buku dan Barang Perpustakaan</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="optradio" value="7">7. E. 2. Barang Budaya</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="optradio" value="8">8. E. 3. Hewan dan Tanaman</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="optradio" value="9">9. G. Aset Tidak Berwujud</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="optradio" value="10">Penambahan Nilai</label>
					</div>
					<label class="control-label">Selain Aset Tetap</label>
					<div class="radio">
						<label><input type="radio" name="optradio" value="11">Jasa</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="optradio" value="12">Pakai Habis</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="optradio" value="13">Bantuan</label>
					</div>
					<label class="control-label">Progress</label>
					<div class="radio">
						<label><input type="radio" name="optradio" value="14">Konstruksi Dalam Pengerjaan - C. Gedung</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="optradio" value="15">Konstruksi Dalam Pengerjaan - D. Jalan, Jembatan, Jaringan, dan Instalasi</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="optradio" value="16">Konstruksi Dalam Pengerjaan - Penambahan Nilai</label>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
				<a type="button" class="btn btn-primary tambah-mutasi" data-toggle="modal">Pilih</a>
			</div>
		</div>
	</div>
</div>