div.row2 {
    display: block;
    margin-bottom: 5px;
}

div.name {
    float:left;
    margin-right:10px;
    margin-top:3px;
    text-align:right;
    width:100px;
}

div.name2 {
    float:left;
    margin-right:10px;
    margin-top:3px;
    text-align:right;
    width:180px;
}

div.name3 {
    float:left;
    margin-right:10px;
    margin-top:3px;
    text-align:right;
    width:260px;
}

div.name4 {
    float:left;
    margin-right:10px;
    margin-top:3px;
    text-align:right;
    width:300px;
}

div.value_composite {
    float:left;
    height:1px;
    position:relative;
    width:1px;
}

div.value_composite div.value {
    float:none;
    padding-right:0;
    position:absolute;
}

div.value {
    float:left;
    padding-right:5px;
}

div.value_right {
    float:right;
    padding-left:5px;
}

div.label2 {
    margin-top:3px;
}

div.end {
    clear:both;
}

div.spacer {
    display:block;
    height:15px;
    margin-bottom:5px;
    margin-top:5px;
    width:15px;
}