@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.svg#icomoon') format('svg'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-icomoon-"]:before, [class*=" icon-icomoon-"]:before {
	font-family: 'icomoon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}
.icon-icomoon-meter-fast:before {
	content: "\e05a";
}
.icon-icomoon-dashboard:before {
	content: "\e05b";
}
.icon-icomoon-fire:before {
	content: "\e05c";
}
.icon-icomoon-lab:before {
	content: "\e05d";
}
.icon-icomoon-remove:before {
	content: "\e05e";
}
.icon-icomoon-remove-2:before {
	content: "\e05f";
}
.icon-icomoon-remove-3:before {
	content: "\e060";
}
.icon-icomoon-briefcase:before {
	content: "\e061";
}
.icon-icomoon-briefcase-2:before {
	content: "\e062";
}
.icon-icomoon-cars:before {
	content: "\e063";
}
.icon-icomoon-bus:before {
	content: "\e064";
}
.icon-icomoon-cube:before {
	content: "\e065";
}
.icon-icomoon-cube-2:before {
	content: "\e066";
}
.icon-icomoon-puzzle:before {
	content: "\e067";
}
.icon-icomoon-glasses:before {
	content: "\e068";
}
.icon-icomoon-glasses-2:before {
	content: "\e069";
}
.icon-icomoon-accessibility:before {
	content: "\e06a";
}
.icon-icomoon-accessibility-2:before {
	content: "\e06b";
}
.icon-icomoon-target:before {
	content: "\e06c";
}
.icon-icomoon-target-2:before {
	content: "\e06d";
}
.icon-icomoon-lightning:before {
	content: "\e06e";
}
.icon-icomoon-power:before {
	content: "\e06f";
}
.icon-icomoon-power-2:before {
	content: "\e070";
}
.icon-icomoon-clipboard:before {
	content: "\e071";
}
.icon-icomoon-clipboard-2:before {
	content: "\e072";
}
.icon-icomoon-playlist:before {
	content: "\e073";
}
.icon-icomoon-grid-view:before {
	content: "\e074";
}
.icon-icomoon-tree-view:before {
	content: "\e075";
}
.icon-icomoon-cloud:before {
	content: "\e076";
}
.icon-icomoon-cloud-2:before {
	content: "\e077";
}
.icon-icomoon-download:before {
	content: "\e078";
}
.icon-icomoon-upload:before {
	content: "\e079";
}
.icon-icomoon-upload-2:before {
	content: "\e07a";
}
.icon-icomoon-link:before {
	content: "\e07b";
}
.icon-icomoon-link-2:before {
	content: "\e07c";
}
.icon-icomoon-flag:before {
	content: "\e07d";
}
.icon-icomoon-flag-2:before {
	content: "\e07e";
}
.icon-icomoon-attachment:before {
	content: "\e07f";
}
.icon-icomoon-eye:before {
	content: "\e080";
}
.icon-icomoon-eye-2:before {
	content: "\e081";
}
.icon-icomoon-bookmark:before {
	content: "\e082";
}
.icon-icomoon-bookmark-2:before {
	content: "\e083";
}
.icon-icomoon-star:before {
	content: "\e084";
}
.icon-icomoon-star-2:before {
	content: "\e085";
}
.icon-icomoon-star-3:before {
	content: "\e086";
}
.icon-icomoon-heart:before {
	content: "\e087";
}
.icon-icomoon-heart-2:before {
	content: "\e088";
}
.icon-icomoon-thumbs-up:before {
	content: "\e089";
}
.icon-icomoon-thumbs-down:before {
	content: "\e08a";
}
.icon-icomoon-happy:before {
	content: "\e08b";
}
.icon-icomoon-smiley:before {
	content: "\e08c";
}
.icon-icomoon-neutral:before {
	content: "\e08d";
}
.icon-icomoon-plus:before {
	content: "\e08e";
}
.icon-icomoon-minus:before {
	content: "\e08f";
}
.icon-icomoon-help:before {
	content: "\e090";
}
.icon-icomoon-help-2:before {
	content: "\e091";
}
.icon-icomoon-blocked:before {
	content: "\e092";
}
.icon-icomoon-cancel:before {
	content: "\e093";
}
.icon-icomoon-cancel-2:before {
	content: "\e094";
}
.icon-icomoon-checkmark:before {
	content: "\e095";
}
.icon-icomoon-minus-2:before {
	content: "\e096";
}
.icon-icomoon-plus-2:before {
	content: "\e097";
}
.icon-icomoon-enter:before {
	content: "\e098";
}
.icon-icomoon-exit:before {
	content: "\e099";
}
.icon-icomoon-loop:before {
	content: "\e09a";
}
.icon-icomoon-arrow-up-left:before {
	content: "\e09b";
}
.icon-icomoon-arrow-up:before {
	content: "\e09c";
}
.icon-icomoon-arrow-up-right:before {
	content: "\e09d";
}
.icon-icomoon-arrow-right:before {
	content: "\e09e";
}
.icon-icomoon-arrow-down-right:before {
	content: "\e09f";
}
.icon-icomoon-arrow-down:before {
	content: "\e0a0";
}
.icon-icomoon-arrow-down-left:before {
	content: "\e0a1";
}
.icon-icomoon-arrow-left:before {
	content: "\e0a2";
}
.icon-icomoon-arrow-up-left-2:before {
	content: "\e0a3";
}
.icon-icomoon-arrow-up-2:before {
	content: "\e0a4";
}
.icon-icomoon-arrow-up-right-2:before {
	content: "\e0a5";
}
.icon-icomoon-arrow-right-2:before {
	content: "\e0a6";
}
.icon-icomoon-arrow-down-right-2:before {
	content: "\e0a7";
}
.icon-icomoon-arrow-down-2:before {
	content: "\e0a8";
}
.icon-icomoon-arrow-down-left-2:before {
	content: "\e0a9";
}
.icon-icomoon-arrow-left-2:before {
	content: "\e0aa";
}
.icon-icomoon-arrow-up-left-3:before {
	content: "\e0ab";
}
.icon-icomoon-arrow-up-3:before {
	content: "\e0ac";
}
.icon-icomoon-arrow-up-right-3:before {
	content: "\e0ad";
}
.icon-icomoon-arrow-right-3:before {
	content: "\e0ae";
}
.icon-icomoon-arrow-down-right-3:before {
	content: "\e0af";
}
.icon-icomoon-arrow-down-3:before {
	content: "\e0b0";
}
.icon-icomoon-arrow-down-left-3:before {
	content: "\e0b1";
}
.icon-icomoon-arrow-left-3:before {
	content: "\e0b2";
}
.icon-icomoon-arrow-up-4:before {
	content: "\e0b3";
}
.icon-icomoon-arrow-right-4:before {
	content: "\e0b4";
}
.icon-icomoon-arrow-down-4:before {
	content: "\e0b5";
}
.icon-icomoon-arrow-left-4:before {
	content: "\e0b6";
}
.icon-icomoon-arrow-up-5:before {
	content: "\e0b7";
}
.icon-icomoon-arrow-right-5:before {
	content: "\e0b8";
}
.icon-icomoon-arrow-down-5:before {
	content: "\e0b9";
}
.icon-icomoon-arrow-left-5:before {
	content: "\e0ba";
}
.icon-icomoon-arrow-up-6:before {
	content: "\e0bb";
}
.icon-icomoon-arrow-right-6:before {
	content: "\e0bc";
}
.icon-icomoon-arrow-down-6:before {
	content: "\e0bd";
}
.icon-icomoon-arrow-left-6:before {
	content: "\e0be";
}
.icon-icomoon-menu:before {
	content: "\e0bf";
}
.icon-icomoon-enter-2:before {
	content: "\e0c0";
}
.icon-icomoon-backspace:before {
	content: "\e0c1";
}
.icon-icomoon-backspace-2:before {
	content: "\e0c2";
}
.icon-icomoon-tab:before {
	content: "\e0c3";
}
.icon-icomoon-tab-2:before {
	content: "\e0c4";
}
.icon-icomoon-checkbox:before {
	content: "\e0c5";
}
.icon-icomoon-checkbox-unchecked:before {
	content: "\e0c6";
}
.icon-icomoon-checkbox-partial:before {
	content: "\e0c7";
}
.icon-icomoon-radio-checked:before {
	content: "\e0c8";
}
.icon-icomoon-radio-unchecked:before {
	content: "\e0c9";
}
.icon-icomoon-font:before {
	content: "\e0ca";
}
.icon-icomoon-paragraph-left:before {
	content: "\e0cb";
}
.icon-icomoon-paragraph-center:before {
	content: "\e0cc";
}
.icon-icomoon-paragraph-right:before {
	content: "\e0cd";
}
.icon-icomoon-paragraph-justify:before {
	content: "\e0ce";
}
.icon-icomoon-left-to-right:before {
	content: "\e0cf";
}
.icon-icomoon-right-to-left:before {
	content: "\e0d0";
}
.icon-icomoon-share:before {
	content: "\e0d1";
}
.icon-icomoon-new-tab:before {
	content: "\e0d2";
}
.icon-icomoon-new-tab-2:before {
	content: "\e0d3";
}
.icon-icomoon-embed:before {
	content: "\e0d4";
}
.icon-icomoon-code:before {
	content: "\e0d5";
}
.icon-icomoon-bluetooth:before {
	content: "\e0d6";
}
.icon-icomoon-share-2:before {
	content: "\e0d7";
}
.icon-icomoon-share-3:before {
	content: "\e0d8";
}
.icon-icomoon-mail:before {
	content: "\e0d9";
}
.icon-icomoon-mail-2:before {
	content: "\e0da";
}
.icon-icomoon-mail-3:before {
	content: "\e0db";
}
.icon-icomoon-google:before {
	content: "\e0dc";
}
.icon-icomoon-google-plus:before {
	content: "\e0dd";
}
.icon-icomoon-google-plus-2:before {
	content: "\e0de";
}
.icon-icomoon-google-plus-3:before {
	content: "\e0df";
}
.icon-icomoon-gplus:before {
	content: "\e0e0";
}
.icon-icomoon-google-drive:before {
	content: "\e0e1";
}
.icon-icomoon-facebook:before {
	content: "\e0e2";
}
.icon-icomoon-facebook-2:before {
	content: "\e0e3";
}
.icon-icomoon-facebook-3:before {
	content: "\e0e4";
}
.icon-icomoon-instagram:before {
	content: "\e0e5";
}
.icon-icomoon-twitter:before {
	content: "\e0e6";
}
.icon-icomoon-twitter-2:before {
	content: "\e0e7";
}
.icon-icomoon-twitter-3:before {
	content: "\e0e8";
}
.icon-icomoon-feed:before {
	content: "\e0e9";
}
.icon-icomoon-feed-2:before {
	content: "\e0ea";
}
.icon-icomoon-feed-3:before {
	content: "\e0eb";
}
.icon-icomoon-youtube:before {
	content: "\e0ec";
}
.icon-icomoon-youtube-2:before {
	content: "\e0ed";
}
.icon-icomoon-vimeo:before {
	content: "\e0ee";
}
.icon-icomoon-vimeo-2:before {
	content: "\e0ef";
}
.icon-icomoon-flickr:before {
	content: "\e0f0";
}
.icon-icomoon-flickr-2:before {
	content: "\e0f1";
}
.icon-icomoon-flickr-3:before {
	content: "\e0f2";
}
.icon-icomoon-picassa:before {
	content: "\e0f3";
}
.icon-icomoon-picassa-2:before {
	content: "\e0f4";
}
.icon-icomoon-dribbble:before {
	content: "\e0f5";
}
.icon-icomoon-dribbble-2:before {
	content: "\e0f6";
}
.icon-icomoon-dribbble-3:before {
	content: "\e0f7";
}
.icon-icomoon-forrst:before {
	content: "\e0f8";
}
.icon-icomoon-forrst-2:before {
	content: "\e0f9";
}
.icon-icomoon-deviantart:before {
	content: "\e0fa";
}
.icon-icomoon-deviantart-2:before {
	content: "\e0fb";
}
.icon-icomoon-github:before {
	content: "\e0fc";
}
.icon-icomoon-github-2:before {
	content: "\e0fd";
}
.icon-icomoon-github-3:before {
	content: "\e0fe";
}
.icon-icomoon-github-4:before {
	content: "\e0ff";
}
.icon-icomoon-github-5:before {
	content: "\e100";
}
.icon-icomoon-github-6:before {
	content: "\e101";
}
.icon-icomoon-git:before {
	content: "\e102";
}
.icon-icomoon-github-7:before {
	content: "\e103";
}
.icon-icomoon-wordpress:before {
	content: "\e104";
}
.icon-icomoon-wordpress-2:before {
	content: "\e105";
}
.icon-icomoon-joomla:before {
	content: "\e106";
}
.icon-icomoon-blogger:before {
	content: "\e107";
}
.icon-icomoon-blogger-2:before {
	content: "\e108";
}
.icon-icomoon-tumblr:before {
	content: "\e109";
}
.icon-icomoon-tumblr-2:before {
	content: "\e10a";
}
.icon-icomoon-yahoo:before {
	content: "\e10b";
}
.icon-icomoon-yahoo-2:before {
	content: "\e10c";
}
.icon-icomoon-amazon:before {
	content: "\e10d";
}
.icon-icomoon-amazon-2:before {
	content: "\e10e";
}
.icon-icomoon-tux:before {
	content: "\e10f";
}
.icon-icomoon-apple:before {
	content: "\e110";
}
.icon-icomoon-finder:before {
	content: "\e111";
}
.icon-icomoon-android:before {
	content: "\e112";
}
.icon-icomoon-windows:before {
	content: "\e113";
}
.icon-icomoon-soundcloud:before {
	content: "\e114";
}
.icon-icomoon-soundcloud-2:before {
	content: "\e115";
}
.icon-icomoon-skype:before {
	content: "\e116";
}
.icon-icomoon-reddit:before {
	content: "\e117";
}
.icon-icomoon-linkedin:before {
	content: "\e118";
}
.icon-icomoon-linkedin-2:before {
	content: "\e119";
}
.icon-icomoon-lastfm:before {
	content: "\e11a";
}
.icon-icomoon-lastfm-2:before {
	content: "\e11b";
}
.icon-icomoon-delicious:before {
	content: "\e11c";
}
.icon-icomoon-stumbleupon:before {
	content: "\e11d";
}
.icon-icomoon-stumbleupon-2:before {
	content: "\e11e";
}
.icon-icomoon-pinterest:before {
	content: "\e11f";
}
.icon-icomoon-pinterest-2:before {
	content: "\e120";
}
.icon-icomoon-xing:before {
	content: "\e121";
}
.icon-icomoon-xing-2:before {
	content: "\e122";
}
.icon-icomoon-flattr:before {
	content: "\e123";
}
.icon-icomoon-foursquare:before {
	content: "\e124";
}
.icon-icomoon-foursquare-2:before {
	content: "\e125";
}
.icon-icomoon-paypal:before {
	content: "\e126";
}
.icon-icomoon-paypal-2:before {
	content: "\e127";
}
.icon-icomoon-paypal-3:before {
	content: "\e128";
}
.icon-icomoon-yelp:before {
	content: "\e129";
}
.icon-icomoon-libreoffice:before {
	content: "\e12a";
}
.icon-icomoon-file-pdf:before {
	content: "\e12b";
}
.icon-icomoon-file-openoffice:before {
	content: "\e12c";
}
.icon-icomoon-file-word:before {
	content: "\e12d";
}
.icon-icomoon-file-excel:before {
	content: "\e12e";
}
.icon-icomoon-file-powerpoint:before {
	content: "\e12f";
}
.icon-icomoon-file-zip:before {
	content: "\e130";
}
.icon-icomoon-file-xml:before {
	content: "\e131";
}
.icon-icomoon-file-css:before {
	content: "\e132";
}
.icon-icomoon-html5:before {
	content: "\e133";
}
.icon-icomoon-html5-2:before {
	content: "\e134";
}
.icon-icomoon-css3:before {
	content: "\e135";
}
.icon-icomoon-chrome:before {
	content: "\e136";
}
.icon-icomoon-firefox:before {
	content: "\e137";
}
.icon-icomoon-IE:before {
	content: "\e138";
}
.icon-icomoon-opera:before {
	content: "\e139";
}
.icon-icomoon-safari:before {
	content: "\e13a";
}
.icon-icomoon-IcoMoon:before {
	content: "\e13b";
}
.icon-icomoon-mobile:before {
	content: "\e13d";
}
.icon-icomoon-mail-4:before {
	content: "\e13e";
}
.icon-icomoon-camera:before {
	content: "\e13f";
}
.icon-icomoon-infinity:before {
	content: "\e140";
}
.icon-icomoon-flow-cascade:before {
	content: "\e141";
}
.icon-icomoon-flow-branch:before {
	content: "\e142";
}
.icon-icomoon-flow-tree:before {
	content: "\e143";
}
.icon-icomoon-flow-line:before {
	content: "\e144";
}
.icon-icomoon-flow-parallel:before {
	content: "\e145";
}
.icon-icomoon-contract:before {
	content: "\e146";
}
.icon-icomoon-shit:before {
	content: "\e147";
}
.icon-icomoon-code-2:before {
	content: "\e148";
}
.icon-icomoon-bug:before {
	content: "\e149";
}
.icon-icomoon-atom:before {
	content: "\e14a";
}
.icon-icomoon-phone:before {
	content: "\e13c";
}
.icon-icomoon-home:before {
	content: "\e007";
}