body {
	padding: 0px !important;
	overflow-y: hidden;
	background: none !important;
}

nav > div {
	text-align: center;
	padding: 15px 0px 5px;
}

img.logo {
	/*width: 40px;*/
}

.wrap {
	padding: 10px 0px 40px;
	background-image: url('../img/blur.jpg') !important;
}

.colorgraph {
	background: linear-gradient(to right, #C4E17F, #C4E17F 12.5%, #F7FDCA 12.5%, #F7FDCA
		25%, #FECF71 25%, #FECF71 37.5%, #F0776C 37.5%, #F0776C 50%, #DB9DBE
		50%, #DB9DBE 62.5%, #C49CDE 62.5%, #C49CDE 75%, #669AE1 75%, #669AE1
		87.5%, #62C2E4 87.5%, #62C2E4) repeat scroll 0 0 #C4E17F;
	border-radius: 5px;
	border-top: 0 none;
	height: 5px;
}

.bs-footer {
    background-color: #FFFFFF;
    border-top: 1px solid #E5E5E5;
    color: #777777;
    height: 90px;
    margin-bottom: -20px;
    text-align: center;
}

.form-control {
	border-radius: 0px !important;
	height: 34px !important;
}