.row, *[class*='col-xs'] {
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.container-fluid, .container {
	padding-left: 0px;
	padding-right: 0px;
}
*[topbar] {
	height: 60px;
	background: white;
	border-bottom: 1px solid grey;
}
*[sidebar] {
	background:rgba(0,0,0,0.90);
	color: white;
	overflow:auto;
}
*[profil], *[profil]:hover {
	height:60px; 
	max-width:60px; 
	padding-top:15px; 
	cursor:pointer;
}
*[profil] > ul {
	padding-left: 0px;
	text-align: center;
}
*[profil] > ul > li {
	list-style: none;
}
*[profil] > ul > li > a {
	color: black;
	text-decoration: none;
}
*[profil] > ul > li > a > span, *[profil]:hover > ul > li > a > span {
	border-color:#3a4450 #ffffff #ffffff; 
	border-style:solid; 
	border-width:5px;
}
*[profil]:hover {
	background: rgba(0, 0, 0, 0.1);
}
*[profil]:hover > ul > li > a > span {
	border-color:#3a4450 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0); 
}

.dropdown-menu {
	border-radius: 0px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
	vertical-align: middle;
}
.dropdown-menu .divider {
	margin: 5px 0;
}

*[logo] {
	padding-left: 15px;
	vertical-align: middle;
	padding-top:15px;
}

*[menu] {
	padding:20px 10px 20px 20px;
}
*[menu]:hover, *[menu].active{
	background: #DEDEDE;
}
*[menu]:hover > a, *[menu].active a{
	color: black;
	text-decoration: none;
}
*[menu], *[menu] > a {
	color: white;
	font-weight: bold;
}
*[menu] > a {
	padding-left: 10px;
}
*[menu] > a > span {
	padding-left:10px;
}

.form-control {
	border-radius: 0px !important;
}

*[toolbar] {
	font-size: 12px;
}

body {
	background: rgba(0, 0, 0, 0.1);
}