#map-canvas {
	width: :800px;
	height: 480px;
	border-left: 1px solid rgba(1, 1, 1, 0.25);
	border-right: 1px solid rgba(1, 1, 1, 0.25);
	border-bottom: 1px solid rgba(1, 1, 1, 0.25);
}
#pushstat {
	display:none;
}
.masukan, .hasil{
	font-size:14px;
}

.hasil input{
	font-size: 12px;
	padding: 5px;
}
.gm-style-iw {
	padding: 10px !important;
}

.ui-autocomplete { height: 200px; overflow-y: scroll; overflow-x: hidden; font-size: 12px;}

.ui-widget {
	font-family: inherit;
	font-size: 1em;
}

table.aset, table.aset > thead > tr > th, table.aset > tbody > tr > td {
	vertical-align: middle;
} 

div.infowindow {
	max-height:300px;
	overflow-y:auto;
}

div.tab-pane {
	padding: 10px 0px;
}

div.gm-style-iw > div {
	height: 100% !important;
}

div.row.foto2 {
	-moz-column-count: 3;
	column-count: 3;
	-moz-column-gap: 0;
	column-gap:0;
}

div.row.foto2 > .col-xs-12 {
	float: none !important;
}

pre {
	background-color: ghostwhite;
	border: 1px solid silver;
	padding: 10px 20px;
	margin: 20px; 
}

.gm-style .gm-style-iw {
	font-weight:500 !important;
}



/* style baru start here */
body.bg-metafora {
	background: url("../img/bg.png") no-repeat center center fixed !important; 
/*	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;*/
	background-size: 100% auto !important;
}

.login-box {
	background: url("../img/loginform.png") no-repeat !important;
	background-size: contain !important;
	top: 200px;
	width: 300px;
	height: 400px;
	position: relative;
}

.login-box-username {
	width: 100px !important;
	top: 232px;
	position: relative;
}

.login-box-password {
	width: 100px !important;
	top: 245px;
	position: relative;
}

.login-box-submit {
	position: absolute;
	left: 50%;
	top: 80%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.login-box-input {
	background-color:transparent !important;
	border:none !important;
}

.login-box-btn {
	width: 216px;
	height: 30px;
    background-color: #8cc63f; /* Green */
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

/*.page
{
	max-width: 96% !important;
}*/

h2 .glyphicon, h3 .glyphicon{
	padding-right: 15px;
	padding-bottom: 20px;
}

input[type='file'] .form-control{
	height: 30px !important;
}

.page{
	padding-bottom: 10px;
}

.modal-dialog{
	margin-top: 60px !important;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
	box-sizing:border-box !important;
}