@media (max-width: 480px) {
    body {
        margin-top: -2px;
    }



    #header {
        padding-top: 1px;
    }

    #header h1 {
        top: auto;
        left: auto;
        margin: 7px auto;
        text-align: center;
        width: 100%;
    }

    .fixed #header {
        position: fixed;
        z-index: 100;
        box-shadow: 0 1px 4px rgba(0,0,0,0.5);
        -webkit-transition: 0.26s ease-in-out;
        height: 37px;
        top:0px !important;
    }

    .fixed[data-menu-position="open"] #header {
        left:250px !important;
    }

    .fixed #header h1 {
        position: absolute;
        top: auto;
    }

    #menu-trigger {
        display: block;
    }



    #user-nav {
        position: relative;
        left: 10%;
        right: 10%;
        width: 80%;
        margin-top: -39px;
        margin-bottom: 15px;
        text-align: center;
        -webkit-transition: 0.15s ease-in-out;
        -moz-transition: 0.15s ease-in-out;
        -ms-transition: 0.15s ease-in-out;
        -o-transition: 0.15s ease-in-out;
        transition: 0.15s ease-in-out;
    }

    .fixed #user-nav {
        z-index: 21;
        position: fixed;
        margin: 0;
        width: auto;
        left: auto;
        right: 10px;
        display: none;
    }

    .fixed[data-menu-position="open"] #user-nav {
        -webkit-transform: translateX(200px);
        -moz-transform: translateX(200px);
        -ms-tranform: translateX(200px);
        -o-transform: translateX(200px);
        transform: translateX(200px);
    }

    #user-nav > ul {        
        right: auto;
        position: relative;
    }

    #user-nav > ul, #user-nav > ul > li {
        border: 0;
    }

    #user-nav > ul > li:hover {
        background-color: inherit;
    }



    #content {
        margin-left: 0 !important;
        border-top-left-radius: 0;
    }

    .fixed #content {
        padding-top: 67px;
    }

    #content-header {
        margin-top: 0 !important;
        height:auto;
        text-align: center;
    }

    #content-header h1, #content-header {
        float: none;
        position:relative;
    }

    #content-header h1 {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-top: 0;
        padding-top: 15px;
        width: 100%;
    }

    #content-header {
        margin:10px 0;
        left: 0;
        right: auto;
    }



    #sidebar {
        float: none;
        width: 100% !important;
    }

    #sidebar > a {
        padding: 7px 20px 7px 15px;
        box-shadow: 0 1px 0 #666666;
        margin-bottom: 1px;
        display: block !important;
        text-transform: uppercase;
        color: #eeeeee;
        font-size: 10px;
    }

    #sidebar > a > i {
        margin-right: 10px;
    }

    #sidebar > ul {
        display: none;
        margin: -2px 0 0 !important;
        width: 100% !important;
        box-shadow: 0 6px 6px rgba(0,0,0,0.4);
        background-color: #444444;
    }

    #sidebar > ul > li.active > a {
        background: none !important;
    }

    #sidebar > ul > li > a > span {
        display: inline !important;
    }
}