<div class="modal fade" id="tambah-barang-keluar" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Tambahkan Data Barang Keluar Baru</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<form role="form" id="tambah-barang-keluar-form">
							<!--<div class="form-group">
								<label class="control-label">Gudang<strong>*</strong></label>
								<select type="text" class="form-control searchable" id="gudang-select" placeholder="Pilih Gudang" style="width:100% !important;" data-rule-required="true">
									<option></option>
								</select>
							</div>-->
							<div class="form-group">
								<label class="control-label">Nama Barang<strong>*</strong></label>
								<select type="text" class="form-control searchable" id="barang-select" placeholder="Pilih Barang" style="width:100% !important;" data-rule-required="true">
									<option></option>
								</select>
								<input class="form-control" type="text" id="barang-input" style="display:none">
							</div>
							<div class="form-group">
								<label class="control-label">Jumlah Barang<strong>*</strong></label>
								<input type="number" class="form-control" id="jumlah-barang" value="" placeholder="Masukkan jumlah barang" data-rule-required="true">
							</div> 
							<div class="form-group">
								<label class="control-label">Keterangan</label>
									<textarea class="form-control" style="width:calc(100% - 27px); height:auto !important; resize:none;" rows="5" id="keterangan-detail" placeholder="Keterangan barang"></textarea>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" name="batal" class="btn btn-default" data-dismiss="modal">Batal</button>
				<button type="button" name="simpan" class="btn btn-primary">Tambahkan</button>
			</div>
		</div>
	</div>
</div>