<div class="modal fade" id="persiapan-cetak" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Penandatangan Dokumen</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<form role="form" id="persiapan-cetak-form">
                            <div id="petugas" class="row">
                                <div class="form-group col-md-8">
                                    <label class="control-label">Petugas Penyimpan<strong>*</strong></label>
                                    <input type="text" class="form-control searchable" id="nama-petugas" name="nama-petugas" placeholder="Nama" data-rule-required="true">
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">&nbsp;</label>
                                    <input type="text" class="form-control searchable" id="nip-petugas" name="nip-petugas" placeholder="NIP" data-rule-required="true">
                                </div>
                            </div>
                            
                            <div id="atasan" class="row">
                                <div class="form-group col-md-8">
                                    <label class="control-label">Atasan Langsung<strong>*</strong></label>
                                    <input type="text" class="form-control searchable" id="nama-atasan" name="nama-atasan" placeholder="Nama" data-rule-required="true">
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">&nbsp;</label>
                                    <input type="text" class="form-control searchable" id="nip-atasan" name="nip-atasan" placeholder="NIP" data-rule-required="true">
                                </div>
                            </div>
                            
                            <div id="pengambil" class="row">
                                <div class="form-group col-md-8">
                                    <label class="control-label">Pengambil Barang<strong>*</strong></label>
                                    <input type="text" class="form-control searchable" id="nama-pengambil" name="nama-pengambil" placeholder="Nama" data-rule-required="true">
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">&nbsp;</label>
                                    <input type="text" class="form-control searchable" id="nip-pengambil" name="nip-pengambil" placeholder="NIP" data-rule-required="true">
                                </div>
                            </div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" id = "batal" name="batal" class="btn btn-default" data-dismiss="modal">Batal</button>
				<button type="button" id = "lakukan-cetak" name="lakukan-cetak" class="btn btn-primary">Cetak</button>
			</div>
		</div>
	</div>
</div>