<div class="modal fade" id="kelola-jurnal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Pengelolaan Jurnal</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
                            <div id="newno text-center" class="row">
								<h3>Apakah anda yakin untuk menghapus jurnal ini?</h3>
                                <!--<div class="form-group">
                                    <label class="control-label">Nomor Baru<strong>*</strong></label>
                                    <input type="text" class="form-control searchable" id="nomor-baru" name="nomor-baru" placeholder="Nomor" data-rule-required="true">
                                </div>-->
                            </div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" id = "batal" name="batal" class="btn btn-default" data-dismiss="modal">Batal</button>
				<button type="button" id = "hapus-jurnal" name="hapus-jurnal" class="btn btn-danger">Hapus</button>
				<!--<button type="button" id = "ubah-juno" name="ubah-juno" class="btn btn-primary">Ubah</button>-->
			</div>
		</div>
	</div>
</div>