{% extends "_templates/adminpage.html" %}

{% block content %}
<div class="col-md-11">
	<div class="row">
	    <p class="lead">Penyusutan aset dihitung hingga waktu ekonomis aset habis.<br /> Dapat dilakukan dengan menekan tombol "Hitung Susut".</p>
	    <div class="spacer"></div>

	    <button id="btnHitungSusut" type="button" class="btn btn-success">Hitung Susut</button>
	</div>
</div>
{% endblock %}


{% block scripts %}
{{ parent() }}
<script type="text/javaScript" src="{{ base_url("assets/js/jquery.loadmask.min.js") }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
    	$("#btnHitungSusut").click(function() {
    		$("body").mask("Processing...");

    		$.post("{{ site_url('aset/susutkan') }}", {}, function(json) {
				$("body").unmask();
    		}, "json");
    	});
    });
</script>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}

	<link href="{{ base_url("assets/css/jquery.loadmask.css") }}" rel="stylesheet">
{% endblock %}