{% extends "_templates/adminpage.html" %}

{% block content %}
<!doctype html>
<html lang="en">
	<head>
		<title>Daftar Kantor SKPD</title>
	</head>
	<body>
		<!-- <div class="row">
			<div id="error" class="col-xs-8 alert alert-danger" style="margin-left:10px;{% if validation_errors == false %}display:none;{% endif %}">
			{% if validation_errors != false %}
				{{ validation_errors | raw }}
			{% endif %}
			</div>
		</div> -->
		<div class="modal fade" id="tambah-kantor">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Tambahkan SKPD</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-xs-11">
								<label class="control-label">Nomor Unit</label>
								<input name="skpd" id="skpd" value="" class="form-control"></input>						
							</div>
						</div>
						<div class="row">
							<div class="col-xs-11">
								<label class="control-label">Nama SKPD</label>
								<p type="text" name="nama_skpd" id="nama_skpd"></p>				
							</div>
						</div>
						<div class="row">
							<div class="col-xs-11">
								<label class="control-label">Latitude</label>
								<input name="latitude" id="latitude" value="" class="form-control"></input>						
							</div>
						</div>
						<div class="row">
							<div class="col-xs-11">
								<label class="control-label">Longitude</label>
								<input name="longitude" id="longitude" value="" class="form-control"></input>						
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
						<button type="button" name="simpan" class="btn btn-primary">Simpan</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<div class="row">
			<div class="col-md-11">
				<div class="table-responsive" style="overflow:auto;">
					<h1 style="font-weight:bold;">Daftar SKPD:</h1>
					<table id="skpd-data" class="table table-striped table-hover" style="width:700px;">
						<thead>
							<tr>
								<th style="width:60%">Nama SKPD</th>
								<th style="width:20%">Latitude</th>
								<th style="width:20%">Longitude</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
				<div class="col-xs-12">
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tambah-kantor">Tambahkan SKPD</button>
				</div>
			</div>
		</div>
	</body>
</html>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<!---

	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

	-->

	<style>
		label, input { 
			padding: 10px 0 0 0;
		}

		.modal-dialog {
			min-width: 400px;
		}
	</style>

{% endblock %}

{% block scripts %}
	{{ parent() }}

	<script type="text/javascript">
		jQuery(function($) {

			$("input#skpd").autocomplete({
				appendTo: "#tambah-kantor",
				minLength: 1,
				source: "{{ site_url('aset/cari_skpd') }}",
				select: function(e, u) {
					$(this).val(u.item.id);
					$("p[name=nama_skpd]").html(u.item.NAMA_UNIT);
					return false;
				}
			});

			var url = "{{ site_url('aset/tampilkan_skpd') }}";

			$.get(url, {}, function(json){ 
				var data = json.result;
				
				for(var i=0;i<data.length;i++) {
					$( "#skpd-data tbody" ).append( "<tr>" +
					"<td>" + data[i].nama + "</td>" +
					"<td>" + data[i].latitude + "</td>" +
					"<td>" + data[i].longitude + "</td>" +
					"</tr>" );
				}
			}, "json");

			var daftarSkpd = new Array();
			var dialog, form,
			skpd = $("#skpd"),
			nama_skpd = $( "#nama_skpd" ),
			latitude = $( "#latitude" ),
			longitude = $( "#longitude" ),
			allFields = $( [] ).add( skpd ).add( latitude ).add( longitude ), tips = $( ".validateTips" );

			function isNotNull(i, data){
				if(data){
					return true;
				}
				else{
					return false;
				}
			}

			function isNumber(i, data){
				if(isNaN(data)){
					return false;
				}else{
					return true;
				}
			}

			function addSkpd() {
				var valid = true;
				valid = valid && isNotNull(skpd, skpd.val());
				valid = valid && isNotNull(nama_skpd, nama_skpd.text());
				valid = valid && isNotNull(latitude, latitude.val());
				valid = valid && isNotNull(longitude, longitude.val());
				valid = valid && isNumber(latitude, latitude.val());
				valid = valid && isNumber(longitude, longitude.val());

				if (valid){
					var aktif = 1;
					var url = "{{ site_url('aset/simpan_skpd') }}";

					$.post(url, {kode:skpd.val(), nama:nama_skpd.text(), latitude:latitude.val(), longitude:longitude.val(), aktif:aktif}, function(r) {
					}, "json");

					$( "#skpd-data tbody" ).append( "<tr>" +
					"<td>" + nama_skpd.text() + "</td>" +
					"<td>" + latitude.val() + "</td>" +
					"<td>" + longitude.val() + "</td>" +
					"</tr>" );
					$('#tambah-kantor').modal('hide');
				}
				return valid;
			}

			$("button[name=simpan]").click(function(){
				addSkpd();
			}); 
	
		});
	</script>

{% endblock %}