<div class="modal fade" id="tambah-aset-renov" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Tambahkan Aset Renovasi</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<form role="form" id="tambah-aset-renov-form">
							<div class="form-group">
								<label class="control-label">Aset Induk<strong>*</strong></label>
								<input type="text" class="form-control" id="aset-induk-dummie" name="aset-induk-dummie" value="" readonly="readonly">
								<input type="hidden" id="aset-induk-id" name="aset-induk-id" value="">
							</div>
							<div class="form-group">
								<label class="control-label">Aset Renov<strong>*</strong></label>
								<select type="text" class="form-control" id="aset-renov-id" name="aset-renov-id" data-rule-required="true">
									<option value="">Pilih Aset Renov</option>
								</select>
							</div>
							<div class="form-group has-error" style="display:none;">
								<label class="control-label"><strong>Aset Induk dan Aset Renov Tidak Boleh Sama</strong></label>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" name="batal" class="btn btn-default" data-dismiss="modal">Batal</button>
				<button type="button" name="simpan" class="btn btn-primary">Tambah</button>
			</div>
		</div>
	</div>
</div>