<div class="modal fade" id="tambah-kendaraan" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Tambahkan Pengguna Kendaraan</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<form role="form" id="tambah-aset-renov-form">
							<div class="form-group">
								<label class="control-label">Kendaraan<strong>*</strong></label>
								<select type="text" class="form-control" id="id-aset-kendaraan" name="id-aset-kendaraan" data-rule-required="true">
									<option value="">Pilih Kendaraan</option>
								</select>
							</div>
							<div class="form-group">
								<label class="control-label">Nama Pengguna<strong>*</strong></label>
								<input type="text" class="form-control" id="pengguna" name="pengguna" data-rule-required="true"/>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" name="batal" class="btn btn-default" data-dismiss="modal">Batal</button>
				<button type="button" name="simpan" class="btn btn-primary">Tambah</button>
			</div>
		</div>
	</div>
</div>