{% extends "_templates/adminpage.html" %}

{% block content %}
{% include "aset/modal_tambah_nilai.html" %}

<div class="row">
	<div class="col-xs-12" style="padding-left:0px; padding-right:0px;">
		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-4">
					<label>SKPD</label>
					<select type="text" name="nomor_unit" class="form-control">
						<option value="">Pilih SKPD</option>
					</select>
				</div>
				<div class="col-xs-8">
					<label>Aset</label>
					<select type="text" name="aset_induk" class="form-control">
						<option value="">Pilih Aset</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row" name="list_aset_tambah" style="display: none;">
			<div class="col-xs-12">
				<div class="col-xs-12">
					<div class="table-responsive">
					<label>Daftar Renovasi</label>
						<table class="table table_tambah_nilai">
							<thead class="table-bordered">
								<tr>
									<th class="table-bordered" style="text-align:center">No Register Renovasi</th>
									<th class="table-bordered" style="text-align:center">Detail Renovasi</th>
									<th class="table-bordered" style="text-align:center">Tahun Renovasi</th>
									<th class="table-bordered" style="text-align:center">Nilai Renovasi</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div class="row"  style="float:right;">
						<button id="btnPrintTambahNilai" type="button" style="height:30px;" class="btn btn-primary"><span class="glyphicon glyphicon-print"></span></button>
						<button id="btnTambahRenov" type="button" style="height:30px;" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block scripts %}
{{ parent() }}
<script type="text/javaScript" src="{{ base_url("assets/js/jquery.loadmask.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/select2.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/accounting.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/jquery.validate.min.js") }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
    	var content = $("#content");

    	// configure setting accounting.js
		accounting.settings = {
			number: {
				precision : 0,  // default precision on numbers is 0
				thousand: ".",
				decimal : ","
			}
		}

		var n = function(v, p) {
			return accounting.formatNumber(v, p);
		}

		var u = function(v) {
			return accounting.unformat(v);
		}

		//menampilkan daftar skpd
		$.get("{{ site_url('aset/list_skpd') }}", {}, function(json){ 
			var listSkpd = json.result;
			
			$.each(listSkpd, function (key, value) {
				$("select[name=nomor_unit]").append($('<option></option>').val(value.NOMOR_UNIT).html(value.NAMA_UNIT));
			});

			//$("select[name=nomor_unit]").val("{{ data.NOMOR_UNIT }}");
			$("select[name=nomor_unit]").select2();

			//reload_skpd();
			// var user = $("#user").text();

			// if (user != 'Administrator') {
			// 	$.post("{{ site_url('aset/get_skpd_user') }}", {user:user}, function(json){ 
			// 		var skpd_user = json.data;
			// 		var oid = skpd_user.oid;
			// 		//console.log(skpd_user);

			// 		$.post("{{ site_url('aset/get_skpd_organisasi') }}", {oid:oid}, function(json){ 
			// 			var skpd_organisasi = json.data;
			// 			var skpd_name = skpd_organisasi.oname;
						
			// 			$.post("{{ site_url('aset/get_skpd_val') }}", {skpd_name:skpd_name}, function(json){ 
			// 				var skpd_val = json.data;
			
			// 				//untuk mengubah data select 2 jangan lupa tambahkan ini >> .trigger('change');
			// 				$('select[name="nomor_unit"]').val(skpd_val.NOMOR_UNIT).trigger('change');
			// 				$('select[name="nomor_unit"]').prop( "disabled", true );           
							
			// 			}, "json");
						
						
			// 		}, "json");
			// 	}, "json");
			// }

		}, "json");

		// event onchange select skpd
		$("select[name=nomor_unit]").change(function() {
			reload_aset();
		});

		var reload_aset = function(callback) {
			content.mask("Loading...");
			var nomor_unit = $("select[name=nomor_unit]").val();

			$.post("{{ site_url('aset/get_list_aset_cd_by_nomor_unit') }}", {
				nomor_unit: nomor_unit
			}, function(json){ 
				var data = json.data;
				var el = $("select[name=aset_induk]");
				var el2 = $("select[name=aset-renov-id]");

				el.empty();
				el.append("<option value=''>Pilih Aset</option>");
				for (var i=0; i<data.length; i++) {
					var k = data[i];
					el.append($("<option></option>").attr("value", k.NO_REGISTER).html(k.NO_REGISTER + " | " + k.NAMA_BARANG));
					// el.append("<option value='{0}'>{1}</option>".format(k.NO_REGISTER, k.NAMA_BARANG));
				}

				el2.empty();
				el2.append("<option value=''>Pilih Aset</option>");
				for (var i=0; i<data.length; i++) {
					var k = data[i];
					el2.append($("<option></option>").attr("value", k.NO_REGISTER).html(k.NO_REGISTER + " | " + k.NAMA_BARANG));
					// el2.append("<option value='{0}'>{1}</option>".format(k.NO_REGISTER, k.NAMA_BARANG));
				}

				el.select2();
				el2.select2();

				content.unmask();
				if (callback !== undefined) {
					callback();
				}
			}, "json");
		}

		//menampilkan daftar aset renov dari aset induk
		$("select[name=aset_induk]").change(function() {
			load_aset_renov();
		});

		function load_aset_renov() {
			var aset_induk = $("select[name=aset_induk]").val();

			$('tbody').empty();
    		$("body").mask("Processing...");

    		$('div[name="list_aset_tambah"]').show();

    		$.post("{{ site_url('aset/list_aset_tambah') }}", {aset_induk:aset_induk}, function(json) {
				var aset_tambah = json.aset_tambah;
				var html = '';

				$.each(aset_tambah, function(key, value) {
					var value = aset_tambah[key];

					html += '<tr><td>'
					+ value.pnid
					+ '</td><td>'
					+ value.namapn
					+ '</td><td align="center">'
					+ value.tahunpn
					+ '</td><td align="right">'
					+ value.nilaipn
					+ '</td></tr>';

					var html2 = [
						'<tr id="row_'+key+'">',
							'<td>' + value.pnid + '</td>',
							'<td>' + value.namapn + '</td>',
							'<td>' + value.tahunpn + '</td>',
							'<td>' + value.nilaipn + '</td>',
							'<td width="15px;" style="text-align:center;">',
								'<a id="hapus_' + key + '" href="#">',
									'<span class="glyphicon glyphicon-trash"></span>',
								'</a>',
							'</td>',
						'</tr>'
					].join("\r\n");

					$('.table_tambah_nilai > tbody').append(html2);

					$('#hapus_'+key).on("click", function(e){
	                    e.preventDefault();
	                    $.post("{{ site_url('aset/hapus_aset_renov') }}", {no_register:value.pnid}, function(json) {
	                    	load_aset_renov();
	                    }, "json");
	                });
				});

				// $('.table_tambah_nilai > tbody').append(html);
				$("body").unmask();
			}, "json");
		}

		$("#btnTambahRenov").on("click", function() {
			var aset_induk = $("select[name=aset_induk]").val();
			var nama_aset_induk = $("select[name=aset_induk] option:selected").text();

			$("input[name=aset-induk-dummie]").val(nama_aset_induk);
			$("input[name=aset-induk-id]").val(aset_induk);

            $("#tambah-aset-renov").modal("show");
        });

        $("button[name=simpan]").on("click", function() {
        	var aset_induk = $("select[name=aset_induk]").val();
        	var aset_renov = $("select[name=aset-renov-id]").val();

        	if (aset_renov == aset_induk) {
        		alert("Aset Induk dan Aset Renov Tidak Boleh Sama.");
        	} else {
        		$("body").mask("Processing...");
	        	$.post("{{ site_url('aset/get_aset_by_no_register') }}", {no_register:aset_renov}, function(json) {
	        		var aset = json.aset;
	        		var html = '';

					$.each(aset, function(key, value) {
						var value = aset[key];

						html += '<tr><td>'
						+ value.NO_REGISTER
						+ '</td><td>'
						+ value.NAMA_BARANG
						+ '</td><td align="center">'
						+ value.TAHUN_PENGADAAN
						+ '</td><td align="right">'
						+ value.HARGA_TOTAL_PLUS_PAJAK
						+ '</td></tr>';

						var html2 = [
							'<tr id="row_'+key+'">',
								'<td>' + value.NO_REGISTER + '</td>',
								'<td>' + value.NAMA_BARANG + '</td>',
								'<td>' + value.TAHUN_PENGADAAN + '</td>',
								'<td>' + value.HARGA_TOTAL_PLUS_PAJAK + '</td>',
								'<td width="15px;" style="text-align:center;">',
									'<a id="hapus_' + key + '" href="#">',
										'<span class="glyphicon glyphicon-trash"></span>',
									'</a>',
								'</td>',
							'</tr>'
						].join("\r\n");

						$('.table_tambah_nilai > tbody').append(html2);

						$('#hapus_'+key).on("click", function(e){
		                    e.preventDefault();
		                    $.post("{{ site_url('aset/hapus_aset_renov') }}", {no_register:value.NO_REGISTER}, function(json) {
		                    	load_aset_renov();
		                    }, "json");
		                });
					});

					//$('.table_tambah_nilai > tbody').append(html);
					$("body").unmask();
	        	}, "json");


	        	$.post("{{ site_url('aset/tambah_aset_renov') }}", {aset_induk:aset_induk, aset_renov:aset_renov}, function(json) {
	        	}, "json");

	        	$("#tambah-aset-renov").modal("hide");
	        	$('select[name=aset-renov-id]').val('').trigger('change');
        	}
        });

		$("#btnPrintTambahNilai").click(function() {
			var nomor_unit = $("select[name=nomor_unit]").val();
			//var nomor_sub_unit = $("select[name=nomor_sub_unit]").val();
    		var no_register_induk = $("select[name=aset_induk]").val();
    		window.open( "{{ site_url('aset/print_penambahan_nilai') }}/"+ nomor_unit + "/" + no_register_induk, '_blank');
    		// if(nomor_sub_unit === "") {
      //       	window.open( "{{ site_url('aset/print_penambahan_nilai') }}/"+ nomor_unit + "/" + no_register_induk, '_blank');
    		// } else {
    		// 	window.open( "{{ site_url('aset/print_penambahan_nilai') }}/"+ nomor_sub_unit + "/" + no_register_induk, '_blank');
    		// }
            
		});
    	//menampilkan list ASET INDUK
  //   	$.get("{{ site_url('aset/list_aset_induk') }}", {}, function(json){ 
		// 	var listAsetInduk = json.result;
			
		// 	$.each(listAsetInduk, function (key, value) {
		// 		$("select[name=nama_aset]").append($('<option></option>').val(value.ID_ASET).html(value.NAMA_BARANG));
		// 	});
		// }, "json");
	});
</script>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/devexpress-like/jquery-ui.css") }}" />
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/select2.min.css") }}" />
	<link href="{{ base_url("assets/css/jquery.loadmask.css") }}" rel="stylesheet">		

	<style type="text/css">
		.control-label{
			padding-top: 8px !important;
		}

		select.form-control {
			height: 48px !important;
		}

		input.form-control {
			height: 34px !important;
		}

		textarea.form-control {
			height:auto !important;
		}

		.row {
			padding:10px 0px;
		}

		.spacer {
		    margin-top: 20px;
		}

		.ui-autocomplete{
			background: none repeat scroll 0 0 white;
		}

		.input-group-addon{
			border-radius: 0 !important;
		}

		.input-group .form-control{
			z-index: 0; !important;
		}

		.select2-selection__rendered {
			height: 28px;
		}
		.select2-container {
			width: 100% !important;
			padding: 0;
		}
		#btnTambahRenov {
			margin-top: 23px;
			height: 30px;
		}
		#btnPrintTambahNilai {
			margin-top: 23px;
			height: 30px;
		}
	</style>
{% endblock %}