{% extends "_templates/adminpage.html" %}

{% block content %}
<div style="margin-top: 10px; margin-left:10px; margin-right:10px; background:white; border: 1px solid rgba(1, 1, 1, 0.25);">
	<div class="row">
		<form class="form-horizontal" role="form">
			<div class="col-sm-5">
				<div class="form-group" style="padding-top:16px !important;">
					<label class="col-sm-4 control-label">Kegiatan: </label>
				</div>	
				<div class="form-group">
					<label class="col-sm-4 control-label">Nama</label>
					<div class="col-sm-6">
						<input class="form-control" id="nama-kegiatan">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">Kode</label>
					<div class="col-sm-6">
						<input class="form-control" id="kode-kegiatan">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">SPK/SP/Kontrak: </label>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">Nomor</label>
					<div class="col-sm-6">
						<input class="form-control" id="nomor-sp">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">Tanggal</label>
					<div class="col-sm-6">
						<input class="form-control" id="tanggal-sp">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">Nilai</label>
					<div class="col-sm-6">
						<input class="form-control" id="nilai-sp">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">Penyedia Barang: </label>
				</div>	
				<div class="form-group">
					<label class="col-sm-4 control-label">Nama</label>
					<div class="col-sm-6">
						<input class="form-control" id="nama-penyedia-barang">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">Kode</label>
					<div class="col-sm-6">
						<input class="form-control" id="kode-penyedia-barang">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">Berita Acara: </label>
				</div>	
				<div class="form-group">
					<label class="col-sm-4 control-label">Nomor</label>
					<div class="col-sm-6">
						<input class="form-control" id="nomor-berita-acara">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">Tanggal</label>
					<div class="col-sm-6">
						<input class="form-control" id="tanggal-berita-acara">
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-default">Submit</button>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group" style="padding-top:16px !important;">
					<div class="col-sm-5">
					</div>
					<div class="col-sm-5">
						<label class="control-label">Rincian Barang: </label>
					</div>
				</div>	
				<div class="form-group">
					<div class="row">
						<div class="col-sm-5">
							<label class="control-label">Kode Rekening Belanja</label>
							<input class="form-control" id="kode-rekening-belanja-6">
							<label class="control-label">Uraian</label>
							<input class="form-control" id="uraian-rekening-belanja-6">
						</div>
						<div class="col-sm-5">
							<label class="control-label">Kode Rekening Belanja</label>
							<input class="form-control" id="kode-rekening-belanja-5">
							<label class="control-label">Uraian</label>
							<input class="form-control" id="uraian-rekening-belanja-5">
						</div>
					</div>
				</div>
				<!-- <div class="form-group">
					<label class="col-sm-6 control-label">Kode Rekening Belanja</label>
					<div class="col-sm-6">
						<input class="form-control" id="kode-rekening-belanja-5">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-6 control-label">Uraian</label>
					<div class="col-sm-6">
						<input class="form-control" id="uraian-rekening-belanja-5">
					</div>
				</div> -->
				<div class="form-group">
					<div class="row">
						<div class="col-sm-5">
						</div>
						<div class="col-sm-5">
							<label class="control-label">Nama Barang</label>
							<input class="form-control" id="nama-barang">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-sm-5">
							<label class="control-label">Kode Barang (Permendagri 17)</label>
							<input class="form-control" id="kode-barang-17-2">
							<label class="control-label">Uraian</label>
							<input class="form-control" id="uraian-kode-barang-17-2">
						</div>
						<div class="col-sm-5">
							<label class="control-label">Kode Barang (Permendagri 17)</label>
							<input class="form-control" id="kode-barang-17">
							<label class="control-label">Uraian</label>
							<input class="form-control" id="uraian-kode-barang-17">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-sm-5">
							<label class="control-label">Volume</label>
							<input class="form-control" id="volume-barang">
							<label class="control-label">Harga Satuan</label>
							<input class="form-control" id="harga-satuan-barang">
						</div>
						<div class="col-sm-5">
							<label class="control-label">Satuan</label>
							<input class="form-control" id="satuan-barang">
							<label class="control-label">Jumlah Harga</label>
							<input class="form-control" id="jumlah-harga-barang">
						</div>
					</div>
				</div>
				<div class="form-group" style="padding-top:16px !important;">
					<div class="col-sm-5">
					</div>
					<div class="col-sm-5">
						<label class="control-label">Detail Spesifikasi: </label>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-sm-5">
							<label class="control-label">Merk</label>
							<input class="form-control" id="merk-barang">
							<label class="control-label">Tipe</label>
							<input class="form-control" id="tipe-barang">
						</div>
						<div class="col-sm-5">
							<label class="control-label">Ukuran</label>
							<input class="form-control" id="ukuran-barang">
							<label class="control-label">Bahan</label>
							<input class="form-control" id="bahan-barang">
							<label class="control-label">Warna</label>
							<input class="form-control" id="warna-barang">
						</div>
					</div>
				</div>
			</div>			
		</form>		
	</div>
</div>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	<link href="{{ base_url("assets/css/bootstrap-switch.min.css") }}" rel="stylesheet" />
	<link href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" rel="stylesheet">
	<link href="{{ base_url("assets/css/jquery.loadmask.css") }}" rel="stylesheet">

	<style type="text/css">
	.control-label{
		padding-top: 8px !important;
	}
	</style>
{% endblock %}