{% extends "_templates/adminpage.html" %}

{% block content %}
<form role="form">
	<div class="row">
		<div class="col-sm-12" style="padding-left:0px; padding-right:0px;">
			<div class="row">
				<div class="col-xs-4">
					<label class="control-label">SKPD</label>
					<input class="form-control" id="skpd">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-2">
					<label class="control-label">Tgl.Jurnal</label>
					<div data-date-format="dd-mm-yyyy" data-date="" datepicker class="input-group input-append date">
						<input id="tanggal-sp" readonly="" class="form-control" value=""></input>
						<span class="input-group-addon add-on"><i class="icon-calendar"></i></span>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="spacer"></div>
			<div class="row">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#berita-acara" data-toggle="tab">Berita Acara</a></li>
					<li><a href="#spk" data-toggle="tab">SPK</a></li>
					<li><a href="#rincian" data-toggle="tab">Rincian</a></li>
					<!-- <li><a href="#spesifikasi" data-toggle="tab">Spesifikasi</a></li> -->
					<li><a href="#pembayaran" data-toggle="tab">Pembayaran</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade in" id="spk">
						<div class="row">
							<div class="col-xs-12">
								<label class="control-label">SPK/SP/Kontrak: </label>	
							</div>
							<div class="col-xs-4">
								<label class="control-label">Nomor</label>
								<input class="form-control" id="nomor-sp"></input>							
							</div>
							<div class="col-xs-2">
								<label class="control-label">Tanggal</label>
								<div data-date-format="dd-mm-yyyy" data-date="" datepicker class="input-group input-append date">
									<input id="tanggal-sp" readonly="" class="form-control" value=""></input>
									<span class="input-group-addon add-on"><i class="icon-calendar"></i></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label">Nilai SPK / SP / Kontrak</label>
								<div class="input-group">
									<span class="input-group-addon">Rp.</span>
									<input class="form-control" id="nilai-sp" style="text-align:right;" />
									<span class="input-group-addon">,00</span>
								</div>
							</div>							
						</div>
						<div class="row">
							<div class="col-xs-8">
								<label class="control-label">Uraian Pekerjaan</label>
								<input class="form-control" id="uraian-pekerjaan"></input>
							</div>							
						</div>
						<div class="row">
							<div class="col-xs-8">
								<label class="control-label">Nama Rekanan</label>
								<input class="form-control" id="nama-rekanan"></input>							
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<label class="control-label">Kegiatan: </label>
							</div>
							<div class="col-xs-3">
								<label class="control-label">Kode</label>
								<input class="form-control" id="kode-kegiatan" readonly="">
							</div>
							<div class="col-xs-6">
								<label class="control-label">Nama</label>
								<input class="form-control" id="nama-kegiatan">
							</div>
						</div>
					</div>
					<div class="tab-pane fade in active" id="berita-acara">				
						<div class="row">			
							<div class="col-xs-5">
								<label class="control-label">No.BA Penerimaan</label>
								<input class="form-control" id="nomor-ba-st"></input>							
							</div>
							<div class="col-xs-2">
								<label class="control-label">Tgl.BA Penerimaan</label>
								<div data-date-format="yyyy-mm-dd" data-date="" datepicker class="input-group input-append date">
									<input id="tanggal-sp" readonly="" class="form-control" value=""></input>
									<span class="input-group-addon add-on"><i class="icon-calendar"></i></span>
								</div>
							</div>
						</div>
						<div class="row">			
							<div class="col-xs-5">
								<label class="control-label">No.BA Pemeriksaan</label>
								<input class="form-control" id="nomor-ba-st"></input>							
							</div>
							<div class="col-xs-2">
								<label class="control-label">Tgl.BA Pemeriksaan</label>
								<div data-date-format="dd-mm-yyyy" data-date="" datepicker class="input-group input-append date">
									<input id="tanggal-sp" readonly="" class="form-control" value=""></input>
									<span class="input-group-addon add-on"><i class="icon-calendar"></i></span>
								</div>
							</div>						
						</div>
					</div>
					<div class="tab-pane fade in" id="rincian">
						<div class="row">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#rincian1" data-toggle="tab">Aset Tetap</a></li>
								<li><a href="#rincian2" data-toggle="tab">Penambahan Nilai</a></li>
								<li><a href="#rincian3" data-toggle="tab">KDP</a></li>
								<li><a href="#rincian4" data-toggle="tab">Jasa</a></li>
								<li><a href="#rincian5" data-toggle="tab">Pakai Habis</a></li>
								<li><a href="#rincian6" data-toggle="tab">Bantuan</a></li>
							</ul>
						</div>
						<div class="row">
							<div class="col-xs-6">
								<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pilih-penerimaan"><span><i class="icon-plus"></i></span> Tambah</button>
								<button type="button" class="btn btn-primary"><span><i class="icon-pencil"></i></span> Edit</button>
								<button type="button" class="btn btn-primary"><span><i class="icon-trash"></i></span> Hapus</button>
							</div>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade in active" id="rincian1">
								<div class="row">
									<div class="col-md-11">
										<div class="table-responsive" style="overflow:auto;">
											<div>
												<table class="table table-striped table-hover" style="width:2000px;">
													<thead>
														<tr>
															<th rowspan="2"></th>
															<th rowspan="2" class="center">No.Status Guna</th>
															<th rowspan="2" class="center">Kd.Barang</th>
															<th rowspan="2" class="center">Kode Neraca</th>
															<th rowspan="2" class="center">Nama Barang</th>
															<th rowspan="2" class="center">Merk / Alamat / Jenis</th>
															<th colspan="2" class="center">Ruangan</th>
															<th rowspan="2" class="center">Qty</th>
															<th rowspan="2" class="center">H.Tot+Pajak</th>
															<th rowspan="2" class="center">Tipe</th>
															<th rowspan="2" class="center">Keterangan</th>
															<th rowspan="2" class="center">Nopol</th>
															<th rowspan="2" class="center">Thn.Pengadaan</th>
														</tr>
														<tr>
															<th class="center">Kode</th>
															<th class="center">Nama</th>
														</tr>
													</thead>
													<tbody>
														
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade in" id="rincian2">
								<div class="row">
									<div class="col-md-11">
										<div class="table-responsive" style="overflow:auto;">
											<div>
												<table class="table table-striped table-hover" style="width:2000px;">
													<thead>
														<tr>
															<th rowspan="2"></th>
															<th rowspan="2" class="center">No.Regs Induk</th>
															<th rowspan="2" class="center">Kd.Barang</th>
															<th rowspan="2" class="center">Kode Neraca</th>
															<th rowspan="2" class="center">Nama Barang</th>
															<th rowspan="2" class="center">Merk / Alamat / Jenis</th>
															<th colspan="2" class="center">Ruangan</th>
															<th rowspan="2" class="center">Qty</th>
															<th rowspan="2" class="center">H.Tot+Pajak</th>
															<th rowspan="2" class="center">Tipe</th>
															<th rowspan="2" class="center">Keterangan</th>
															<th rowspan="2" class="center">Nopol</th>
															<th rowspan="2" class="center">Thn.Pengadaan</th>
														</tr>
														<tr>
															<th class="center">Kode</th>
															<th class="center">Nama</th>
														</tr>
													</thead>
													<tbody>
														
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade in" id="rincian3">
								<div class="row">
									<div class="col-md-11">
										<div class="table-responsive" style="overflow:auto;">
											<div>
												<table class="table table-striped table-hover" style="width:2000px;">
													<thead>
														<tr>
															<th rowspan="2"></th>
															<th rowspan="2" class="center">No.Regs Induk</th>
															<th rowspan="2" class="center">Kd.Barang</th>
															<th rowspan="2" class="center">Kode Neraca</th>
															<th rowspan="2" class="center">Nama Barang</th>
															<th rowspan="2" class="center">Merk / Alamat / Jenis</th>
															<th colspan="2" class="center">Nilai KDP</th>
															<th rowspan="2" class="center">Nilai Mnrt Kontrak</th>
															<th rowspan="2" class="center">Tipe</th>
															<th rowspan="2" class="center">Qty</th>
															<th rowspan="2" class="center">Keterangan</th>
															<th rowspan="2" class="center">Nopol</th>
															<th rowspan="2" class="center">Thn.Pengadaan</th>
														</tr>
													</thead>
													<tbody>
														
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade in" id="rincian4">
								<div class="row">
									<div class="col-md-11">
										<div class="table-responsive" style="overflow:auto;">
											<div>
												<table class="table table-striped table-hover" style="width:2000px;">
													<thead>
														<tr>
															<th></th>
															<th class="center">Uraian</th>
															<th class="center">Merk / Alamat / Jenis</th>
															<th class="center">Tipe</th>
															<th class="center">Qty</th>
															<th class="center">H.Tot+Pajak</th>
															<th class="center">Keterangan</th>
														</tr>
													</thead>
													<tbody>
														
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade in" id="rincian5">
								<div class="row">
									<div class="col-md-11">
										<div class="table-responsive" style="overflow:auto;">
											<div>
												<table class="table table-striped table-hover" style="width:2000px;">
													<thead>
														<tr>
															<th></th>
															<th class="center">Uraian</th>
															<th class="center">Merk / Alamat / Jenis</th>
															<th class="center">Tipe</th>
															<th class="center">Qty</th>
															<th class="center">H.Tot+Pajak</th>
															<th class="center">Keterangan</th>
														</tr>
													</thead>
													<tbody>
														
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade in" id="rincian6">
								<div class="row">
									<div class="col-md-11">
										<div class="table-responsive" style="overflow:auto;">
											<div>
												<table class="table table-striped table-hover" style="width:2000px;">
													<thead>
														<tr>
															<th></th>
															<th class="center">Uraian</th>
															<th class="center">Merk / Alamat / Jenis</th>
															<th class="center">Tipe</th>
															<th class="center">Qty</th>
															<th class="center">H.Tot+Pajak</th>
															<th class="center">Keterangan</th>
														</tr>
													</thead>
													<tbody>
														
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade in" id="pembayaran">
						<div class="row">
							<div class="col-xs-6">
								<button type="button" class="btn btn-primary"><span><i class="icon-plus"></i></span> Tambah</button>
								<button type="button" class="btn btn-primary"><span><i class="icon-pencil"></i></span> Edit</button>
								<button type="button" class="btn btn-primary"><span><i class="icon-trash"></i></span> Hapus</button>
							</div>
						</div>
						<div class="row">
							<div class="col-md-11">
								<div class="table-responsive" style="overflow:auto;">
									<div>
										<table class="table table-striped table-hover" style="width:2000px;">
											<thead>
												<tr>
													<th ></th>
													<th class="center">No.SP2D</th>
													<th class="center">No.SPM</th>
													<th class="center">Nilai SPM/SPMU</th>
													<th class="center">Kode Rek</th>
													<th class="center">Uraian Belanja</th>
													<th class="center">Termin Ke</th>
													<th class="center">Tahun</th>
													<th class="center">Keterangan</th>
												</tr>
											</thead>
											<tbody>
												
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-2">
					<div class="row">
						<a href="{{ site_url('pengadaan/simpan') }}"><button class="btn btn-default" type="button">Simpan</button></a>
						<!-- <button type="button" class="btn btn-success" >Simpan</button> -->
					</div>
				</div>	
			</div>	
		</div>		
	</div>
</form>

<div class="modal fade" id="pilih-penerimaan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog  modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Pilih Penerimaan Pengadaan</h4>
			</div>
			<div class="modal-body">
				<form role="form">
					<label class="control-label">Aset Tetap</label>
					<div class="radio">
						<label><input type="radio" name="optradio" value="1">1. A. Tanah</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="optradio" value="3">2. B. 1. Peralatan</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="optradio" value="3">3. B. 2. Alat Angkutan</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="optradio" value="4">4. C. Gedung</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="optradio" value="5">5. D. Jalan, Jembatan, Jaringan, dan Instalasi</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="optradio" value="6">6. E. 1. Buku dan Barang Perpustakaan</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="optradio" value="7">7. E. 2. Barang Budaya</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="optradio" value="8">8. E. 3. Hewan dan Tanaman</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="optradio" value="9">9. G. Aset Tidak Berwujud</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="optradio" value="10">Penambahan Nilai</label>
					</div>
					<label class="control-label">Selain Aset Tetap</label>
					<div class="radio">
						<label><input type="radio" name="optradio" value="11">Jasa</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="optradio" value="12">Pakai Habis</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="optradio" value="13">Bantuan</label>
					</div>
					<label class="control-label">Progress</label>
					<div class="radio">
						<label><input type="radio" name="optradio" value="14">Konstruksi Dalam Pengerjaan</label>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
				<a type="button" class="btn btn-primary tambah-mutasi" data-toggle="modal">Pilih</a>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="input-mutasi-tambah" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog  modal-lg">
		<div class="modal-content">				
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Input Mutasi Tambah</h4>
			</div>
			<div class="modal-body">
				<ul class="nav nav-tabs nav-mutasi">
					<li class="active"><a href="#umum" data-toggle="tab">Umum</a></li>
					<li><a href="#detail" data-toggle="tab">Detail</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active fade in" id="umum">
						<!-- <form role="form"> -->
							<!-- <div class="row">
								<div class="col-xs-3">
									<label class="control-label pull-right">No. Status Penggunaan</label>
								</div>
								<div class="col-xs-5">
									<input class="form-control" id="no-status-pgn"></input>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-3">
									<label class="control-label pull-right">Kode Sub-Sub Kel</label>
								</div>
								<div class="col-xs-3">
									<input class="form-control" id="kode-sub-sub-kel"></input>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-3">
									<label class="control-label pull-right">Kode Rek.Neraca</label>
								</div>
								<div class="col-xs-3">
									<input class="form-control" id="kode-rek-neraca"></input>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-3">
									<label class="control-label pull-right">Nama Barang</label>
								</div>
								<div class="col-xs-6">
									<input class="form-control" id="nama-barang-mutasi"></input>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-3">
									<label class="control-label pull-right">Alamat</label>
								</div>
								<div class="col-xs-6">
									<input class="form-control" id="alamat-mutasi"></input>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-3">
									<label class="control-label pull-right">Jumlah</label>
								</div>
								<div class="col-xs-2">
									<input class="form-control" id="jumlah-mutasi"></input>
								</div>
								<div class="col-xs-1">
									<label class="control-label pull-right">Satuan</label>
								</div>
								<div class="col-xs-2">
									<input class="form-control" id="satuan-mutasi"></input>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-3">
									<label class="control-label pull-right">Harga Satuan</label>
								</div>
								<div class="col-xs-4">
									<div class="input-group">
										<span class="input-group-addon">Rp.</span>
										<input class="form-control" id="harga-satuan-mutasi" style="text-align:right;" />
										<span class="input-group-addon">,00</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-3">
									<label class="control-label pull-right">Harga Total</label>
								</div>
								<div class="col-xs-4">
									<div class="input-group">
										<span class="input-group-addon">Rp.</span>
										<input class="form-control" id="harga-total-mutasi" style="text-align:right;" />
										<span class="input-group-addon">,00</span>
									</div>
								</div>
								<div class="col-xs-2">
									<label class="control-label">
										<input type="checkbox" id="pajak-mutasi" value=""> Pajak
									</label>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-3">
									<label class="control-label pull-right">Harga Total + Pajak</label>
								</div>
								<div class="col-xs-4">
									<div class="input-group">
										<span class="input-group-addon">Rp.</span>
										<input class="form-control" id="harga-total-pajak-mutasi" style="text-align:right;" />
										<span class="input-group-addon">,00</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-3">
									<label class="control-label pull-right">Rencana Alokasi</label>
								</div>
								<div class="col-xs-6">
									<input class="form-control" id="rencana-alokasi-mutasi"></input>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-3">
									<label class="control-label pull-right">Penggunaan</label>
								</div>
								<div class="col-xs-6">
									<input class="form-control" id="penggunaan-mutasi"></input>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-3">
									<label class="control-label pull-right">Keterangan</label>
								</div>
								<div class="col-xs-6">
									<input class="form-control" id="keterangan-mutasi"></input>
								</div>
							</div> -->
						<!-- </form> -->
					</div>
					<div class="tab-pane fade in" id="detail">
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Status Tanah</label>
							</div>
							<div class="col-xs-5">
								<input class="form-control" id="status-tanah-mutasi"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">No. Sertifikat</label>
							</div>
							<div class="col-xs-5">
								<input class="form-control" id="no-sertifikat-tanah-mutasi"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Tanggal Sertifikat</label>
							</div>
							<div class="col-xs-2">	
								<div data-date-format="yyyy-mm-dd" data-date="" datepicker class="input-group input-append date">
									<input id="tanggal-sertifikat-tanah-mutasi" readonly="" class="form-control" value=""></input>
									<span class="input-group-addon add-on"><i class="icon-calendar"></i></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">No. Sertifikat</label>
							</div>
							<div class="col-xs-5">
								<input class="form-control" id="no-sertifikat-tanah-mutasi"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-1">
								<label class="control-label pull-right">Panjang</label>
							</div>
							<div class="col-xs-2">
								<div class="input-group">
									<input class="form-control" id="panjang-tanah-mutasi" style="text-align:right;" />
									<span class="input-group-addon">M</span>
								</div>
							</div>
							<div class="col-xs-1">
								<label class="control-label pull-right">Lebar</label>
							</div>
							<div class="col-xs-2">
								<div class="input-group">
									<input class="form-control" id="lebar-tanah-mutasi" style="text-align:right;" />
									<span class="input-group-addon">M</span>
								</div>
							</div>
							<div class="col-xs-1">
								<label class="control-label pull-right">Luas</label>
							</div>
							<div class="col-xs-2">
								<div class="input-group">
									<input class="form-control" id="lebar-tanah-mutasi" style="text-align:right;" />
									<span class="input-group-addon">M<sup>2</sup></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
				<button type="button" class="btn btn-primary">Simpan</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/datepicker3.css") }}" />
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/devexpress-like/jquery-ui.css") }}" />

	<style type="text/css">
		.control-label{
			padding-top: 8px !important;
		}

		select.form-control {
			height: 48px !important;
		}

		input.form-control {
			height: 34px !important;
		}

		textarea.form-control {
			height:auto !important;
		}

		.row {
			padding:10px 0px;
		}

		.spacer {
		    margin-top: 20px;
		}

		#input-mutasi-tambah.control-label{
			padding-top: 4px !important;
		}

		#input-mutasi-tambah input.form-control {
			height: 20px !important;
		}

		#input-mutasi-tambah.row {
			padding:4px 0px;
		}

		.ui-autocomplete{
			background: none repeat scroll 0 0 white;
		}

		.input-group-addon{
			border-radius: 0 !important;
		}

		.input-group .form-control{
			z-index: 0; !important;
		}
	</style>
{% endblock %}

{% block scripts %}
	{{ parent() }}

	<script type="text/javaScript" src="{{ base_url("assets/js/bootstrap-datepicker.js") }}"></script>
	<script type="text/javaScript" src="{{ base_url("assets/js/accounting.min.js") }}"></script>
	<script type="text/javascript">
		jQuery(function ($) {
			$("*[datepicker]").datepicker();

			accounting.settings = {
				number: {
					precision : 0,  // default precision on numbers is 0
					thousand: ".",
					decimal : ","
				}
			}

			$("input#nilai-sp").blur(function() {
				$(this).val(accounting.formatNumber($(this).val().replace(/\./g, "")));
			});

			$("input#skpd").autocomplete({
				minLength: 1,
				source: "{{ site_url('pengadaan/auto_skpd') }}",
				select: function(e, u) {
					$(this).val(u.item.id);
					var form = $(this).closest("form");
					form.find("input#skpd").val(u.item.NAMA_SUB_UNIT);
					return false;
				}
			});

			$("input#nama-kegiatan").autocomplete({
				minLength: 1,
				source: "{{ site_url('pengadaan/auto_kegiatan') }}",
				select: function(e, u) {
					$(this).val(u.item.id);
					var form = $(this).closest("form");
					form.find("input#nama-kegiatan").val(u.item.Ket_Kegiatan);
					form.find("input#kode-kegiatan").val(u.item.id);
					return false;
				}
			});

			$("input#nomor-sp").autocomplete({
				minLength: 1,
				source: "{{ site_url('pengadaan/auto_spk') }}",
				select: function(e, u) {
					$(this).val(u.item.id);
					var form = $(this).closest("form");
					form.find("input#nomor-sp").val(u.item.id);
					form.find("input#tanggal-sp").val(u.item.TANGGAL);
					form.find("input#nilai-sp").val(u.item.NILAI_SPK);
					form.find("input#uraian-pekerjaan").val(u.item.DESKRIPSI_SPK_DOKUMEN);
					form.find("input#nama-rekanan").val(u.item.REKANAN);
					return false;
				}
			});

			$(".tambah-mutasi").click(function(){ 
				var kode_kib = $('input[name="optradio"]:checked').val();
				inputMutasi(kode_kib);
			});

		});

		var nav1 = '<li class="active"><a href="#umum" data-toggle="tab">Umum</a></li>';

		var nav2 = [
				'<li class="active"><a href="#umum" data-toggle="tab">Umum</a></li>',
				'<li><a href="#detail" data-toggle="tab">Detail</a></li>'];

		var konten_umum = ['<div class="row">',
									'<div class="col-xs-3">',
										'<label class="control-label pull-right">No. Status Penggunaan</label>',
									'</div>',
									'<div class="col-xs-5">',
										'<input class="form-control" id="no-status-pgn"></input>',
									'</div>',
								'</div>',
								'<div class="row">',
									'<div class="col-xs-3">',
										'<label class="control-label pull-right">Kode Sub-Sub Kel</label>',
									'</div>',
									'<div class="col-xs-3">',
										'<input class="form-control" id="kode-sub-sub-kel"></input>',
									'</div>',
								'</div>',
								'<div class="row">',
									'<div class="col-xs-3">',
										'<label class="control-label pull-right">Kode Rek.Neraca</label>',
									'</div>',
									'<div class="col-xs-3">',
										'<input class="form-control" id="kode-rek-neraca"></input>',
									'</div>',
								'</div>',
								'<div class="row">',
									'<div class="col-xs-3">',
										'<label class="control-label pull-right">Nama Barang</label>',
									'</div>',
									'<div class="col-xs-6">',
										'<input class="form-control" id="nama-barang-mutasi"></input>',
									'</div>',
								'</div>',
								'<div class="row">',
									'<div class="col-xs-3">',
										',<label class="control-label pull-right">Alamat</label>',
									'</div>',
									'<div class="col-xs-6">',
										'<input class="form-control" id="alamat-mutasi"></input>',
									'</div>',
								'</div>',
								'<div class="row">',
									'<div class="col-xs-3">',
										'<label class="control-label pull-right">Jumlah</label>',
									'</div>',
									'<div class="col-xs-2">',
										'<input class="form-control" id="jumlah-mutasi"></input>',
									'</div>',
									'<div class="col-xs-1">',
										'<label class="control-label pull-right">Satuan</label>',
									'</div>',
									'<div class="col-xs-2">',
										'<input class="form-control" id="satuan-mutasi"></input>',
									'</div>',
								'</div>',
								'<div class="row">',
									'<div class="col-xs-3">',
										'<label class="control-label pull-right">Harga Satuan</label>',
									'</div>',
									'<div class="col-xs-4">',
										'<div class="input-group">',
											'<span class="input-group-addon">Rp.</span>',
											'<input class="form-control" id="harga-satuan-mutasi" style="text-align:right;" />',
											'<span class="input-group-addon">,00</span>',
										'</div>',
									'</div>',
								'</div>',
								'<div class="row">',
									'<div class="col-xs-3">',
										'<label class="control-label pull-right">Harga Total</label>',
									'</div>',
									'<div class="col-xs-4">',
										'<div class="input-group">',
											'<span class="input-group-addon">Rp.</span>',
											'<input class="form-control" id="harga-total-mutasi" style="text-align:right;" />',
											'<span class="input-group-addon">,00</span>',
										'</div>',
									'</div>',
									'<div class="col-xs-2">',
										'<label class="control-label">',
											'<input type="checkbox" id="pajak-mutasi" value=""> Pajak</input>',
										'</label>',
									'</div>',
								'</div>',
								'<div class="row">',
									'<div class="col-xs-3">',
										'<label class="control-label pull-right">Harga Total + Pajak</label>',
									'</div>',
									'<div class="col-xs-4">',
										'<div class="input-group">',
											'<span class="input-group-addon">Rp.</span>',
											'<input class="form-control" id="harga-total-pajak-mutasi" style="text-align:right;" />',
											'<span class="input-group-addon">,00</span>',
										'</div>',
									'</div>',
								'</div>',
								'<div class="row">',
									'<div class="col-xs-3">',
										'<label class="control-label pull-right">Rencana Alokasi</label>',
									'</div>',
									'<div class="col-xs-6">',
										'<input class="form-control" id="rencana-alokasi-mutasi"></input>',
									'</div>',
								'</div>',
								'<div class="row">',
									'<div class="col-xs-3">',
										'<label class="control-label pull-right">Penggunaan</label>',
									'</div>',
									'<div class="col-xs-6">',
										'<input class="form-control" id="penggunaan-mutasi"></input>',
									'</div>',
								'</div>',
								'<div class="row">',
									'<div class="col-xs-3">',
										'<label class="control-label pull-right">Keterangan</label>',
									'</div>',
									'<div class="col-xs-6">',
										'<input class="form-control" id="keterangan-mutasi"></input>',
									'</div>',
								'</div>'];

			//var 


		function inputMutasi(kode_kib){
			switch (kode_kib) {
				case 1:
					$(".nav-mutasi").append(nav2);
					$("#umum").append(konten_umum);
					$('#input-mutasi-tambah').modal('show');
					break;
				case 2:
					day = "Monday";
					break;
				case 3:
					day = "Tuesday";
					break;
				case 4:
					day = "Wednesday";
					break;
				case 5:
					day = "Thursday";
					break;
				case 5:
					day = "Friday";
					break;
				case 6:
					day = "Saturday";
					break;
				case 7:
					day = "Sunday";
					break;
				case 8:
					day = "Monday";
					break;
				case 9:
					day = "Tuesday";
					break;
				case 10:
					day = "Wednesday";
					break;
				case 11:
					day = "Thursday";
					break;
				case 12:
					day = "Friday";
					break;
				case 13:
					day = "Saturday";
					break;
				case 14:
					day = "Saturday";
					break;
			}	
		}
	</script>
{% endblock %}