{% extends "_templates/adminpage.html" %}
{% block content %}

<div class="row">
	<div class="col-xs-12" style="padding-left:0px; padding-right:0px;">
		<div class="row" name="select_kib">
			<div class="col-xs-3">
				<label>JENIS KIB</label>
				<select type="text" name="jenis_kib" class="form-control">
					<option value="B">KIB B (Peralatan dan Kendaraan)</option>
					<option value="C">KIB C (Gedung dan Bangunan)</option>
					<option value="D">KIB D (Jalan dan Jembatan)</option>
					<option value="E">KIB E (Buku, Hewan, Tanaman, Barang Kebudayaan)</option>
					<option value="G">KIB G (Aset Tak Berwujud)</option>
				</select>
			</div>
			<div class="col-xs-3">
				<label>JENIS ASET</label>
				<select type="text" name="jenis_aset" class="form-control">
					<option value="1.3">1.3 (Aset Tetap)</option>
					<option value="1.5">1.5 (Aset Lain-lain)</option>
				</select>
			</div>
			<div class="col-xs-3">
				<label>KODE KEPEMILIKAN</label>
				<select type="text" name="kode_kepemilikan" class="form-control">
					<option value="12">12 (Pemerintah Kab/Kota)</option>
					<option value="98">98 (Ekstrakom)</option>
				</select>
			</div>
			<div class="col-xs-2" name="button-susut">
				<button id="btnHitungSusut" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-ok-circle"></span> Hitung Penyusutan</button>
			</div>	
		</div>
		<div class="row" name="hasil_susut" style="display:none">
			<div class="col-xs-12">
				<div class="table-responsive">
					<table class="table table-hover table_susut">
						<thead class="table-bordered">
						<tr>
							<th class="table-bordered" style="text-align:center">Nomor Unit</th>
							<th class="table-bordered" style="text-align:center">Nama Unit</th>
							<th class="table-bordered" style="text-align:center">Nilai Perolehan</th>
							<th class="table-bordered" style="text-align:center">Akumulasi Penyusutan</th>
							<th class="table-bordered" style="text-align:center">Beban</th>
							<th class="table-bordered" style="text-align:center">Nilai Buku</th>
						</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block scripts %}
{{ parent() }}
<script type="text/javaScript" src="{{ base_url("assets/js/jquery.loadmask.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/select2.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/accounting.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/bootstrap-switch.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/xlsx.core.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/Blob.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/FileSaver.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/tableexport.js") }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
    	$('input[name="kapital-checkbox"]').bootstrapSwitch();
    	// configure setting accounting.js
		accounting.settings = {
			number: {
				precision : 0,  // default precision on numbers is 0
				thousand: ".",
				decimal : ","
			}
		}

		var n = function(v, p) {
			return accounting.formatNumber(v, p);
		}

		var u = function(v) {
			return accounting.unformat(v);
		}
		
		$("#btnHitungSusut").click(function() {
    		$('tbody').empty();
    		$("body").mask("Processing...");
    		$('caption').empty();

    		var jenis_aset = $("select[name=jenis_aset]").val();
    		var kib = $('select[name="jenis_kib"]').val();
    		var kode_kepemilikan = $("select[name=kode_kepemilikan]").val();
    		$('div[name="hasil_susut"]').show();

			$.post("{{ site_url('aset/get_rekap_susut_per_skpd') }}", {kib:kib, jenis_aset:jenis_aset, kode_kepemilikan:kode_kepemilikan}, function(json) {
				var aset = json.aset;
				var total = json.total;
				
				var html = '';
				var tables = $("table");

				$.each(aset, function(key, value) {
					var value = aset[key];

					html += '<tr><td>'
					+ value.nomor_unit
					+ '</td><td>'
					+ value.nama_unit
					+ '</td><td align="right">'
					+ value.nilai_perolehan
					+ '</td><td align="right">'
					+ value.akumulasi_penyusutan
					+ '</td><td align="right">'
					+ value.beban
					+ '</td><td align="right">'
					+ value.nilai_buku
					+ '</td></tr>';
				});

				html += '<tr><td>'
					+ '<strong>' + "TOTAL" + '</strong>'
					+ '</td><td>'
					+ ''
					+ '</td><td align="right">'
					+ '<strong>' + total.total_nilai_perolehan + '</strong>'
					+ '</td><td align="right">'
					+ '<strong>' + total.total_akumulasi_penyusutan + '</strong>'
					+ '</td><td align="right">'
					+ '<strong>' + total.total_beban + '</strong>'
					+ '</td><td align="right">'
					+ '<strong>' + total.total_nilai_buku + '</strong>'
					+ '</td></tr>';

				$('.table_susut > tbody').append(html);
				$("body").unmask();

				tables.tableExport({
				    bootstrap: true,
				    format: ["xlsx"]
				});
			}, "json");
    	});
	});
</script>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/devexpress-like/jquery-ui.css") }}" />
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/select2.min.css") }}" />
	<link href="{{ base_url("assets/css/jquery.loadmask.css") }}" rel="stylesheet">
	<link href="{{ base_url("assets/css/bootstrap-switch.min.css") }}" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/tableexport.css") }}" />	

	<style type="text/css">
		.control-label{
			padding-top: 8px !important;
		}

		select.form-control {
			height: 48px !important;
		}

		input.form-control {
			height: 34px !important;
		}

		textarea.form-control {
			height:auto !important;
		}

		.row {
			padding:10px 0px;
		}

		.spacer {
		    margin-top: 20px;
		}

		.ui-autocomplete{
			background: none repeat scroll 0 0 white;
		}

		.input-group-addon{
			border-radius: 0 !important;
		}

		.input-group .form-control{
			z-index: 0; !important;
		}

		.select2-selection__rendered {
			height: 28px;
		}
		.table > thead > tr > th {
			vertical-align: middle;
		}
		#btnHitungSusut {
			margin-top: 22px;
			height: 30px;
		}
		.btn-toolbar {
			text-align: left !Important;
		}
	</style>
{% endblock %}