{% extends "_templates/adminpage.html" %}

{% block content %}

<div class="row">
	<div class="col-xs-12" style="padding-left:0px; padding-right:0px;">
		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-4">
					<button id="update-db" name="update-db" type="button" class="btn btn-success">Update DB</button>
				</div>
				<div class="col-xs-8">
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block scripts %}
{{ parent() }}
<script type="text/javaScript" src="{{ base_url("assets/js/jquery.loadmask.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/select2.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/accounting.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/jquery.validate.min.js") }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
    	var content = $("#content");

    	// configure setting accounting.js
		accounting.settings = {
			number: {
				precision : 0,  // default precision on numbers is 0
				thousand: ".",
				decimal : ","
			}
		}

		var n = function(v, p) {
			return accounting.formatNumber(v, p);
		}

		var u = function(v) {
			return accounting.unformat(v);
		}

        $("button[name=update-db]").on("click", function() {
    		$("body").mask("Processing...");
        	$.post("{{ site_url('aset/update_db_penambahan_nilai') }}", {}, function(json) {
				$("body").unmask();
        	}, "json");
        });
	});
</script>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/devexpress-like/jquery-ui.css") }}" />
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/select2.min.css") }}" />
	<link href="{{ base_url("assets/css/jquery.loadmask.css") }}" rel="stylesheet">		

	<style type="text/css">
		.control-label{
			padding-top: 8px !important;
		}

		select.form-control {
			height: 48px !important;
		}

		input.form-control {
			height: 34px !important;
		}

		textarea.form-control {
			height:auto !important;
		}

		.row {
			padding:10px 0px;
		}

		.spacer {
		    margin-top: 20px;
		}

		.ui-autocomplete{
			background: none repeat scroll 0 0 white;
		}

		.input-group-addon{
			border-radius: 0 !important;
		}

		.input-group .form-control{
			z-index: 0; !important;
		}

		.select2-selection__rendered {
			height: 28px;
		}
		.select2-container {
			width: 100% !important;
			padding: 0;
		}
		#btnTambahRenov {
			margin-top: 23px;
			height: 30px;
		}
		#btnPrintTambahNilai {
			margin-top: 23px;
			height: 30px;
		}
	</style>
{% endblock %}