{% extends "_templates/adminpage.html" %}

{% block content %}
<div class="container">
	<ul id="data" class="nav nav-tabs">
		<li class="active"><a href="#draft" data-toggle="tab">Draft</a></li>
		<li><a href="#posting" data-toggle="tab">Posting</a></li>
	</ul>
	<div class="tab-content">
		<div class="spacer"></div>
		<div class="tab-pane fade in active" id="draft">
			<div class="col-xs-12">
				<div class="col-md-3 pull-left">
					<select type="text" id="nomor_lokasi" class="form-control">
						<option value="">Semua SKPD</option>
					</select>
				</div>
				<div class="col-md-3 pull-right">
					<input name="cari" type="text" class="form-control" placeholder="Pencarian" />
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="spacer"></div>
			<div class="row">
				<div class="col-xs-12">
					<div class="table-responsive" style="overflow:auto;">
						<div>
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th class="center">Lokasi</th>
										<th class="center">Tanggal Jurnal</th>
										<th class="center">No SPK/SP/Kontrak</th>
										<th class="center">Kode Kegiatan</th>
										<th>No.BA Penerimaan</th>
									</tr>
								</thead>
								<tbody>
								{% for dt in daftar %}
									<tr>
										<td></td>
										<td width="15px;" style="text-align:center;">
											<a posted jpid="{{ dt.jpid }}" href="#" title="Posting">
												<span class="glyphicon glyphicon-open"></span>
											</a>
										</td>
										<td width="15px;" style="text-align:center;">
											<a target="_blank" href="{{ site_url("pengadaan/form/" ~ dt.jpid) }}" title="Edit">
												<span class="glyphicon glyphicon-pencil"></span>
											</a>
										</td>
										<td width="15px;" style="text-align:center;">
											<a onclick='return  confirm("Anda yakin ingin menghapus data ini ?")' href="{{ site_url("pengadaan/hapus/" ~ dt.jpid) }}" title="Hapus">
												<span class="glyphicon glyphicon-trash"></span>
											</a>
										</td>
										<td>{{ dt.jpnomorlokasi }}</td>
										<td>{{ dt.jptgl }}</td>
										<td>{{ dt.id_kontrak }}</td>
										<td>{{ dt.jpkodekegiatan }}</td>
										<td>{{ dt.jpnobaterima }}</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>

					<div id="pagination">
						{{ pagination | raw }}
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane fade in" id="posting">
			<div class="col-xs-12">
				<div class="col-md-3 pull-left">
					<select type="text" id="nomor_lokasi2" class="form-control">
						<option value="">Semua SKPD</option>
					</select>
				</div>
				<div class="col-md-3 pull-right">
					<input name="cari2" type="text" class="form-control" placeholder="Pencarian" />
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="spacer"></div>
			<div class="row">
				<div class="col-xs-12">
					<div class="table-responsive" style="overflow:auto;">
						<div>
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th class="center">Lokasi</th>
										<th class="center">Tanggal Jurnal</th>
										<th class="center">No SPK/SP/Kontrak</th>
										<th class="center">Kode Kegiatan</th>
										<th>No.BA Penerimaan</th>
									</tr>
								</thead>
								<tbody>
								{% for dt in daftar_posted %}
									<tr>
										<td>{{ dt.jpnomorlokasi }}</td>
										<td>{{ dt.jptgl }}</td>
										<td>{{ dt.id_kontrak }}</td>
										<td>{{ dt.jpkodekegiatan }}</td>
										<td>{{ dt.jpnobaterima }}</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>

					<div id="pagination">
						{{ pagination | raw }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block scripts %}
{{ parent() }}
<script type="text/javaScript" src="{{ base_url("assets/js/accounting.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/base64.js") }}"></script>
<script type="text/javaScript">
jQuery(document).ready(function($) {
	if (!String.prototype.format) {
		String.prototype.format = function() {
			var args = arguments;
			return this.replace(/{(\d+)}/g, function(match, number) { 
				return typeof args[number] != 'undefined' ? args[number] : match;
			});
		};
	}

	var delay = (function(){
		var timer = 0;
			return function(callback, ms){
			clearTimeout (timer);
			timer = setTimeout(callback, ms);
		};
	})();


	// populasi selectbox skpd
	$.post("{{ site_url('aset/list_sub_skpd') }}", {}, function(json){				
		$.each(json.result, function (key, value) {
			$("#nomor_lokasi").append($('<option></option>').val(value.NOMOR_SUB_UNIT).html(value.NAMA_SUB_UNIT));
			$("#nomor_lokasi2").append($('<option></option>').val(value.NOMOR_SUB_UNIT).html(value.NAMA_SUB_UNIT));
		});
	}, "json");

	function cari_data() {
		var filter = $("input[name=cari]").val();
		//console.log(filter);
		var nomor_lokasi = $("select[id=nomor_lokasi]").val();

		var x = $.ajax({
			url: "{{ site_url('pengadaan/pencarian') }}?filter={0}&nomor_lokasi={1}".format(filter, nomor_lokasi),
			type: "POST",
			dataType: "json"
		});

		x.done(function(json) {
			var tbody = $("table > tbody");
			tbody.empty();
			
			var data = json.data;
			for(var i=0; i<data.length; i++) {
				var t = data[i];
				
				var c = [
					'<tr>',
						'<td></td>',
						'<td width="15px;" style="text-align:center;">',
							'<a posted jpid="'+ t.jpid +'" href="#" title="Posting">',
								'<span class="glyphicon glyphicon-open"></span>',
							'</a>',
						'</td>',
						'<td width="15px;" style="text-align:center;">',
							'<a target="_blank" href="{{ site_url("pengadaan/form") }}/' + t.jpid + '" title="Edit">',
								'<span class="glyphicon glyphicon-pencil"></span>',
							'</a>',
						'</td>',
						'<td width="15px;" style="text-align:center;">',
							'<a onclick="return confirm(\'Anda yakin ingin menghapus data ini ?\')" href="{{ site_url("pengadaan/hapus/") }}/' + t.jpid + '" title="Hapus">',
								'<span class="glyphicon glyphicon-trash"></span>',
							'</a>',
						'</td>',
						'<td>' + t.jpnomorlokasi + '</td>',
						'<td>' + t.jptgl + '</td>',
						'<td>' + t.id_kontrak + '</td>',
						'<td>' + t.jpkodekegiatan + '</td>',
						'<td>' + t.jpnobaterima + '</td>',
					'</tr>'
				].join("\r\n");

				tbody.append(c);
			}
			
			$("div#pagination").html(json.pagination);

		});

		x.fail(function() {
			return;
			//window.location.replace("{{ site_url('pengadaan/index') }}/?filter={0}".format(filter));
		});
	}


	$("input[name=cari]").keyup(function(e) {
		 delay(function(){
		 	cari_data();
	    }, 500);
	});


	$("select[id=nomor_lokasi]").change(function() {
		cari_data();
	});

	//posting ke simbada
	$("a[posted]").on("click", function() {
		var jpid = $(this).attr("jpid");

		$.post("{{ site_url("pengadaan/post") }}/" + jpid, {}, function() {
			alert ("Data berhasil diposting ke Simbada")
		}, "json");
	});
});
</script>
{% endblock %}


{% block stylesheets %}
{{ parent() }}

<style type="text/css">
	.control-label{
		padding-top: 8px !important;
	}

	*[class^='col-'] {
		padding-left: 0px;
		padding-right: 0px;
	}

	select.form-control {
		height: 48px !important;
	}

	input.form-control {
		height: 34px !important;
	}

	textarea.form-control {
		height:auto !important;
	}

	.spacer {
	    margin-top: 20px;
	}
</style>
{% endblock %}