{% extends "_templates/adminpage.html" %}

{% block content %}

{% include "pengadaan/fragments/pilihan.html" %}
{% include "pengadaan/fragments/1a.html" %}
{% include "pengadaan/fragments/1b.html" %}
{% include "pengadaan/fragments/1c.html" %}
{% include "pengadaan/fragments/1d.html" %}
{% include "pengadaan/fragments/1e.html" %}
{% include "pengadaan/fragments/1f.html" %}
{% include "pengadaan/fragments/1g.html" %}
{% include "pengadaan/fragments/1h.html" %}
{% include "pengadaan/fragments/1i.html" %}
{% include "pengadaan/fragments/1j.html" %}
{% include "pengadaan/fragments/2a.html" %}
{% include "pengadaan/fragments/2b.html" %}
{% include "pengadaan/fragments/2c.html" %}
{% include "pengadaan/fragments/3a.html" %}
{% include "pengadaan/fragments/3b.html" %}
{% include "pengadaan/fragments/3c.html" %}

	<div class="row">
		<div id="error" class="col-xs-8 alert alert-danger" style="margin-left:10px;{% if validation_errors == false %}display:none;{% endif %}">
			{% if validation_errors != false %}
				{{ validation_errors | raw }}
			{% endif %}
		</div>
	</div>

{% if id|length <= 1 %}
{{ form_open("pengadaan/submit", {id:"frmMain"}) | raw }}
{% else %}
{{ form_open("pengadaan/submit/" ~ id, {id:"frmMain"}) | raw }}
{% endif %}
	<div class="row">
		<div class="col-sm-12" style="padding-left:0px; padding-right:0px;">
			<!-- <div class="row">
				<div class="col-xs-2">
					<label>Jenis Pengadaan</label>
					<select type="text" name="jenispengadaan" class="form-control">
						<option value="">Jenis Pengadaan</option>
						<option value="1">Baru</option>
						<option value="2">Tambah Nilai</option>
					</select>
				</div>
			</div> -->
			<div class="row">
				<div class="col-xs-5">
					<label>SKPD</label>
					<select type="text" name="jpnomorlokasi" class="form-control">
						<option value="">Pilih SKPD</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-2">
					<label class="control-label">Tgl.Jurnal</label>
					<div data-date-format="dd-mm-yyyy" data-date="{{ data.jptgl }}" datepicker class="input-group input-append date">
						<input name="jptgl" readonly="" class="form-control" value="{{ data.jptgl }}"></input>
						<span class="input-group-addon add-on"><i class="icon-calendar"></i></span>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="spacer"></div>
			<div class="row">
				<ul id="wp" class="nav nav-tabs">
					<li class="active"><a href="#berita-acara" data-toggle="tab">Berita Acara</a></li>
					<li><a href="#spk" data-toggle="tab"{% if isSaved == 0 %}disabled=""{% endif %}>SPK</a></li>
					<li><a href="#rincian" data-toggle="tab" {% if isSaved == 0 %}disabled=""{% endif %}>Rincian</a></li>
					<li><a href="#pembayaran" data-toggle="tab" {% if isSaved == 0 %}disabled=""{% endif %}>Pembayaran</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade in active" id="berita-acara">
						<div class="row">
							<div class="col-xs-5">
								<label class="control-label">No.BA PPHP</label>
								<input class="form-control" name="jpnobaperiksa" value="{{ data.jpnobaperiksa }}"/>						
							</div>
							<div class="col-xs-2">
								<label class="control-label">Tgl.BA PPHP</label>
								<div data-date-format="dd-mm-yyyy" data-date="{{ data.jptglbaperiksa }}" datepicker class="input-group input-append date">
									<input name="jptglbaperiksa" readonly="" class="form-control" value="{{ data.jptglbaperiksa }}"/>
									<span class="input-group-addon add-on"><i class="icon-calendar"></i></span>
								</div>							
							</div>
						</div>
						<div class="row">
							<div class="col-xs-5">
								<label class="control-label">No.BA Penerimaan</label>
								<input class="form-control" name="jpnobaterima" value="{{ data.jpnobaterima }}"/>
							</div>
							<div class="col-xs-2">
								<label class="control-label">Tgl.BA Penerimaan</label>
								<div data-date-format="dd-mm-yyyy" data-date="{{ data.jptglbaterima }}" datepicker class="input-group input-append date">
									<input name="jptglbaterima" readonly="" class="form-control" value="{{ data.jptglbaterima }}"/>
									<span class="input-group-addon add-on"><i class="icon-calendar"></i></span>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade in" id="spk">
						<div class="row">
							<div class="col-xs-4">
								<label class="control-label">No.SPK/SP/Kontrak</label>
								<input name="id_kontrak" type="hidden" />
								<select class="form-control" name="no_spk_sp_dokumen" dropdown-width="600"></select>							
							</div>
							<div class="col-xs-2">
								<label class="control-label">Tanggal SPK/SP/Kontrak</label>
								<div data-date-format="dd-mm-yyyy" data-date="" datepicker class="input-group input-append date">
									<input name="tgl_spk_sp_dokumen" readonly="" class="form-control" value=""></input>
									<span class="input-group-addon add-on"><i class="icon-calendar"></i></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label">Nilai SPK/SP/Kontrak</label>
								<div class="input-group">
									<span class="input-group-addon">Rp.</span>
									<input class="form-control" style="text-align:right;" name="nilai_spk" value="" readonly="" />
									<span class="input-group-addon">,00</span>
							</div>
							</div>
						</div>
						<div class="row">			
							<div class="col-xs-7">
								<label>Uraian Pekerjaan</label>
								<textarea class="form-control" rows="4" name="deskripsi_spk_dokumen" readonly=""></textarea>
							</div>
								</div>
						<div class="row">			
							<div class="col-xs-5">
								<label>Nama Rekanan</label>
								<input class="form-control" name="rekanan" value="" readonly="" />
							</div>
								</div>
						<div class="row">
							<div class="col-xs-6">
								<label>Kegiatan</label>
								<select name="kode_kegiatan" class="form-control" disabled></select>
							</div>						
						</div>
					</div>
					<div class="tab-pane fade in" id="rincian">
						<div class="row">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#rincian1" data-toggle="tab">Aset Tetap</a></li>
								<li><a href="#rincian2" data-toggle="tab">Penambahan Nilai</a></li>
								<li><a href="#rincian3" data-toggle="tab">KDP</a></li>
								<li><a href="#rincian4" data-toggle="tab">Jasa</a></li>
								<li><a href="#rincian5" data-toggle="tab">Pakai Habis</a></li>
								<li><a href="#rincian6" data-toggle="tab">Bantuan</a></li>
							</ul>
						</div>
						<div class="row">
							<div class="col-xs-6">
								<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pilihan"><span><i class="icon-plus"></i></span> Tambah</button>
							</div>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade in active" id="rincian1">
								<div class="row">
									<div class="col-md-11">
										<div class="table-responsive" style="overflow:auto;">
											<div>
												<table class="table table-striped table-hover" id="daftar-rincian1" style="width:2000px;">
													<thead>
														<tr>
															<th rowspan="2"></th>
															<th rowspan="2">No.Status Guna</th>
															<th rowspan="2">Kd.Barang</th>
															<th rowspan="2">Kode Neraca</th>
															<th rowspan="2">Nama Barang</th>
															<th rowspan="2">Merk / Alamat / Jenis</th>
															<th colspan="2">Ruangan</th>
															<th rowspan="2">Qty</th>
															<th rowspan="2">H.Tot+Pajak</th>
															<th rowspan="2">Tipe</th>
															<th rowspan="2">Keterangan</th>
															<th rowspan="2">Nopol</th>
															<th rowspan="2">Thn.Pengadaan</th>
														</tr>
														<tr>
															<th class="center">Kode</th>
															<th class="center">Nama</th>
														</tr>
													</thead>
													<tbody>
														
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade in" id="rincian2">
								<div class="row">
									<div class="col-md-11">
										<div class="table-responsive" style="overflow:auto;">
											<div>
												<table class="table table-striped table-hover" id="daftar-rincian2" style="width:2000px;">
													<thead>
														<tr>
															<th rowspan="2"></th>
															<th rowspan="2">No.Regs Induk</th>
															<th rowspan="2">Kd.Barang</th>
															<th rowspan="2">Kode Neraca</th>
															<th rowspan="2">Nama Barang</th>
															<th rowspan="2">Merk / Alamat / Jenis</th>
															<th colspan="2" class="center">Ruangan</th>
															<th rowspan="2">Qty</th>
															<th rowspan="2">H.Tot+Pajak</th>
															<th rowspan="2">Tipe</th>
															<th rowspan="2">Keterangan</th>
															<th rowspan="2">Nopol</th>
															<th rowspan="2">Thn.Pengadaan</th>
														</tr>
														<tr>
															<th >Kode</th>
															<th >Nama</th>
														</tr>
													</thead>
													<tbody>
														
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade in" id="rincian3">
								<div class="row">
									<div class="col-md-11">
										<div class="table-responsive" style="overflow:auto;">
											<div>
												<table class="table table-striped table-hover" id="daftar-rincian3" style="width:2000px;">
													<thead>
														<tr>
															<th></th>
															<th>No.Regs Induk</th>
															<th>Kd.Barang</th>
															<th>Kode Neraca</th>
															<th>Nama Barang</th>
															<th>Merk / Alamat / Jenis</th>
															<th>Nilai KDP</th>
															<th>Nilai Mnrt Kontrak</th>
															<th>Tipe</th>
															<th>Qty</th>
															<th>Keterangan</th>
															<th>Nopol</th>
															<th>Thn.Pengadaan</th>
														</tr>
													</thead>
													<tbody>
														
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade in" id="rincian4">
								<div class="row">
									<div class="col-md-11">
										<div class="table-responsive" style="overflow:auto;">
											<div>
												<table class="table table-striped table-hover" id="daftar-rincian4" style="width:2000px;">
													<thead>
														<tr>
															<th></th>
															<th>Uraian</th>
															<th>Merk / Alamat / Jenis</th>
															<th>Tipe</th>
															<th>Qty</th>
															<th>H.Tot+Pajak</th>
															<th>Keterangan</th>
														</tr>
													</thead>
													<tbody>
														
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade in" id="rincian5">
								<div class="row">
									<div class="col-md-11">
										<div class="table-responsive" style="overflow:auto;">
											<div>
												<table class="table table-striped table-hover" id="daftar-rincian5" style="width:2000px;">
													<thead>
														<tr>
															<th></th>
															<th>Uraian</th>
															<th>Merk / Alamat / Jenis</th>
															<th>Tipe</th>
															<th>Qty</th>
															<th>H.Tot+Pajak</th>
															<th>Keterangan</th>
														</tr>
													</thead>
													<tbody>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade in" id="rincian6">
								<div class="row">
									<div class="col-md-11">
										<div class="table-responsive" style="overflow:auto;">
											<div>
												<table class="table table-striped table-hover" id="daftar-rincian6" style="width:2000px;">
													<thead>
														<tr>
															<th></th>
															<th>Uraian</th>
															<th>Merk / Alamat / Jenis</th>
															<th>Tipe</th>
															<th>Qty</th>
															<th>H.Tot+Pajak</th>
															<th>Keterangan</th>
														</tr>
													</thead>
													<tbody>
														
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade in" id="pembayaran">
						<div class="row">
							<div class="col-xs-2">
								<button id="sync" type="button" class="btn btn-primary"><span><i class="icon-refresh"></i></span> Checking</button>
							</div>
							<div class="col-xs-6">
								<input type="text" class="form-control" name="no_spm_input">
							</div>
						</div>
						<div class="row">
							<div class="col-md-11">
								<div class="table-responsive" style="overflow:auto;">
									<div>
										<table class="table table-striped table-hover" id="rincian-pembayaran" style="width:2000px;">
											<thead>
												<tr>
													<th>No.SP2D</th>
													<th>No.SPM</th>
													<th>Nilai SPM/SPMU</th>
													<th>Kode Rek</th>
													<th>Uraian Belanja</th>
													<th>Termin Ke</th>
													<th>Tahun</th>
													<th>Keterangan</th>
												</tr>
											</thead>
											<tbody>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-2">
					<div class="row">
						<button id="submit" class="btn btn-success" type="button">Simpan</button>
					</div>
				</div>	
			</div>	
		</div>		
	</div>
{{ form_close() | raw }}
{% endblock %}


{% block stylesheets %}
	{{ parent() }}

	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/datepicker3.css") }}" />
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/devexpress-like/jquery-ui.css") }}" />
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/select2.css") }}" />
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/typeahead.css") }}" />
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/jquery.loadmask.css") }}" />

	<style type="text/css">
		#sync{
			margin-top: 10px !important;
		}
		.control-label{
			padding-top: 8px !important;
		}

		select.form-control {
			height: 48px !important;
		}

		input.form-control {
			height: 34px !important;
		}

		textarea.form-control {
			height:auto !important;
		}

		.row {
			padding:10px 0px;
		}

		.spacer {
		    margin-top: 20px;
		}

		.modal {
			overflow-y: hidden;
		}

		.ui-autocomplete{
			background: none repeat scroll 0 0 white;
		}

		.input-group-addon{
			border-radius: 0 !important;
		}

		.input-group .form-control{
			z-index: 0; !important;
		}

		.modal-body {
			overflow-y:auto; 
			height:350px;
		}

		hr {
			border-color: #ccc;
		}

		ul[id*=no_spk_sp_dokumen]:parent {
			width: 800px !important;
		}

		.select2-selection__rendered {
			height: 28px;
		}

		tr > th:first-child {
			width: 75px;
		}
	</style>
{% endblock %}


{% block scripts %}
	{{ parent() }}

	<script type="text/javaScript" src="{{ base_url("assets/js/bootstrap-datepicker.js") }}"></script>
	<script type="text/javaScript" src="{{ base_url("assets/js/accounting.min.js") }}"></script>
	<script type="text/javaScript" src="{{ base_url("assets/js/jquery.validate.min.js") }}"></script>
	<script type="text/javaScript" src="{{ base_url("assets/js/select2.js") }}"></script>
	<script type="text/javaScript" src="{{ base_url("assets/js/typeahead.js") }}"></script>
	<script type="text/javaScript" src="{{ base_url("assets/js/jquery.loadmask.min.js") }}"></script>
	<script type="text/javaScript" src="{{ base_url("assets/js/common.js") }}"></script>
	<script type="text/javaScript" src="{{ base_url("assets/js/base64.js") }}"></script>

	<script type="text/javascript">
		var guid = (function() {
			function s4() {
			  	return Math.floor((1 + Math.random()) * 0x10000)
					.toString(16)
					.substring(1);
			}
			return function() {
			  return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
					 s4() + '-' + s4() + s4() + s4();
			};
		  })();
	</script>

	<script type="text/javascript">
		jQuery(function($) {
			var pembayaran = []; // storage fetch get_pembayaran
			var header = false;

			if (!String.prototype.format) {
				String.prototype.format = function() {
					var args = arguments;
					return this.replace(/{(\d+)}/g, function(match, number) { 
						return typeof args[number] != 'undefined' ? args[number] : match;
					});
				};
			}

			if (!String.prototype.startsWith) {
				String.prototype.startsWith = function(prefix) {
				    return this.indexOf(prefix) === 0;
				}
			}



			// configure setting accounting.js
			accounting.settings = {
				number: {
					precision : 0,  // default precision on numbers is 0
					thousand: ",",
					decimal : "."
				}
			}

			var n = function(v, p) {
				return accounting.formatNumber(v, p);
			}

			var u = function(v) {
				return accounting.unformat(v);
			}



			$("select[name=jenispengadaan]").select2();
			$("*[datepicker]").datepicker();



			/* ==================== tabs ==================== */
			$("#wp.nav-tabs a[data-toggle=tab]").on("click", function(e) {
				if ($(e.currentTarget).attr("href") == "#spk") {
					if ($("form#frmMain").valid()) {
						$(e.currentTarget).removeAttr("disabled");
					}
				}

				if ($(this).attr("disabled") !== undefined) {
					alert("Simpan data terlebih dahulu agar dapat mengisi spk atau rincian atau pembayaran");
					e.preventDefault();
					return false;
				}
			}).on('shown.bs.tab', function (e) {
				var jptgl = $("input[name=jptgl]");

				if ($(e.currentTarget).attr("href") == "#spk") {
					//populate SPK
					reload_kegiatan(function() {
						$("select[name=no_spk_sp_dokumen]").select2({
							ajax: {
								url: '{{ site_url("spk/find_range_by_term") }}',
								type: "POST",
								dataType: "json",
								data: function(params) {
									return {
										tahun: jptgl.val().split("-").pop(),
										nomor_lokasi: $("select[name=jpnomorlokasi]").val(),
										term: params.term
									}
								},
								processResults: function(json) {
									return {
										results: _.map(json.data, function(i) {
											return {
												id: i.ID_KONTRAK,
												data: i
											}
										})
									}
								}
							},
							templateResult: function(i) {
								if (i.loading) return i.text
								return "<div class='row'><div class='col-xs-6'>" + i.data.NO_SPK_SP_DOKUMEN + "</div><div class='col-xs-6'>" + i.data.REKANAN + "</div></div>";
							},
							templateSelection: function(i) {
								var nomor_lokasi = $("select[name=jpnomorlokasi]").val();
								var nomor_sub_unit = nomor_lokasi.substring(0, nomor_lokasi.length - 3);

								if (i.data != undefined) {
									$("input[name=rekanan]").val(i.data.REKANAN);
									$("input[name=nilai_spk]").val(n(i.data.NILAI_SPK));
									$("input[name=tgl_spk_sp_dokumen]").val(i.data.TGL_SPK_SP_DOKUMEN);
									$("textarea[name=deskripsi_spk_dokumen]").text(i.data.DESKRIPSI_SPK_DOKUMEN);
									$("select[name=kode_kegiatan]").val(i.data.ID_KEGIATAN.substring(nomor_sub_unit.length, i.data.ID_KEGIATAN.length-4)).trigger("change");

									var thn = i.data.TGL_SPK_SP_DOKUMEN.split("-").shift();

									$("input[name=id_kontrak][type=hidden]").val(i.data.NO_SPK_SP_DOKUMEN + thn + nomor_sub_unit);

									var opt = $(i.element);
									opt.attr("rekanan", i.data.REKANAN);
									opt.attr("nilai_spk", i.data.NILAI_SPK);
									opt.attr("tgl_spk_sp_dokumen", i.data.TGL_SPK_SP_DOKUMEN);
									opt.attr("deskripsi_spk_dokumen", i.data.DESKRIPSI_SPK_DOKUMEN);
									opt.attr("no_spk_sp_dokumen", i.data.NO_SPK_SP_DOKUMEN + thn + nomor_lokasi);
									opt.attr("id_kegiatan", i.data.ID_KEGIATAN);

									return i.data.NO_SPK_SP_DOKUMEN;
								} else {
									var el = $(i.element);

									$("input[name=rekanan]").val(el.attr("rekanan"));
									$("input[name=nilai_spk]").val(n(el.attr("nilai_spk")));
									$("input[name=tgl_spk_sp_dokumen]").val(el.attr("tgl_spk_sp_dokumen"));
									$("textarea[name=deskripsi_spk_dokumen]").text(el.attr("deskripsi_spk_dokumen"));

									
									var id_kegiatan = el.attr("id_kegiatan");
									
									$("select[name=kode_kegiatan]").val(id_kegiatan.substring(nomor_sub_unit.length, id_kegiatan.length-4)).trigger("change");

									var thn = el.attr("tgl_spk_sp_dokumen").split("-").shift();

									$("input[name=id_kontrak][type=hidden]").val(el.attr("no_spk_sp_dokumen") + thn + nomor_sub_unit);

									return el.attr("no_spk_sp_dokumen");
								}
							}
						});
					});
				}
			});



			//menampilkan list SKPD
			$.get("{{ site_url('aset/get_all_lokasi') }}", {}, function(json){ 
				var listSkpd = json.result;
				
				$.each(listSkpd, function (key, value) {
					$("select[name=jpnomorlokasi]").append($('<option></option>').val(value.NOMOR_LOKASI).html(value.LOKASI));
				});

				$("select[name=jpnomorlokasi]").val("{{ data.jpnomorlokasi }}");
				$("select[name=jpnomorlokasi]").select2();
				reload_kegiatan();
			}, "json");



			// event onchange select skpd dan tahun kegiatan
			$("select[name=jpnomorlokasi]").change(function() {
				reload_kegiatan();
			});



			var reload_kegiatan = function(callback) {
				var jpnomorlokasi = $("select[name=jpnomorlokasi]").val();
				var jptgl = $("input[name=jptgl]").val();

				$.post("{{ site_url('spk/get_list_kegiatan_by_nomor_lokasi') }}", {
					nomor_lokasi: jpnomorlokasi,
					tahun_spj: jptgl.split("-").pop()
				}, function(json){ 
					var data = json.data;
					var el = $("select[name=kode_kegiatan]");

					el.empty();
					el.append("<option value=''>Pilih Kegiatan</option>");
					for (var i=0; i<data.length; i++) {
						var k = data[i];
						el.append("<option value='{0}'>{1}</option>".format(k.KODE_KEGIATAN, k.NAMA_KEGIATAN));
					}

					el.select2();

					if (callback !== undefined) {
						callback();
					}
				}, "json");
			}



			function formatSubSubKel (d) {				
				var el = $(d.element);
				var r = [];
				
				if ($(".select2-results__options li").find("[header]").length <= 0 && !header) {
					r.push([
						'<div header class="row" style="width:100%; font-weight:bold; color:#000000;">',
							'<div class="col-xs-1">',
								'KODE',
							'</div>',
							'<div class="col-xs-2">',
								'SUB SUB KEL',
							'</div>',
							'<div class="col-xs-2">',
								'SUB KEL',
							'</div>',
							'<div class="col-xs-2">',
								'KELOMPOK',
							'</div>',
							'<div class="col-xs-1">',
								'BIDANG',
							'</div>',
							'<div class="col-xs-1">',
								'GOLONGAN',
							'</div>',
						'</div>',
					].join(""));
					header = true;
				}

				r.push([
					'<div class="row" style="width:100%;">',
						'<div class="col-xs-1">',
							d.KODE_SUB_SUB_KELOMPOK,
						'</div>',
						'<div class="col-xs-2">',
							d.DESKRIPSI,
						'</div>',
						'<div class="col-xs-2">',
							d.NAMA_SUB_KELOMPOK,
						'</div>',
						'<div class="col-xs-2">',
							d.NAMA_KELOMPOK,
						'</div>',
						'<div class="col-xs-1">',
							d.NAMA_BIDANG,
						'</div>',
						'<div class="col-xs-1">',
							d.NAMA_GOLONGAN,
						'</div>',
					'</div>',
				].join(""));

				return r;
			};

			function formatSelection(e) {
				var root = $(e.element).closest(".modal-body");
				
				if (e.KODE_SUB_KEL_AT !== undefined)
					root.find("input[name=kbkoderekneraca]").val(e.KODE_SUB_KEL_AT);
				if (e.DESKRIPSI !== undefined)
					root.find("input[name=kbnamabarang]").val(e.DESKRIPSI);

				return e.KODE_SUB_SUB_KELOMPOK || e.text;
			}

			$("#pilihan").on('show.bs.modal', function (e) {
				$("#pilihan").find("input[name=optradio]").prop('checked', false);
			})



			// logic pilihan
			$(".tambah-mutasi").click(function() {
				function cbPopulateKodeSubSubKel(tipe, callback) {
					var root = $("#" + tipe);
					var kbkodesubsubkel = root.find("select[name=kbkodesubsubkel]");

					kbkodesubsubkel.unbind().select2({
						ajax: {
							url: "{{ site_url('pengadaan/autocomplete_sub_sub_kel') }}",
							dataType: 'json',
							delay: 250,
							data: function (params) {
								return {
									tipe:tipe,
									q:params.term,
									page: params.page
								};
							},
							processResults: function (response, page) {
								return {
									results: response.data
								};
							}
						},
						escapeMarkup: function (markup) { return markup; },
						minimumInputLength: 1,
						templateResult: formatSubSubKel, // omitted for brevity, see the source of this page
						templateSelection: formatSelection
					});
						
					callback();
				}

				function clearInput(el) {
					el.find("input, select, textarea").val("");
					el.find("input[type=checkbox]").prop("checked", false);

					el.find("input[name='kbjumlah'], input[name='kbhargasatuan'], input[name='kbhargatotal'], input[name='kbhargatotalpajak']").val(u(0));

					el.find(".modal-body").animate({scrollTop:0});
				}

				function applyInputEvents(root) {
					root.find("input[name=kbjumlah], input[name=kbhargasatuan], input[name=kbhargatotal]").unbind("keyup").on("keyup", function() {
						var kbjumlah = root.find("input[name=kbjumlah]");
						var kbhargasatuan = root.find("input[name=kbhargasatuan]");
						var kbhargatotal = root.find("input[name=kbhargatotal]");

						kbhargatotal.val(n(u(kbjumlah.val()) * u(kbhargasatuan.val())));
					});

					root.find("input[name=kbjumlah], input[name=kbhargasatuan], input[name=kbhargatotal], input[name=kbhargatotalpajak]").unbind("blur").on("blur", function() {
						$(this).val(n(u($(this).val())));
					}).unbind("focus").on("focus", function() {
						$(this).val(u($(this).val()));
					});
				}


				var kode_kib = $('input[name="optradio"]:checked').val();

				if (kode_kib >= 1 && kode_kib <= 16) {
					$("#pilihan").modal('hide');
				}

				function populateAset(tipe, callback) {
					var root = $("#" + tipe);

					$("select[name=jenis_aset]").change(function() {
						var jenis_aset = root.find("select[name=jenis_aset]").val();
						var nama_aset = root.find("select[name=nama_aset]").val();
						var nomor_sub_unit = ($("select[name=jpnomorlokasi]").val()).substr(0, 14);

						var a = $("select[name=nama_aset]");

						$.post("{{ site_url('aset/get_aset') }}", {jenis_kib: jenis_aset, nomor_sub_unit: nomor_sub_unit}, function(r) {
							var data = r.data;
							a.empty();
							for (var i = 0; i < data.length; i++) {
								var b = data[i];
								a.append("<option value='" + b.ID + "'>" + b.KETERANGAN + "</option>");
							}
						}, "json");

					});

					callback();
				}
				
				switch (kode_kib|0) {
					case 1:
						setTimeout(function() {
							var root = $("#1a");
							var content = root.find(".modal-content");

							root.removeData("kbid");
							root.unbind().on('shown.bs.modal', function () {
								content.mask("Loading...");

								clearInput(root);

								applyInputEvents(root);

								cbPopulateKodeSubSubKel("1a", function() {
									content.unmask();
								});
							})

							$('#1a').modal('show');
						}, 1000);
						break;
					case 2:
						setTimeout(function() {
							var root = $("#1b");
							var content = root.find(".modal-content");

							root.removeData("kbid");
							root.unbind().on('shown.bs.modal', function () {
								content.mask("Loading...");

								clearInput(root);

								applyInputEvents(root);

								cbPopulateKodeSubSubKel("1b", function() {
									content.unmask();
								});
							})

							$('#1b').modal('show');
						}, 1000);
						break;
					case 3:
						setTimeout(function() {
							var root = $("#1c");
							var content = root.find(".modal-content");

							root.removeData("kbid");
							root.unbind().on('shown.bs.modal', function () {
								content.mask("Loading...");

								clearInput(root);

								applyInputEvents(root);

								cbPopulateKodeSubSubKel("1c", function() {
									content.unmask();
								});
							})

							$('#1c').modal('show');
						}, 1000);
						break;
					case 4:
						setTimeout(function() {
							var root = $("#1d");
							var content = root.find(".modal-content");

							root.removeData("kbid");
							root.unbind().on('shown.bs.modal', function () {
								content.mask("Loading...");

								clearInput(root);

								applyInputEvents(root);

								cbPopulateKodeSubSubKel("1d", function() {
									content.unmask();
								});
							})

							$('#1d').modal('show');
						}, 1000);
						break;
					case 5:
						setTimeout(function() {
							var root = $("#1e");
							var content = root.find(".modal-content");

							root.removeData("kbid");
							root.unbind().on('shown.bs.modal', function () {
								content.mask("Loading...");

								clearInput(root);

								applyInputEvents(root);

								cbPopulateKodeSubSubKel("1e", function() {
									content.unmask();
								});
							})

							$('#1e').modal('show');
						}, 1000);
						break;
					case 6:
						setTimeout(function() {
							var root = $("#1f");
							var content = root.find(".modal-content");

							root.removeData("kbid");
							root.unbind().on('shown.bs.modal', function () {
								content.mask("Loading...");

								clearInput(root);

								applyInputEvents(root);

								cbPopulateKodeSubSubKel("1f", function(el) {
									content.unmask();
								});
							})

							$('#1f').modal('show');
						}, 1000);
						break;
					case 7:
						setTimeout(function() {
							var root = $("#1g");
							var content = root.find(".modal-content");

							root.removeData("kbid");
							root.unbind().on('shown.bs.modal', function () {
								content.mask("Loading...");

								clearInput(root);

								applyInputEvents(root);

								cbPopulateKodeSubSubKel("1g", function() {
									content.unmask();
								});
							})

							$('#1g').modal('show');
						}, 1000);
						break;
					case 8:
						setTimeout(function() {
							var root = $("#1h");
							var content = root.find(".modal-content");

							root.removeData("kbid");
							root.unbind().on('shown.bs.modal', function () {
								content.mask("Loading...");

								clearInput(root);

								applyInputEvents(root);

								cbPopulateKodeSubSubKel("1h", function() {
									content.unmask();
								});
							})

							$('#1h').modal('show');
						}, 1000);
						break;
					case 9:
						setTimeout(function() {
							var root = $("#1i");
							var content = root.find(".modal-content");

							root.removeData("kbid");
							root.unbind().on('shown.bs.modal', function () {
								content.mask("Loading...");

								clearInput(root);

								applyInputEvents(root);

								cbPopulateKodeSubSubKel("1i", function() {
									content.unmask();
								});
							})

							$('#1i').modal('show');
						}, 1000);
						break;
					case 10:
						setTimeout(function() {
							var root = $("#1j");
							var content = root.find(".modal-content");

							root.removeData("kbid");
							root.unbind().on('shown.bs.modal', function () {
								content.mask("Loading...");

								clearInput(root);

								applyInputEvents(root);

								cbPopulateKodeSubSubKel("1j", function() {
									content.unmask();
								});

								populateAset("1j", function () {
									content.unmask();
								});
							})

							$('#1j').modal('show');
						}, 1000);
						break;
					case 11:
						setTimeout(function() {
							$('#2a').modal('show');
						}, 1000);
						break;
					case 12:
						setTimeout(function() {
							$('#2b').modal('show');
						}, 1000);
						break;
					case 13:
						setTimeout(function() {
							$('#2c').modal('show');
						}, 1000);
						break;
					case 14:
						setTimeout(function() {
							$('#3a').modal('show');
						}, 1000);
						break;
					case 15:
						setTimeout(function() {
							$('#3b').modal('show');
						}, 1000);
						break;
					case 16:
						setTimeout(function() {
							$('#3c').modal('show');
						}, 1000);
						break;
					default:
						alert("Pilih salah satu jenis aset di atas!");
				}	
			});


			/* ==================== validation ==================== */
			$("form#frmMain").validate({
				rules: {
					jpnomorlokasi: {
						required: true
					},
					jptgl: {
						required: true
					}
				},
				messages: {
					jpnomorlokasi: {
						required: "SKPD harus dipilih!"
					},
					jptgl: {
						required: "Tgl.Jurnal harus dipilih!"
					}
				},
				errorLabelContainer: "#error",
				ignore: []
			});


			var get_rincian1 = function() {
				$("#rincian1").mask("Loading...");
				$.get("{{ site_url("pengadaan/get_rincian_1/" ~ id) }}", {}, function(response) {
					var data = response.data;
					var tbody = $("#rincian1").find("tbody");
					
					tbody.empty();
					for (var i = 0; i < data.length; i++) {
						var d = data[i];
						tbody.append(
							[
								"<tr>",
									"<td>",
										"<a edit kbid=" + d.kbid + " kbkoderekneraca=" + d.kbkoderekneraca + " title='Edit' style='padding: 0 10px;'>",
											"<span class='glyphicon glyphicon-pencil'></span>",
										"</a>",
										"&nbsp;",
										"<a delete kbid=" + d.kbid + " title='Hapus' style='padding: 0 10px;'>",
											"<span class='glyphicon glyphicon-trash'></span>",
										"</a>",
									"</td>",
									"<td>" + d.kbstatusguna + "</td>",
									"<td>" + d.kbkodesubsubkel + "</td>",
									"<td>" + d.kbkoderekneraca + "</td>",
									"<td>" + d.kbnamabarang + "</td>",
									"<td>" + d.kbalamat + "</td>",
									"<td>" + d.kbkoderuangan + "</td>",
									"<td></td>",
									"<td>" + d.kbjumlah + "</td>",
									"<td>" + d.kbhargatotalpajak + "</td>",
									"<td>" + d.kbtipe + "</td>",
									"<td>" + d.kbketerangan + "</td>",
									"<td>" + d.kbnopolisi + "</td>",
									"<td></td>",
								"</tr>"
							].join("")
						);
					}

					$("#rincian1").unmask();

					tbody.find("a[edit]").click(function() {
						var kbid = $(this).attr("kbid");
						var kbkoderekneraca = $(this).attr("kbkoderekneraca");
						var kbjenisaset = $(this).attr("kbjenisaset");

						function cbLoadDetail(tipe, callback) {
							var root = $("#" + tipe);

							root.data("kbid", kbid);

							$.get("{{ site_url("pengadaan/get_detail_by_id") }}", {kbid:kbid}, function(response) {
								var data = response.data;

								// clean input
								root.find("input, select, textarea").val("");
								root.find("input[type=checkbox]").prop("checked", false);

								root.find(".modal-body").animate({scrollTop:0});


								// set data after populate autocomplete loaded
								for (var prop in data) {
									_.each(root.find("input[name=" + prop + "], select[name=" + prop + "], textarea[name=" + prop + "]"), function(e) {
										switch($(e).prop('tagName')) {
											case "INPUT":
											case "TEXTAREA":
												$(e).val(data[prop]);
												break;
											case "SELECT":
												$(e).append("<option value='" + data[prop] + "'>" + data[prop] + "</option>").val(data[prop]);
												break;
										}
									});
								}

								

								if (data.kbpajak === "1") {
									root.find("input[type=checkbox][name=kbpajak]").prop("checked", true);
								}

								callback(data);
							}, "json");
						}

						function cbPopulateKodeSubSubKel(tipe, callback) {
							var root = $("#" + tipe);
							var kbkodesubsubkel = root.find("select[name=kbkodesubsubkel]");

							kbkodesubsubkel.unbind().select2({
								ajax: {
									url: "{{ site_url('pengadaan/autocomplete_sub_sub_kel') }}",
									dataType: 'json',
									delay: 250,
									data: function (params) {
										return {
											tipe:tipe,
											q:params.term,
											page: params.page
										};
									},
									processResults: function (response, page) {
										return {
											results: response.data
										};
									}
								},
								escapeMarkup: function (markup) { return markup; },
								minimumInputLength: 1,
								templateResult: formatSubSubKel, // omitted for brevity, see the source of this page
								templateSelection: formatSelection
							});

							callback();
						}


						if (kbkoderekneraca.startsWith("1.3.1") && kbjenisaset == "A") {
							var root = $("#1a");
							var content = root.find(".modal-content");
							var kbkodesubsubkel = root.find("select[name=kbkodesubsubkel]");

							root.unbind().on('shown.bs.modal', function () { 
								content.mask("Loading...");

								var tipe = "1a";

								cbLoadDetail(tipe, function(data) {
									cbPopulateKodeSubSubKel(tipe, function() {
										content.unmask();
									});
								})
								
							}).modal('show');
						} else if (kbkoderekneraca.startsWith("1.3.2") && kbjenisaset == "A") {
							var tmp = kbkoderekneraca.split(".");
							if (tmp.length >= 3) {
								var c = tmp[3]|0;
								if (c >= 1 && c <= 6) {
									var root = $("#1c");
									var content = root.find(".modal-content");
									var kbkodesubsubkel = root.find("select[name=kbkodesubsubkel]");

									root.unbind().on('shown.bs.modal', function () { 
										content.mask("Loading...");

										var tipe = "1c";

										cbLoadDetail(tipe, function(data) {
											cbPopulateKodeSubSubKel(tipe, function() {
												content.unmask();
											});
										});
									}).modal('show');
								} else {
									var root = $("#1b");
									var content = root.find(".modal-content");
									var kbkodesubsubkel = root.find("select[name=kbkodesubsubkel]");

									root.unbind().on('shown.bs.modal', function () { 
										content.mask("Loading...");

										var tipe = "1b";

										cbLoadDetail(tipe, function(data) {
											cbPopulateKodeSubSubKel(tipe, function() {
												content.unmask();
											});
										});
									}).modal('show');
								}
							}
						} else if (kbkoderekneraca.startsWith("1.3.3") && kbjenisaset == "A") {
							var root = $("#1d");
							var content = root.find(".modal-content");
							var kbkodesubsubkel = root.find("select[name=kbkodesubsubkel]");

							root.unbind().on('shown.bs.modal', function () { 
								content.mask("Loading...");

								var tipe = "1d";

								cbLoadDetail(tipe, function(data) {
									cbPopulateKodeSubSubKel(tipe, function() {
										content.unmask();
									});
								});
							}).modal('show');
						} else if (kbkoderekneraca.startsWith("1.3.4") && kbjenisaset == "A") {
							var root = $("#1e");
							var content = root.find(".modal-content");
							var kbkodesubsubkel = root.find("select[name=kbkodesubsubkel]");

							root.unbind().on('shown.bs.modal', function () { 
								content.mask("Loading...");

								var tipe = "1e";

								cbLoadDetail(tipe, function(data) {
									cbPopulateKodeSubSubKel(tipe, function() {
										content.unmask();
									});
								});
							}).modal('show');
						} else if (kbkoderekneraca.startsWith("1.3.5.01") && kbjenisaset == "A") {
							var root = $("#1f");
							var content = root.find(".modal-content");
							var kbkodesubsubkel = root.find("select[name=kbkodesubsubkel]");

							root.unbind().on('shown.bs.modal', function () { 
								content.mask("Loading...");

								var tipe = "1f";
								
								cbLoadDetail(tipe, function(data) {
									cbPopulateKodeSubSubKel(tipe, function() {
										content.unmask();
									});
								});
							}).modal('show');
						} else if (kbkoderekneraca.startsWith("1.3.5.02") && kbjenisaset == "A") {
							var root = $("#1g");
							var content = root.find(".modal-content");
							var kbkodesubsubkel = root.find("select[name=kbkodesubsubkel]");

							root.unbind().on('shown.bs.modal', function () { 
								content.mask("Loading...");

								var tipe = "1g";

								cbLoadDetail(tipe, function(data) {
									cbPopulateKodeSubSubKel(tipe, function() {
										content.unmask();
									});
								});
							}).modal('show');
						} else if (kbkoderekneraca.startsWith("1.3.5.03") && kbjenisaset == "A") {
							var root = $("#1h");
							var content = root.find(".modal-content");
							var kbkodesubsubkel = root.find("select[name=kbkodesubsubkel]");

							root.unbind().on('shown.bs.modal', function () { 
								content.mask("Loading...");

								var tipe = "1h";

								cbLoadDetail(tipe, function(data) {
									cbPopulateKodeSubSubKel(tipe, function() {
										content.unmask();
									});
								});
							}).modal('show');
						} else if (kbkoderekneraca.startsWith("1.5.4") && kbjenisaset == "A") {
							var root = $("#1i");
							var content = root.find(".modal-content");
							var kbkodesubsubkel = root.find("select[name=kbkodesubsubkel]");

							root.unbind().on('shown.bs.modal', function () { 
								content.mask("Loading...");

								var tipe = "1i";

								cbLoadDetail(tipe, function(data) {
									cbPopulateKodeSubSubKel(tipe, function() {
										content.unmask();
									});
								});
							}).modal('show');
						} else if (kbkoderekneraca.startsWith("1.3") && kbjenisaset == "R") {
							var root = $("#1j");
							var content = root.find(".modal-content");
							var kbkodesubsubkel = root.find("select[name=kbkodesubsubkel]");

							root.unbind().on('shown.bs.modal', function () { 
								content.mask("Loading...");

								var tipe = "1j";

								cbLoadDetail(tipe, function(data) {
									cbPopulateKodeSubSubKel(tipe, function() {
										content.unmask();
									});
								});
							}).modal('show');
						} else if ( kbjenisaset == "J") {
							var root = $("#2a");
							var content = root.find(".modal-content");

							root.unbind().on('shown.bs.modal', function () { 
								content.mask("Loading...");

								var tipe = "2a";

							}).modal('show');
						} else if ( kbjenisaset == "H") {
							var root = $("#2b");
							var content = root.find(".modal-content");

							root.unbind().on('shown.bs.modal', function () { 
								content.mask("Loading...");

								var tipe = "2b";

							}).modal('show');
						} else if ( kbjenisaset == "B") {
							var root = $("#2c");
							var content = root.find(".modal-content");

							root.unbind().on('shown.bs.modal', function () { 
								content.mask("Loading...");

								var tipe = "2c";

							}).modal('show');
						}
					});

					tbody.find("a[delete]").click(function(e) {
						if (!confirm("Apakah Anda yakin?")) {
							e.preventDefault();
							return;
						}

						var kbid = $(this).attr("kbid");

						$.post("{{ site_url('pengadaan/delete_by_kbid') }}", {kbid:kbid}, function(response){ 
							var success = response.success > 0 ? true : false;
							if (success) {
								get_rincian1();
							} else {
								alert("Data gagal dihapus");
							}
						}, "json");
					});
				}, "json");
			}

			var get_rincian2 = function() {
				$("#rincian2").mask("Loading...");
				$.get("{{ site_url("pengadaan/get_rincian_2/" ~ id) }}", {}, function(response) {
					var data = response.data;
					var tbody = $("#rincian2").find("tbody");
					
					tbody.empty();
					for (var i = 0; i < data.length; i++) {
						var d = data[i];
						tbody.append(
							[
								"<tr>",
									"<td>",
										"<a edit kbid=" + d.kbid + " kbkoderekneraca=" + d.kbkoderekneraca + " title='Edit' style='padding: 0 10px;'>",
											"<span class='glyphicon glyphicon-pencil'></span>",
										"</a>",
										"&nbsp;",
										"<a delete kbid=" + d.kbid + " title='Hapus' style='padding: 0 10px;'>",
											"<span class='glyphicon glyphicon-trash'></span>",
										"</a>",
									"</td>",
									"<td>" + d.kbstatusguna + "</td>",
									"<td>" + d.kbkodesubsubkel + "</td>",
									"<td>" + d.kbkoderekneraca + "</td>",
									"<td>" + d.kbnamabarang + "</td>",
									"<td>" + d.kbalamat + "</td>",
									"<td>" + d.kbkoderuangan + "</td>",
									"<td></td>",
									"<td>" + d.kbjumlah + "</td>",
									"<td>" + d.kbhargatotalpajak + "</td>",
									"<td>" + d.kbtipe + "</td>",
									"<td>" + d.kbketerangan + "</td>",
									"<td>" + d.kbnopolisi + "</td>",
									"<td></td>",
								"</tr>"
							].join("")
						);
					}

					$("#rincian2").unmask();
				}, "json");
			}

			var get_rincian3 = function() {
				$("#rincian3").mask("Loading...");
				$.get("{{ site_url("pengadaan/get_rincian_3/" ~ id) }}", {}, function(response) {
					var data = response.data;
					var tbody = $("#rincian3").find("tbody");
					
					tbody.empty();
					for (var i = 0; i < data.length; i++) {
						var d = data[i];
						tbody.append(
							[
								"<tr>",
									"<td>",
										"<a edit kbid=" + d.kbid + " kbkoderekneraca=" + d.kbkoderekneraca + " title='Edit' style='padding: 0 10px;'>",
											"<span class='glyphicon glyphicon-pencil'></span>",
										"</a>",
										"&nbsp;",
										"<a delete kbid=" + d.kbid + " title='Hapus' style='padding: 0 10px;'>",
											"<span class='glyphicon glyphicon-trash'></span>",
										"</a>",
									"</td>",
									"<td>" + d.kbstatusguna + "</td>",
									"<td>" + d.kbkodesubsubkel + "</td>",
									"<td>" + d.kbkoderekneraca + "</td>",
									"<td>" + d.kbnamabarang + "</td>",
									"<td>" + d.kbalamat + "</td>",
									"<td>" + d.kbhargatotalpajak + "</td>",
									"<td>" + d.kbnilaitotalkontrak + "</td>",
									"<td>" + d.kbtipe + "</td>",
									"<td>" + d.kbjumlah + "</td>",
									"<td>" + d.kbketerangan + "</td>",
									"<td>" + d.kbnopolisi + "</td>",
									"<td>" + d.kbtahun + "</td>",
									"<td></td>",
								"</tr>"
							].join("")
						);
					}

					$("#rincian3").unmask();
				}, "json");
			}

			var get_rincian4 = function() {
				$("#rincian4").mask("Loading...");
				$.get("{{ site_url("pengadaan/get_rincian_4/" ~ id) }}", {}, function(response) {
					var data = response.data;
					var tbody = $("#rincian4").find("tbody");
					
					tbody.empty();
					for (var i = 0; i < data.length; i++) {
						var d = data[i];
						tbody.append(
							[
								"<tr>",
									"<td>",
										"<a edit kbid=" + d.kbid + " kbnamabarang=" + d.kbnamabarang + " title='Edit' style='padding: 0 10px;'>",
											"<span class='glyphicon glyphicon-pencil'></span>",
										"</a>",
										"&nbsp;",
										"<a delete kbid=" + d.kbid + " title='Hapus' style='padding: 0 10px;'>",
											"<span class='glyphicon glyphicon-trash'></span>",
										"</a>",
									"</td>",
									"<td>" + d.kbnamabarang + "</td>",
									"<td>" + d.kbalamat + "</td>",
									"<td>" + d.kbtipe + "</td>",
									"<td>" + d.kbjumlah + "</td>",
									"<td>" + d.kbhargatotalpajak + "</td>",
									"<td>" + d.kbketerangan + "</td>",
									"<td></td>",
								"</tr>"
							].join("")
						);
					}

					$("#rincian4").unmask();
				}, "json");
			}

			var get_rincian5 = function() {
				$("#rincian5").mask("Loading...");
				$.get("{{ site_url("pengadaan/get_rincian_5/" ~ id) }}", {}, function(response) {
					var data = response.data;
					var tbody = $("#rincian5").find("tbody");
					
					tbody.empty();
					for (var i = 0; i < data.length; i++) {
						var d = data[i];
						tbody.append(
							[
								"<tr>",
									"<td>",
										"<a edit kbid=" + d.kbid + " kbkoderekneraca=" + d.kbkoderekneraca + " title='Edit' style='padding: 0 10px;'>",
											"<span class='glyphicon glyphicon-pencil'></span>",
										"</a>",
										"&nbsp;",
										"<a delete kbid=" + d.kbid + " title='Hapus' style='padding: 0 10px;'>",
											"<span class='glyphicon glyphicon-trash'></span>",
										"</a>",
									"</td>",
									"<td>" + d.kbnamabarang + "</td>",
									"<td>" + d.kbalamat + "</td>",
									"<td>" + d.kbtipe + "</td>",
									"<td>" + d.kbjumlah + "</td>",
									"<td>" + d.kbhargatotalpajak + "</td>",
									"<td>" + d.kbketerangan + "</td>",
									"<td></td>",
								"</tr>"
							].join("")
						);
					}

					$("#rincian5").unmask();
				}, "json");
			}

			var get_rincian6 = function() {
				$("#rincian6").mask("Loading...");
				$.get("{{ site_url("pengadaan/get_rincian_6/" ~ id) }}", {}, function(response) {
					var data = response.data;
					var tbody = $("#rincian6").find("tbody");
					
					tbody.empty();
					for (var i = 0; i < data.length; i++) {
						var d = data[i];
						tbody.append(
							[
								"<tr>",
									"<td>",
										"<a edit kbid=" + d.kbid + " kbkoderekneraca=" + d.kbkoderekneraca + " title='Edit' style='padding: 0 10px;'>",
											"<span class='glyphicon glyphicon-pencil'></span>",
										"</a>",
										"&nbsp;",
										"<a delete kbid=" + d.kbid + " title='Hapus' style='padding: 0 10px;'>",
											"<span class='glyphicon glyphicon-trash'></span>",
										"</a>",
									"</td>",
									"<td>" + d.kbnamabarang + "</td>",
									"<td>" + d.kbalamat + "</td>",
									"<td>" + d.kbtipe + "</td>",
									"<td>" + d.kbjumlah + "</td>",
									"<td>" + d.kbhargatotalpajak + "</td>",
									"<td>" + d.kbketerangan + "</td>",
									"<td></td>",
								"</tr>"
							].join("")
						);
					}

					$("#rincian6").unmask();
				}, "json");
			}

			var get_pembayaran = function() {
				$("#pembayaran").mask("Loading...");

				$.get("{{ site_url("pengadaan/get_pembayaran/" ~ id) }}", {}, function(response) {
					pembayaran = response.data;
					
					var tbody = $("#pembayaran").find("tbody");
					tbody.empty();

					for (var i = 0; i < pembayaran.length; i++) {
						var d = pembayaran[i];
						tbody.append(
							[
								d.pbnospp == "" ? "<tr pbnospp='" + guid() + "' generate>" : "<tr pbnospp='" + Base64.encode(d.pbnospp) + "'>",
									"<td pbnosp2d pbtglsp2d='" + Base64.encode(d.pbtglsp2d) + "'>" + d.pbnosp2d + "</td>",
									"<td pbnospm>" + d.pbnospm + "</td>",
									"<td pbnilaispm style='text-align: right; '>" + d.pbnilaispm + "</td>",
									"<td pbkoderek13>" + d.pbkoderek13 + "</td>",
									"<td pburaianspm>" + d.pburaianspm + "</td>",
									"<td pbtermin>" + d.pbtermin + "</td>",
									"<td pbthnspm>" + d.pbthnspm + "</td>",
									"<td pbketerangan>" + d.pbketerangan + "</td>",
								"</tr>"
							].join("")
						);
					}

					$("#pembayaran").unmask();
				}, "json");
			}



			$("#sync").click(function() {
				$(window).scrollTop(0);
				$("body").mask("Checking...");

				var tbody = $("#pembayaran").find("tbody");
				tbody.empty();

				var no_spk_sp_dokumen = $("select[name='no_spk_sp_dokumen'] option:selected").attr("no_spk_sp_dokumen");
				var no_spm_input = $("input[name=no_spm_input]").val();

				var check_sp2d_by_spp = function(data_spp) {
					for (var i = 0; i < data_spp.length; i++) {
						var isExist = false;
						for (var j = 0; j < pembayaran.length; j++) {
							if (pembayaran[j].pbnospp == data_spp[i].No_SPP) {
								isExist = true;
								//break;
							}
						}

						// get satu-satu disini
						var dspp = data_spp[i];
						var no_spp = dspp.No_SPP;

						if (!isExist) {
							tbody.append(
								[
									"<tr pbnospp='" + Base64.encode(no_spp) + "'>",
										"<td pbnosp2d></td>",
										"<td pbnospm></td>",
										"<td pbnilaispm style='text-align: right; '></td>",
										"<td pbkoderek13></td>",
										"<td pburaianspm></td>",
										"<td pbtermin></td>",
										"<td pbthnspm></td>",
										"<td pbketerangan></td>",
									"</tr>"
								].join("")
							);
						}


						$.get("{{ site_url("pengadaan/pembayaran_spm") }}", {no_spp:no_spp }, function(response_spm){
							var data_spm = response_spm.data;
							var no_spp = response_spm.no_spp;
							var no_spm = [];
							var uraian_spm = [];

							for (var i = 0; i < data_spm.length; i++) {
								var dspm = data_spm[i];
								no_spm.push(dspm.No_SPM);
								uraian_spm.push(dspm.Uraian);
							}

							$("tr[pbnospp=" + Base64.encode(no_spp) + "]").find("td[pbnospm]").html(no_spm.join(", "));
							$("tr[pbnospp=" + Base64.encode(no_spp) + "]").find("td[pburaianspm]").html(uraian_spm.join(", "));

							for (var i = 0; i < data_spm.length; i++) {
								var dspm = data_spm[i];
								var no_spm = dspm.No_SPM;


								//get nilai SPM + Kode Rekening
								$.get("{{ site_url("pengadaan/pembayaran_spm_rinc") }}", {no_spm:no_spm }, function(response_spm_rinc){
									var data_spm_rinc = response_spm_rinc.data;
									var nilai_spm = [];
									var kode_rek = [];
									var kd_rek_1 = '';
									var kd_rek_2 = '';
									var kd_rek_3 = '';
									var kd_rek_4 = '';
									var kd_rek_5 = '';
									var uraian_belanja = '';

									for (var i = 0; i < data_spm_rinc.length; i++) {
										var dspm_rinc = data_spm_rinc[i];
										nilai_spm.push(dspm_rinc.Nilai);
										kd_rek_1 = dspm_rinc.Kd_Rek_1;
										kd_rek_2 = dspm_rinc.Kd_Rek_2;
										kd_rek_3 = dspm_rinc.Kd_Rek_3;
										kd_rek_4 = dspm_rinc.Kd_Rek_4;
										kd_rek_5 = dspm_rinc.Kd_Rek_5;

										kode_rek = [kd_rek_1, kd_rek_2, kd_rek_3, kd_rek_4, kd_rek_5].join('');

										$.get("{{ site_url("pengadaan/get_uraian_belanja") }}", {kd_rek_1:kd_rek_1, kd_rek_2:kd_rek_2, kd_rek_3:kd_rek_3, kd_rek_4:kd_rek_4, kd_rek_5:kd_rek_5}, function(response_uraian_belanja){
												uraian_belanja = response_uraian_belanja.data;
										}, "json");
									}

									$("tr[pbnospp=" + Base64.encode(no_spp) + "]").find("td[pbnilaispm]").html(nilai_spm.join(", "));
									$("tr[pbnospp=" + Base64.encode(no_spp) + "]").find("td[pbkoderek13]").html(kode_rek);
									$("tr[pbnospp=" + Base64.encode(no_spp) + "]").find("td[pburaianspm]").html(uraian_belanja);
								}, "json");


								// get sp2d
								$.get("{{ site_url("pengadaan/pembayaran_sp2d") }}", {no_spm:no_spm }, function(response_sp2d){
									var data_sp2d = response_sp2d.data;
									var no_sp2d = [];
									var ket_sp2d = [];

									for (var i = 0; i < data_sp2d.length; i++) {
										var dsp2d = data_sp2d[i];
										no_sp2d.push(dsp2d.No_SP2D);
										ket_sp2d.push(dsp2d.Keterangan);
									}

									$("tr[pbnospp=" + Base64.encode(no_spp) + "]").find("td[pbnosp2d]").html(no_sp2d.join(", "));
									$("tr[pbnospp=" + Base64.encode(no_spp) + "]").find("td[pbketerangan]").html(ket_sp2d.join(", "));

									$("tr[pbnospp=" + Base64.encode(no_spp) + "]").find("td[pbnosp2d]").attr("pbtglsp2d", Base64.encode(data_sp2d.Tgl_SP2D));
								}, "json");			
							}
						}, "json");
					}
				}

				var check_sp2d_by_spm = function(dspm_input) {
					var tbody = $("#pembayaran").find("tbody");
					var no_spp = guid();

					// get sp2d
					$.get("{{ site_url("pengadaan/pembayaran_sp2d") }}", {no_spm:dspm_input.No_SPM}, function(response_sp2d){
						var data_sp2d = response_sp2d.data;

						for (var i = 0; i < data_sp2d.length; i++) {
							var dsp2d = data_sp2d[i];

							tbody.append(
								[
									"<tr pbnospp='" + Base64.encode(no_spp) + "' generate>",
										"<td pbnosp2d pbtglsp2d=" + Base64.encode(dsp2d.Tgl_SP2D) + ">" + dsp2d.No_SP2D + "</td>",
										"<td pbnospm>" + dspm_input.No_SPM + "</td>",
										"<td pbnilaispm style='text-align: right; '></td>",
										"<td pbkoderek13></td>",
										"<td pburaianspm></td>",
										"<td pbtermin></td>",
										"<td pbthnspm>" + dsp2d.Tgl_SP2D.split("/")[0] + "</td>",
										"<td pbketerangan>" + dspm_input.Uraian + "</td>",
									"</tr>"
								].join("")
							);
						}

						//get nilai SPM + Kode Rekening
						$.get("{{ site_url("pengadaan/pembayaran_spm_rinc") }}", {no_spm:dspm_input.No_SPM}, function(response_spm_rinc){
							var data_spm_rinc = response_spm_rinc.data;
							var nilai_spm = [];
							var kode_rek = [];
							var kd_rek_1 = '';
							var kd_rek_2 = '';
							var kd_rek_3 = '';
							var kd_rek_4 = '';
							var kd_rek_5 = '';
							var uraian_belanja = '';

							for (var i = 0; i < data_spm_rinc.length; i++) {
								var dspm_rinc = data_spm_rinc[i];
								nilai_spm.push(dspm_rinc.Nilai);
								kd_rek_1 = dspm_rinc.Kd_Rek_1;
								kd_rek_2 = dspm_rinc.Kd_Rek_2;
								kd_rek_3 = dspm_rinc.Kd_Rek_3;
								kd_rek_4 = dspm_rinc.Kd_Rek_4;
								kd_rek_5 = dspm_rinc.Kd_Rek_5;

								kode_rek = [kd_rek_1, kd_rek_2, kd_rek_3, kd_rek_4, kd_rek_5].join('');

								$.get("{{site_url("pengadaan/get_uraian_belanja")}}", {kd_rek_1:kd_rek_1, kd_rek_2:kd_rek_2, kd_rek_3:kd_rek_3, kd_rek_4:kd_rek_4, kd_rek_5:kd_rek_5}, function(response_uraian_belanja){
										uraian_belanja = response_uraian_belanja.data.Nm_Rek_5;
								}, "json");

								break;
							}

							// get ke controller yg mengembalikan uraian dari input kode_rek di tabel Ref_rek_5
							// kerjakan
							$("tr[pbnospp=" + Base64.encode(no_spp) + "]").find("td[pburaianspm]").html(uraian_belanja);
							$("tr[pbnospp=" + Base64.encode(no_spp) + "]").find("td[pbnilaispm]").html(nilai_spm.join(", "));
							$("tr[pbnospp=" + Base64.encode(no_spp) + "]").find("td[pbkoderek13]").html(kode_rek);
						}, "json");
					}, "json");
				}

				for (var i = 0; i < pembayaran.length; i++) {
					var d = pembayaran[i];
					tbody.append(
						[
							d.pbnospp == "" ? "<tr pbnospp='" + guid() + "' generate>" : "<tr pbnospp='" + Base64.encode(d.pbnospp) + "'>",
								"<td pbnosp2d pbtglsp2d='" + Base64.encode(d.pbtglsp2d) + "'>" + d.pbnosp2d + "</td>",
								"<td pbnospm>" + d.pbnospm + "</td>",
								"<td pbnilaispm style='text-align: right; '>" + d.pbnilaispm + "</td>",
								"<td pbkoderek13>" + d.pbkoderek13 + "</td>",
								"<td pburaianspm>" + d.pburaianspm + "</td>",
								"<td pbtermin>" + d.pbtermin + "</td>",
								"<td pbthnspm>" + d.pbthnspm + "</td>",
								"<td pbketerangan>" + d.pbketerangan + "</td>",
							"</tr>"
						].join("")
					);
				}

				if(no_spm_input === null || no_spm_input === ''){
					$.get("{{ site_url("pengadaan/pembayaran_spp") }}", {no_spk_sp_dokumen:no_spk_sp_dokumen }, function(response_spp) {
						var data_spp = response_spp.data;

						if(data_spp.length === 0){
							$.get("{{ site_url("pengadaan/pembayaran_spp_uraian") }}", {no_spk_sp_dokumen:no_spk_sp_dokumen }, function(response_spp_uraian) {
								data_spp = response_spp_uraian.data;
								check_sp2d_by_spp(data_spp);							
							}, "json");
						} else {
							data_spp = data_spp;
							check_sp2d_by_spp(data_spp);
						}					
						
						$("body").unmask();
					}, "json");
				} else {
					$.get("{{ site_url("pengadaan/pembayaran_spm_input") }}", {no_spm_input:no_spm_input }, function(response_spm_input) {
						check_sp2d_by_spm(response_spm_input.data);
						
						$("body").unmask();
					}, "json");
				}
			});

			$("#submit").on("click", function(e) {
				var frm = $("#frmMain");
				
				var jpnomorlokasi = frm.find("select[name=jpnomorlokasi]").val();
				var jptgl = frm.find("input[name=jptgl]").val();
				var jpnobaterima = frm.find("input[name=jpnobaterima]").val();
				var jptglbaterima = frm.find("input[name=jptglbaterima]").val();
				var jpnobaperiksa = frm.find("input[name=jpnobaperiksa]").val();
				var jptglbaperiksa = frm.find("input[name=jptglbaperiksa]").val();
				var no_spk_sp_dokumen = frm.find("select[name=no_spk_sp_dokumen]").val();
				var tgl_spk_sp_dokumen = frm.find("input[name=tgl_spk_sp_dokumen]").val();
				var kode_kegiatan = frm.find("select[name=kode_kegiatan]").val();
				var id_kontrak = frm.find("input[name=id_kontrak]").val();


				var frmData = new FormData();
				frmData.append("jpnomorlokasi", jpnomorlokasi);
				frmData.append("jptgl", jptgl);
				frmData.append("jpnobaterima", jpnobaterima);
				frmData.append("jptglbaterima", jptglbaterima);
				frmData.append("jpnobaperiksa", jpnobaperiksa);
				frmData.append("jptglbaperiksa", jptglbaperiksa);
				frmData.append("no_spk_sp_dokumen", no_spk_sp_dokumen);
				frmData.append("tgl_spk_sp_dokumen", tgl_spk_sp_dokumen);
				frmData.append("kode_kegiatan", kode_kegiatan);
				frmData.append("id_kontrak", id_kontrak);
				frmData.append("is_ajax", 1);

				{% if id|length <= 1 %}
				var url = "{{ site_url("pengadaan/submit") }}";
				{% else %}
				var url = "{{ site_url("pengadaan/submit/" ~ id) }}";
				{% endif %}

				$.ajax({
					url: url,
					type: 'POST',
					data:  frmData,
					dataType: "json",
					mimeType: "multipart/form-data",
					contentType: false,
					cache: false,
					processData: false,
					success: function(response) {
						var id = response.id
						if (response.success == 1) {
							var root = $("#rincian-pembayaran");

							var deferreds = [];

							trs = root.find("tbody > tr");
							if (trs.length > 0) {
								for (var i=0; i < trs.length; i++) {
									var tr = $(trs[i]);

									deferreds.push(
										$.post("{{ site_url("pengadaan/submit_pembayaran") }}", {
											pbthnspm: tr.find("td[pbthnspm]").text(),
											pbkoderek13: tr.find("td[pbkoderek13]").text(),
											pburaianspm: tr.find("td[pburaianspm]").text(),
											pbnosp2d: tr.find("td[pbnosp2d]").text(),
											pbtglsp2d: Base64.decode(tr.find("td[pbnosp2d]").attr("pbtglsp2d")),
											pbtermin: tr.find("td[pbtermin]").text(),
											pbnospm: tr.find("td[pbnospm]").text(),
											pbtglspm: tr.find("td[pbtglspm]").text(),
											pbnospp: Base64.decode(tr.attr("pbnospp")),
											pbtglspp: tr.find("td[pbtglspp]").text(),
											pbketerangan: tr.find("td[pbketerangan]").text(),
											pbnilaispm: tr.find("td[pbnilaispm]").text(),
											jpid: {{ id }}
										}, function(response) {}, "json")
									);
								}

								$.when.apply(null, deferreds).done(function() {
						            window.location.href = "{{ site_url("pengadaan/form") }}/" + id;
						        });
							} else {
								window.location.href = "{{ site_url("pengadaan/form") }}/" + id;
							}
						} else {
							alert("Data tidak dapat disimpan!");
						}
					} 
				});

				e.preventDefault();
			});


			$.common.CallbackManager.create({name: 'get_rincian1', callback: $.Callbacks()});
			$.common.CallbackManager.getByName('get_rincian1').add(function() {
	            get_rincian1();
	        });

			$.common.CallbackManager.create({name: 'get_rincian2', callback: $.Callbacks()});
			$.common.CallbackManager.getByName('get_rincian2').add(function() {
	            get_rincian2();
	        });

	        $.common.CallbackManager.create({name: 'get_rincian3', callback: $.Callbacks()});
			$.common.CallbackManager.getByName('get_rincian3').add(function() {
	            get_rincian3();
	        });

	        $.common.CallbackManager.create({name: 'get_rincian4', callback: $.Callbacks()});
			$.common.CallbackManager.getByName('get_rincian4').add(function() {
	            get_rincian4();
	        });

	        $.common.CallbackManager.create({name: 'get_rincian5', callback: $.Callbacks()});
			$.common.CallbackManager.getByName('get_rincian5').add(function() {
	            get_rincian5();
	        });

	        $.common.CallbackManager.create({name: 'get_rincian6', callback: $.Callbacks()});
			$.common.CallbackManager.getByName('get_rincian6').add(function() {
	            get_rincian6();
	        });

			get_rincian1();
			get_rincian2();
			get_rincian3();
			get_rincian4();
			get_rincian5();
			get_rincian6();
			get_pembayaran();


			var el = $("select[name=no_spk_sp_dokumen]");
			{% if id|length > 1 %}
				el.empty().append("<option no_spk_sp_dokumen='{{ data.spk.NO_SPK_SP_DOKUMEN }}' value='{{ data.spk.ID_KONTRAK }}' rekanan='{{ data.spk.REKANAN }}' nilai_spk='{{ data.spk.NILAI_SPK }}' tgl_spk_sp_dokumen='{{ data.spk.TGL_SPK_SP_DOKUMEN }}' deskripsi_spk_dokumen='{{ data.spk.DESKRIPSI_SPK_DOKUMEN }}' id_kegiatan='{{ data.spk.ID_KEGIATAN }}'>{{ data.spk.NO_SPK_SP_DOKUMEN }}</option>");
			{% endif %}
		});
	</script>
{% endblock %}