{% extends "_templates/adminpage.html" %}

{% block content %}
<div class="container">
	<div class="col-xs-12">
		<div class="col-xs-5 pull-left">
			<select type="text" id="nomor_lokasi" class="form-control">
				<option value="">Semua SKPD</option>
			</select>
		</div>
		<div class="col-xs-1 pull-left" style="padding-left:10px; min-width:120px;">
			<select type="text" id="tahun" class="form-control">
				<option value="">Tahun</option>
			</select>
		</div>
		<div class="col-xs-3 pull-right">
			<input name="cari" type="text" class="form-control" placeholder="Pencarian" value="{{ filter }}" />
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="spacer"></div>
	<div class="row">
		<div class="col-xs-12">
			<div class="table-responsive" style="overflow:auto;">
				<div>
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th colspan="2" rowspan="2"></th>
								<th rowspan="2" style="min-width: 250px;" class="center">Rekanan</th>
								<th colspan="2" style="min-width: 250px;" class="center">SPK/SP/Kontrak</th>
								<th rowspan="2" style="min-width: 250px;" class="center">Uraian</th>
								<th colspan="2" style="min-width: 300px;" class="center">Addendum</th>
								<th colspan="2" class="center">Nilai</th>
								<th rowspan="2" style="min-width: 100px;" class="center">Tahun SPJ</th>
								<th rowspan="2" style="min-width: 300px;" class="center">Alamat Rekanan</th>
								<th rowspan="2" style="min-width: 100px;" class="center">Termin</th>
								<th rowspan="2" style="min-width: 100px;" class="center">Estimasi Termin</th>
								<th rowspan="2" style="min-width: 100px;" class="center">Addendum</th>
								<th rowspan="2" style="min-width: 200px;" class="center">Uraian Addendum</th>
								<th rowspan="2" style="min-width: 100px;" class="center">Tahun Addendum</th>
								<th rowspan="2" style="min-width: 100px;" class="center">Jumlah Termin Addendum</th>
							</tr>
							<tr>
								<th style="min-width: 25px;" class="center">Nomor</th>
								<th style="min-width: 25px;" class="center">Tanggal</th>
								<th style="min-width: 25px;" class="center">Nomor</th>
								<th style="min-width: 25px;" class="center">Tanggal</th>
								<th style="min-width: 140px;" class="center">Awal</th>
								<th style="min-width: 140px;" class="center">Addendum</th>
							</tr>
						</thead>
						<tbody>
							{% for dt in daftar %}
								<tr>
									<td width="15px;" style="text-align:center;">
										<a target="_blank" href="{{ site_url("spk/form/" ~ base64urlencode(dt.ID_KONTRAK)) }}" title="Edit">
											<span class="glyphicon glyphicon-pencil"></span>
										</a>
									</td>
									<td width="15px;" style="text-align:center;">
										<a onclick='return  confirm("Anda yakin ingin menghapus data ini ?")' href="{{ site_url("spk/hapus/" ~ dt.ID_KONTRAK) }}" title="Hapus">
											<span class="glyphicon glyphicon-trash"></span>
										</a>
									</td>
									<td>{{ dt.REKANAN }}</td>
									<td>{{ dt.NO_SPK_SP_DOKUMEN }}</td>
									<td style="text-align:center;">{{ dt.TGL_SPK_SP_DOKUMEN }}</td>
									<td>{{ dt.DESKRIPSI_SPK_DOKUMEN }}</td>
									<td>{{ dt.NO_ADD }}</td>
									<td style="text-align:center;">{{ dt.TGL_ADD }}</td>
									<td style="text-align:right;">Rp. {{ number_format(dt.NILAI_SPK, 2, ',', '.') }}</td>
									<td style="text-align:right;">Rp. {{ number_format(dt.NILAI_ADD, 2, ',', '.') }}</td>
									<td style="text-align:center;">{{ dt.TAHUN_SPJ }}</td>
									<td>{{ dt.ALAMAT_REKANAN }}</td>
									<td style="text-align:center;">{{ dt.TERMIN }}</td>
									<td style="text-align:center;">{{ dt.ESTIMASI_TERMIN }}</td>
									<td style="text-align:center;">{{ dt.ADDENDUM }}</td>
									<td>{{ dt.URAIAN_ADD }}</td>
									<td style="text-align:center;">{{ dt.TAHUN_ADD }}</td>
									<td style="text-align:center;">{{ dt.JML_TERMIN_ADD }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>

			<div id="pagination">
				{{ pagination | raw }}
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/select2.min.css") }}" />
<style type="text/css">
	.control-label{
		padding-top: 8px !important;
	}

	*[class^='col-'] {
		padding-left: 0px;
		padding-right: 0px;
	}

	select.form-control {
		height: 48px !important;
	}

	input.form-control {
		height: 34px !important;
	}

	textarea.form-control {
		height:auto !important;
	}

	.spacer {
	    margin-top: 20px;
	}
</style>
{% endblock %}



{% block scripts %}
{{ parent() }}
<script type="text/javaScript" src="{{ base_url("assets/js/accounting.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/base64.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/select2.min.js") }}"></script>
<script type="text/javaScript">
jQuery(document).ready(function($) {
	if (!String.prototype.format) {
		String.prototype.format = function() {
			var args = arguments;
			return this.replace(/{(\d+)}/g, function(match, number) { 
				return typeof args[number] != 'undefined' ? args[number] : match;
			});
		};
	}

	var delay = (function(){
		var timer = 0;
			return function(callback, ms){
			clearTimeout (timer);
			timer = setTimeout(callback, ms);
		};
	})();

	$("select").select2();


	// populasi selectbox skpd
	$.post("{{ site_url('aset/list_sub_skpd') }}", {}, function(json){				
		$.each(json.result, function (key, value) {
			$("#nomor_lokasi").append($('<option></option>').val(value.NOMOR_SUB_UNIT).html(value.NAMA_SUB_UNIT));
		});

		$("#nomor_lokasi").val("{{ nomor_lokasi }}");
	}, "json");


	//menampilkan list tahun
	for (var j=0; j<50; j++){
		$("#tahun").append($('<option></option>').val(2010+j).html(2010+j));
	}
	$("#tahun").val("{{ tahun }}");


	function cari_data() {
		var filter = $("input[name=cari]").val();
		var nomor_lokasi = $("select[id=nomor_lokasi]").val();
		var tahun = $("select[id=tahun]").val();


		var x = $.ajax({
			url: "{{ site_url('spk/pencarian') }}?filter={0}&nomor_lokasi={1}&tahun={2}".format(filter, nomor_lokasi, tahun),
			type: "POST",
			dataType: "json"
		});

		x.done(function(json) {
			var tbody = $("table > tbody");
			tbody.empty();
			
			var data = json.data;
			for(var i=0; i<data.length; i++) {
				var t = data[i];

				var enc = Base64.encode(t.ID_KONTRAK);
				
				var c = [
					'<tr>',
						'<td width="15px;" style="text-align:center;">',
							'<a target="_blank" href="{{ site_url("spk/form") }}/' + enc + '" title="Edit">',
								'<span class="glyphicon glyphicon-pencil"></span>',
							'</a>',
						'</td>',
						'<td width="15px;" style="text-align:center;">',
							'<a onclick="return confirm(\'Anda yakin ingin menghapus data ini ?\')" href="{{ site_url("spk/hapus") }}/' + enc + '" title="Hapus">',
								'<span class="glyphicon glyphicon-trash"></span>',
							'</a>',
						'</td>',
						'<td>' + t.REKANAN + '</td>',
						'<td>' + t.NO_SPK_SP_DOKUMEN + '</td>',
						'<td style="text-align:center;">' + t.TGL_SPK_SP_DOKUMEN + '</td>',
						'<td>' + t.DESKRIPSI_SPK_DOKUMEN + '</td>',
						'<td>' + t.NO_ADD + '</td>',
						'<td style="text-align:center;">' + t.TGL_ADD + '</td>',
						'<td style="text-align:right">' + accounting.formatMoney(Number(t.NILAI_SPK), "Rp. ", 2, ".", ",") + '</td>',
						'<td style="text-align:right">' + accounting.formatMoney(Number(t.NILAI_ADD), "Rp. ", 2, ".", ",") + '</td>',
						'<td style="text-align:center;">' + t.TAHUN_SPJ + '</td>',
						'<td>' + t.ALAMAT_REKANAN + '</td>',
						'<td style="text-align:center;">' + t.TERMIN + '</td>',
						'<td style="text-align:center;">' + t.ESTIMASI_TERMIN + '</td>',
						'<td style="text-align:center;">' + t.ADDENDUM + '</td>',
						'<td>' + t.URAIAN_ADD + '</td>',
						'<td style="text-align:center">' + t.TAHUN_ADD + '</td>',
						'<td style="text-align:center;">' + t.JML_TERMIN_ADD + '</td>',
					'</tr>',
				].join("\r\n");

				tbody.append(c);
			}
			
			$("div#pagination").html(json.pagination);

		});

		x.fail(function() {
			window.location.replace("{{ site_url('spk/index') }}/?filter={0}".format(filter));
		});
	}


	$("input[name=cari]").keyup(function(e) {
		 delay(function(){
		 	cari_data();
	    }, 500);
	});


	$("select[id=nomor_lokasi],select[id=tahun]").change(function() {
		cari_data();
	});
});
</script>
{% endblock %}